<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%
		<header>
            <div class="wrapper">
                <div class="logo">
                    <div class="logo__icon">
                        <img src="static/img/content/logo.svg" alt="">
                    </div>
                    <div class="logo__text">
                        Единая платформа волонтёров
                    </div>
                </div>
                <form class="search">
                    <input type="text" placeholder="Поиск (организация, проект, волонтер)">
                    <button>
                        {{Icon iconName="search"}}
                    </button>
                </form>
                <div class="lang">
                    <div class="lang__current">
                        QZ
                    </div>
                    <div class="lang__container">
                        <a href="#">РУ</a>
                        <a href="#">EN</a>
                    </div>
                </div>
                <div class="red-button">
                    Стать волонтером
                </div>
            </div>
        </header>


        <div class="merror">
            <div class="merror__back">
                {{Icon iconName="merror-2"}}
            </div>
            <div class="wrapper">
                <div class="merror__content">
                    <div class="merror__left">
                        {{Icon iconName="merror-1"}}
                    </div>
                    
                    <div class="merror__right">
                        <div class="merror__404">
                                4 <span>0</span> 4
                        </div>
                        <div class="merror__title">
                                Страница не найдена
                        </div>
                        <div class="merror__desc">
                                Такой страницы не существует, либо неправильно набран адрес. Начните с главной страницы или воспользуйтесь поиском
                        </div>
                        <a href="#" class="merror__button">
                                на главную
                        </a>
                    </div>

                </div>
            </div>
        </div>
        
        {{> popup/popup}}

        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
    </body>

</html>