<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

	<div class="l-about">
		<div class="bread">
			<div class="wrapper">
				<a href="#">Главная</a>
				{{Icon iconName="bread-arrow"}}
				<span>О нас</span>
			</div>
		</div>

		<div class="wrapper">
			<div class="l-about__content">
				
				<div class="l-about__content-wrapper">
					<div class="l-about__title">
						<h3>О нас</h3>
					</div>
					<div class="l-about__name">
						<h4>Уважаемые посетители, приветствуем вас на платформе QazVolunteer.kz</h4>
						<p>Волонтерство безвозмездно, добровольно. Это образ жизни современного цивилизованного человека. Особенно молодого.</p>
						<h5>«Быть волонтером — это больше, чем профессия»</h5>
						<p>Более ста миллионов человек участвуют сегодня в волонтерском движении по всему миру.</p>
						<img src="%=static=%img/general/about-img.png" alt="О нас">

						<h4>А что это даёт тебе?</h4>

						<div class="danger">
							{{Icon iconName="quote"}}
							<p>Будучи волонтером, мы помогаем людям. Участвуя в социальных проектах, мы делаем мир вокруг нас, пусть немного, но лучше. Участвуя, например, в экологических акциях, мы вносим свой вклад в спасение нашей планеты.</p> 							
							<p>Мы всегда осознаем, что дарим добро и поэтому сами становимся лучше. Мы начинаем ощущать себя по-другому. И отношение к нам со стороны окружающих тоже меняется. </p>
						</div>

						<p>В волонтерстве много направлений. Так, например, в Казахстане на «волне» экология, работа с животными, IT – волонтерство, помощь пожилым и людям с особыми потребностями. И каждый такой проект дает возможность найти то, что нам ближе и почувствовать себя частью большего.</p>
						<p>У волонтера длинный путь, как правило, все начинается с маленьких шагов, с небольших акций в своем городе. С опытом появляется возможность расти и участвовать в более масштабных республиканских и международных проектах и мероприятиях. Наши волонтеры активно участвовали в международной специализированной выставке ЭКСПО-2017, в Универсиаде, Саммите ОБСЕ, Астанинском экономического форуме и многих других мероприятиях.</p>
						<p>29 апреля 2019 года состоялась официальная презентация онлайн платформы в Службе Центральных Коммуникаций. Проект разработан Министерством информации и общественного развития РК совместно с ОЮЛ "Национальная Волонтерская Сеть" при поддержке гранта НАО "Центр Поддержки Гражданских Инициатив". Мы получаем уникальный опыт и жизненно-важные навыки.</p>
						<h5 class="mw">Таким образом на нашей платформе ты сможешь стать Волонтером с большой буквы!</h5>
						<a href="#" class="become-volont">Стать волонтером</a>
					</div>
				</div>

				<div class="l-about__content-news">
					{{> news-sidebar/news-sidebar}} 
				</div>

			</div>
		</div>
	</div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

</html>