<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

	<div class="bread">
		<div class="wrapper">
			<a href="#">Главная</a>
			{{Icon iconName="bread-arrow"}}
			<a href="#">Проекты</a>
			{{Icon iconName="bread-arrow"}}
			<span>Акция по сбору корма и средств для приютов с животными “Книга за корм”</span>
		</div>
	</div>

	<div class="l-action">
		<div class="wrapper">
			<div class="l-action-main">
				<div class="l-action-main-profile">
					<img src="%=static=%img/general/action-img.png" alt="Акция">

					<div class="l-action-main-social">
						<a href="#">
							{{Icon iconName="profile-facebook"}}
						</a>
						<a href="#">
							{{Icon iconName="profile-vk"}}
						</a>
						<a href="#">
							{{Icon iconName="profile-insta"}}
						</a>
						<a href="#">
							{{Icon iconName="profile-ok"}}
						</a>
					</div>

					<div class="l-action-main-contacts">
						<h4>Контакты</h4>
						<a href="mailto:assel@newhouse.kz">assel@newhouse.kz</a>
						<a href="tel:+77050000000">+7 705 000 00 00</a>
					</div>

					<!-- <div class="l-action-main-quit">
						<a href="#" class="l-quit">выйти из проекта</a>
					</div> -->
					<!-- Карточка проекта для волонтера который зарегистрировался -->
				</div>
				<div class="l-action-main-info">
					<h3 class="action-title">Акция по сбору корма и средтсв <br> для приютов с животными “Книга за корм”</h3>

					<div class="action__items">
						<div class="action__item">
							{{Icon iconName="action-calendar"}}
							<p>21.12.19 — 21.12.19</p>
						</div>
						<div class="action__item">
							{{Icon iconName="action-clock"}}
							<p>с 10:00 по 15:00</p>
						</div>
						<div class="action__item">
							{{Icon iconName="action-place"}}
							<p>г. Алматы, ул. Розыбакиева 273, ТРЦ Mega Center Almaty</p>
						</div>
						<div class="action__item">
							{{Icon iconName="action-user"}}
							<p>4/8 подтвержденных волонтеров</p>
						</div>
						<div class="action__item">
							{{Icon iconName="action-user"}}
							<p>5 откликнувшихся волонтеров</p>
						</div>
					</div>

					<h4 class="action-about">О проекте</h4>
					<p>Общественный фонд "Новый дом" проводит последнюю акцию в этом году по сбору подарков для приютов "Книга за корм". Каждый участник, который принесет подарки для животных, получит в качестве благодарности один из наших деревянных значков, сможет выбрать себе книгу из тех, что будут представлены, получить купон на скидку в сети магазинов "Меломан", а также принять участие в розыгрыше двух сертификатов.
					</p>
					<p>В холле первого этажа Меги будет организована зона по сбору корма и других пожертвований, которые после акции разлетятся по партнёрам.
					</p>
					<a href="#" class="action-tell">Рассказать о проекте</a>

					<!-- <div class="action-contacts">
						<h4>Контакты</h4>
						<a href="mailto:assel@newhouse.kz">assel@newhouse.kz</a><br>
						<a href="tel:+77050000000">+7 705 000 00 00</a>
					</div>
					<a href="#" class="action-share">Поделиться</a> -->
					<!-- Для страницы отчета о прошедшем проекте -->

				</div>
			</div>
		</div>
	</div>

	<div class="l-action-role">
		<div class="wrapper">
			<div class="l-role__title">
				<h4>Роли</h4>
			</div>
			<div class="l-role__items">
				<div class="l-role__item">
					<div class="l-role__item-title">
						<h4>Координатор волонтеров</h4>
						{{Icon iconName="action-alert"}}
					</div>
					<p>20.12.19 — 21.12.19</p>
					<p>с 10:00 по 19:00</p>
					<div class="l-role__item-closed">
						{{Icon iconName="action-user"}}
						<p>1/1 занято</p>
					</div> 
					<div class="l-role__item-buttons">
						<a href="#" class="send-app">Отозвать заявку</a>
						<a href="#" class="l-role-more">Подробнее</a>
					</div>
				</div>

				<div class="l-role__item">
					<div class="l-role__item-title">
						<h4>Ассистент мероприятия</h4>
					</div>
					<p>21.12.19 — 21.12.19</p>
					<p>с 10:00 по 15:00</p>
					<div class="l-role__item-closed">
						{{Icon iconName="action-user"}}
						<p>3/5 занято</p>
					</div>
					<div class="l-role__item-buttons">
						<a href="#" class="send-app">Подать заявку</a>
						<a href="#" class="l-role-more">Подробнее</a>
					</div>
				</div>

				<div class="l-role__item">
					<div class="l-role__item-title">
						<h4>Развозка подарков</h4>
					</div>
					<p>22.12.19 — 22.12.19</p>
					<p>с 10:00 по 12:00</p>
					<div class="l-role__item-closed">
						{{Icon iconName="action-user"}}
						<p>0/1 занято</p>
					</div>
					<div class="l-role__item-buttons">
						<a href="#" class="send-app">Подать заявку</a>
						<a href="#" class="l-role-more">Подробнее</a>
					</div>
				</div>

				<div class="l-role__item">
					<div class="l-role__item-title">
						<h4>Дизайнер сертификатов</h4>
					</div>
					<p>18.12.19 — 19.12.19</p>
					<p>с 10:00 по 12:00</p>
					<div class="l-role__item-closed">
						{{Icon iconName="action-user"}}
						<p>0/1 занято</p>
					</div>
					<div class="l-role__item-buttons">
						<a href="#" class="send-app">Подать заявку</a>
						<a href="#" class="l-role-more">Подробнее</a>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="l-action-volont">
		<div class="wrapper">
			<div class="l-action-volont-info">
				<h4>Волонтеры</h4>
				<div class="l-action-volont-photos">
					<img src="%=static=%img/general/vol1.png" alt="Волонтеры">
					<img src="%=static=%img/general/vol2.png" alt="Волонтеры">
					<img src="%=static=%img/general/vol3.png" alt="Волонтеры">
					<img src="%=static=%img/general/vol4.png" alt="Волонтеры">
				</div>
			</div>
		</div>
	</div>

	<div class="l-action-reviews">
		<div class="wrapper">
			<div class="l-action-reviews-wrap">
				<h4>Отзывы о проекте</h4>
				<form action="#" class="visible-form">
					<label>
						{{Icon iconName="rewiev-woman"}}
						<input type="text" id="review-focus" placeholder="Оставьте ваш отзыв о проекте">
					</label>
				</form>

				<div class="l-review-block">
					<div class="l-review-head">
						<img src="%=static=%img/general/vol2.png" alt="Волонтеры">
						<p>Бахыт Мухтарова</p>
					</div>
					<div class="l-review-body">
						<form action="#" class="l-hidden-form">
							<label>
								<textarea type="text" id="review-text" placeholder="Оставить отзыв"></textarea>
							</label>
							<div class="l-hidden-form-btns">
								<button class="l-rewiev-btn">отправить</button>
								<a href="#" id="review-cancel">Отменить</a>
							</div>
						</form>
					</div>
				</div>

				<!-- <div class="l-review-after">
					<div class="l-review-head">
						<img src="%=static=%img/general/vol2.png" alt="Волонтеры">
						<p>Бахыт Мухтарова</p>
					</div>
					<div class="l-review-body">
						<div class="l-review-comment">
							<span>“Помогая животным и пристраивая их в семьи, мы помогаем и людям тоже. С появлением питомца жизнь многих хозяев преображается: кто-то рассказывает о том, что собака не даёт впадать в уныние, у кого-то ребенок проникся любовью к животным</span>
						</div>
					</div>
				</div>  -->
				<!-- Для страницы отчета о прошедшем проекте -->

			</div>
		</div>
	</div>

	<div class="l-action-similar">
		<div class="wrapper">
			
			<!-- <div class="l-action-gallery">
				<h4>Галерея мероприятия</h4>
				<div class="l-action-gallery-container swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="%=static=%img/general/action-gallery-1.png" alt="Галерея мероприятия">
						</div>
						<div class="swiper-slide">
							<img src="%=static=%img/general/action-gallery-2.png" alt="Галерея мероприятия">
						</div>
						<div class="swiper-slide">
							<img src="%=static=%img/general/action-gallery-3.png" alt="Галерея мероприятия">
						</div>
						<div class="swiper-slide">
							<img src="%=static=%img/general/action-gallery-1.png" alt="Галерея мероприятия">
						</div>
						<div class="swiper-slide">
							<img src="%=static=%img/general/action-gallery-2.png" alt="Галерея мероприятия">
						</div>
						<div class="swiper-slide">
							<img src="%=static=%img/general/action-gallery-3.png" alt="Галерея мероприятия">
						</div>
					</div>
				</div>

				<div class="l-action-gallery-next"></div>
				<div class="l-action-gallery-prev"></div>
			</div> -->

			<!-- Для страницы отчета о прошедшем проекте -->

			<!-- <div class="l-action-gallery">
				<h4>Галерея мероприятия</h4>

				<div class="l-download-img">
					<p>Загрузите фото</p>
					<span>Файл в формате .jpg или .pdf</span>
					<label class="l-download-file">
						выберите фото
						<input type="file" id="l-file" class="l-file" multiple accept="image/jpeg,image/png">
					</label>

					<div class="l-download-img__items">
						<div class="l-download-img__item">
							<img src="%=static=%img/general/l-camera.png" alt="">
						</div>
						
					</div>
				</div>
			</div> -->
			<!-- Для страницы отчета о прошедшем проекте внутри кабинета -->


			<div class="l-action-similar-wrap">
				<h4>Похожие проекты</h4>
			</div>

			<div class="l-action-similar__items">

				<div class="l-action-similar__item">
					<img src="%=static=%img/general/similar-img.png" alt="Похожие проекты">

					<div class="l-similar__item-content">
						<div class="l-similar__item-flex">
							<a href="#" class="action-fullpage">Акция по пристройству кошек “С Новым годом! С новым счастьем!”</a>
							<p class="action-date">10.12.2019 10:50</p>
						</div>
						<div class="l-similar__item-text">
							<span class="action-date">21.12.19 — 21.12.19, с 10:00 по 15:00 </span>
							<span class="action-date">г. Алматы</span>
							<span class="action-date">Общественный фонд «Новый дом»</span>
						</div>
						<div class="l-similar__item-flex l-similar__item-tag">
							<div class="tag">Помощь животным</div>
							<a href="#" class="need-volont">
								Нужны волонтеры
								{{Icon iconName="action-user-plus"}}
							</a>
						</div>
					</div>
				</div>

				<div class="l-action-similar__item">
					<img src="%=static=%img/general/similar-img2.png" alt="Похожие проекты">

					<div class="l-similar__item-content">
						<div class="l-similar__item-flex">
							<a href="#" class="action-fullpage">Оказание помощи бездомным животным и работа по благоустройству приюта</a>
							<p class="action-date">10.12.2019 10:50</p>
						</div>
						<div class="l-similar__item-text">
							<span class="action-date">21.12.19 — 21.12.19, с 10:00 по 15:00 </span>
							<span class="action-date">г. Алматы</span>
							<span class="action-date">Общественный фонд «Новый дом»</span>
						</div>
						<div class="l-similar__item-flex l-similar__item-tag">
							<div class="tag">Помощь животным</div>
							<a href="#" class="need-volont">
								Нужны волонтеры
								{{Icon iconName="action-user-plus"}}
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

</html>