<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/a-header}}

	<div class="big-banner">
		<div class="big-banner-content set-bg-img">
			<div class="wrapper">
				<div class="big-banner-container new-banner-container">
					<div class="big-banner-title">
						7 Общенациональных проектов отраслевого волонтерства
					</div>
					<div class="big-banner-text">
						В рамках Плана мероприятий по проведению «Года волонтера» в текущем году запланирована реализация 7 общенациональных проектов для развития отраслевого волонтерства.
					</div>
				</div>
			</div>
			<img src="static/img/content/big-banner2.jpg" class="get-bg-img" alt="">
		</div>
	</div>

	<div class="ambassador">
		<div class="a-wrapper">
			<div class="ambassador__items">

				<div class="ambassador__vip" id="tokaev">
					<h4 class="ambassador__title">Birgemiz: Год волонтера 2020</h4>
					<img src="%=static=%img/general/ambassador-vip.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Касым-Жомарт Кемелевич Токаев</h5>
					<p class="ambassador__desc">“Волонтерство — это не просто бесплатная работа, это показатель ответственности граждан и готовность менять мир к лучшему”.</p>
				</div>

				<div class="ambassador__item">
					<h4 class="ambassador__title">Birgemiz: Bilim</h4>
					<img src="%=static=%img/general/ambassador1.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Эмин Аскеров</h5>
					<p class="ambassador__desc">помощь в подготовке к ЕНТ, обучение английскому языку, компьютерной и правовой грамотности старшеклассников средних школ в сельской местности</p>
					<a href="#" class="ambassador__more" data-popup-open="askerov">Подробнее</a>
				</div>

				<div class="ambassador__item">
					<h4 class="ambassador__title">Birgemiz: Saýlyq</h4>
					<img src="%=static=%img/general/ambassador2.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Арман Бахитович Касымов</h5>
					<p class="ambassador__desc">привлечение волонтеров в сферу охраны здоровья, оказание помощи в уходе за больными, в том числе в хосписах, онкологических диспансерах</p>
					<a href="#" class="ambassador__more" data-popup-open="kasymov">Подробнее</a>
				</div>

				<div class="ambassador__item">
					<h4 class="ambassador__title">Birgemiz: Sabaqtastyq</h4>
					<img src="%=static=%img/general/ambassador3.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Айнур Аймурзина</h5>
					<p class="ambassador__desc">наставничество детей и детей, оказавшихся в трудной жизненной ситуации в центрах социального обслуживания системы социальной защиты населения</p>
					<a href="#" class="ambassador__more" data-popup-open="aimurzina">Подробнее</a>
				</div>

				<div class="ambassador__item">
					<h4 class="ambassador__title">Birgemiz: Taza Álem</h4>
					<img src="%=static=%img/general/ambassador4.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Елдос Нурболулы Абаканов</h5>
					<p class="ambassador__desc">защита окружающей среды, очистка рек и лесов, посадка деревьев, обучение сортировке мусора</p>
					<a href="#" class="ambassador__more" data-popup-open="abakanov">Подробнее</a>
				</div>

				<div class="ambassador__item">
					<h4 class="ambassador__title">Birgemiz: Asyl mura</h4>
					<img src="%=static=%img/general/ambassador5.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Адиль Ералиевич Ахметов</h5>
					<p class="ambassador__desc">привлечение волонтеров по сохранению объектов историко-культурного наследия</p>
					<a href="#" class="ambassador__more" data-popup-open="ahmetov">Подробнее</a>
				</div>

				<div class="ambassador__item">
					<h4 class="ambassador__title">Birgemiz: Qamqor</h4>
					<img src="%=static=%img/general/ambassador6.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Гульмира Абдрашева</h5>
					<p class="ambassador__desc">привлечение волонтеров в дома престарелых, центры социального обслуживания, системы социальной защиты населения</p>
					<a href="#" class="ambassador__more" data-popup-open="abdrasheva">Подробнее</a>
				</div>

				<div class="ambassador__item">
					<h4 class="ambassador__title">Birgemiz: Úmit</h4>
					<img src="%=static=%img/general/ambassador7.png" alt="Амбассадор" class="ambassador__img">
					<h5 class="ambassador__name">Амбассадор: Айнур Ильясова</h5>
					<p class="ambassador__desc">привлечение волонтеров к проектам по поиску пропавших людей, ликвидации последствий чрезвычайных ситуаций природного и техногенного характера</p>
					<a href="#" class="ambassador__more" data-popup-open="ilyasova">Подробнее</a>
				</div>

			</div>
		</div>
		<div class="t-wrapper">
			Примечание: в графе «территориальный охват» указаны только базовые центры реализации проектов, вместе с тем проекты будут реализован во всех регионах республики.
		</div>
	</div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

</html>