<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%


	<div class="anketa">
		<div class="anketa__header">
			<div class="anketa__header-logo">
				{{Icon iconName="mail-logo"}}
				<p>Единая платформа волонтёров QazVolunteer</p>
			</div>
			<div class="anketa__header-copy">
				Создано с помощью платформы www.qazvolunteer.kz
			</div>
		</div>
		<div class="anketa__profile">
			<img src="%=static=%img/general/profile-120x120.png" alt="Профиль">
			<div class="anketa__profile-info">
				<div class="anketa-name">
					<h4>Бахыт Мухтарова</h4>
					<div>5.0</div>
					{{Icon iconName="profile-star"}}
				</div>
				<p>Во всех цивилизованных странах волонтерскую работу считают неотъемлемой частью жизни любого гражданина. Если ты в силах – ты помогаешь обществу. Это концепция социальной ответственности каждого человека. Волонтерство для меня это образ жизни современного цивилизованного человека.</p>
			</div>
		</div>

		<div class="anketa__main">
			<div class="anketa__items">
				<div class="anketa__item">
					<p>ID Волонтера: 19277</p>
					<p>Стаж: <span>3 года</span></p>
					<p>Область: <span>Алматинская</span></p>
					<p>Населенный пункт: <span>Алматы</span></p>
				</div>
				<div class="anketa__item">
					<p>Направления:</p>
					<span>Помощь пожилым</span>
					<span>Помощь детям</span>
					<span>Помощь животным</span>
					<span>Социальная помощь</span>
				</div>
				<div class="anketa__item">
					<p>Контакты:</p>
					<a href="tel:+77050000077">+7 705 000 00 77</a>
					<a href="mailto:bakhytm@gmail.com">bakhytm@gmail.com</a>
				</div>
			</div>

			<div class="anketa__projects">
				<h4>Волонтерский опыт:</h4>
				<div class="anketa__project">
					<h4>Акция по сбору корма и средств для приютов с животными “Книга за корм”</h4>
					<span>Роль: координатор волонтеров</span>
					<span>Даты: с 21.12.19 по 22.12.19</span>
					<span>Организатор: ОФ “Новый дом”</span>
					<span>Населенный пункт: г. Алматы</span>
				</div>
				<div class="anketa__project">
					<h4>Акция по сбору корма и средств для приютов с животными “Книга за корм”</h4>
					<span>Роль: координатор волонтеров</span>
					<span>Даты: с 21.12.19 по 22.12.19</span>
					<span>Организатор: ОФ “Новый дом”</span>
					<span>Населенный пункт: г. Алматы</span>
				</div>
				<div class="anketa__project">
					<h4>Акция по сбору корма и средств для приютов с животными “Книга за корм”</h4>
					<span>Роль: координатор волонтеров</span>
					<span>Даты: с 21.12.19 по 22.12.19</span>
					<span>Организатор: ОФ “Новый дом”</span>
					<span>Населенный пункт: г. Алматы</span>
				</div>
				<div class="anketa__project">
					<h4>Акция по сбору корма и средств для приютов с животными “Книга за корм”</h4>
					<span>Роль: координатор волонтеров</span>
					<span>Даты: с 21.12.19 по 22.12.19</span>
					<span>Организатор: ОФ “Новый дом”</span>
					<span>Населенный пункт: г. Алматы</span>
				</div>
			</div>
		</div>

	</div>

</body>

<style>
	.page {
		background: #E5E5E5;
	}
	.anketa {
		width: 620px;
		margin: 0 auto;
		background: #FFFFFF;
	}

	.anketa__header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 27px 30px;
	}

	.anketa__header-logo {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.anketa__header-logo img {
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}

	.anketa__header-logo p {
		margin: 0 0 0 20px;
		font-weight: normal;
		font-size: 11px;
		line-height: 140%;
		color: #76767A;
	}

	.anketa__header-copy {
		font-weight: normal;
		font-size: 11px;
		line-height: 140%;
		text-align: right;
		color: #76767A;
	}

	.anketa__profile {
		padding: 17px 30px 40px 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		border-bottom: 0.5px solid #D9D9DE;
	}

	.anketa__profile img {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		-o-object-fit: cover;
		object-fit: cover;
		-ms-flex-negative: 0;
		flex-shrink: 0;
	}

	.anketa__profile-info {
		margin-left: 59px;
	}

	.anketa__profile-info .anketa-name {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.anketa__profile-info .anketa-name > div {
		font-weight: normal;
		font-size: 13px;
		line-height: 140%;
		color: #00AFCA;
		margin: 0 5px 0 10px;
	}

	.anketa__profile-info h4 {
		font-weight: 600;
		font-size: 15px;
		line-height: 150%;
		color: #000000;
		margin: 0;
	}

	.anketa__profile-info svg {
		margin-top: -4px;
	}

	.anketa__profile-info p {
		margin: 19px 0 0 0;
		font-weight: normal;
		font-size: 11px;
		line-height: 140%;
		color: #333333;
	}

	.anketa__main {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.anketa__items {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.anketa__item {
		padding: 20px 20px 20px 30px;
		max-width: 200px;
	}

	.anketa__item:not(:last-child) {
		border-bottom: 0.5px solid #D9D9DE;
	}

	.anketa__item p {
		margin: 2px 0;
		font-weight: normal;
		font-size: 12px;
		line-height: 140%;
		color: #999999;
	}

	.anketa__item span {
		display: inline-block;
		font-weight: normal;
		font-size: 12px;
		line-height: 140%;
		color: #333333;
	}

	.anketa__item a {
		display: inline-block;
		font-weight: normal;
		font-size: 12px;
		line-height: 140%;
		color: #000000;
		margin-bottom: 4px;
	}

	.anketa__projects {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 20px;
		border-left: 0.5px solid #D9D9DE;
	}

	.anketa__projects h4 {
		margin: 0;
		font-weight: 600;
		font-size: 12px;
		line-height: 140%;
		color: #000000;
	}

	.anketa__project {
		margin-top: 25px;
	}

	.anketa__project span {
		display: block;
		margin-top: 6px;
		font-weight: normal;
		font-size: 11px;
		line-height: 140%;
		color: #000000;
	}

</style>

</html>