<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

	<div class="l-assessment">
		<div class="wrapper">
			<h4>Оцените волонтеров</h4>
			<p>Пожалуйста, оцените деятельность <b>4</b> волонтеров в проекте: <b>Акция по сбору корма и средств для приютов с животными “Книга за корм”.</b></p>
			<p>Ваша оценка повлияет на рейтинг волонтеров.</p>

			<div class="l-table">
				<form action="">
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Рекомендуете ли вы волонтера <br> на другие проекты?</th>
								<th>Как вы оцениваете вовлеченность <br> волонтера в ваш проект?</th>
								<th>Насколько деятельность волонтера <br> повлияла на результат проекта <br> от 1 до 10 баллов?</th>
								<th>Насколько волонтер следовал/а <br> правилам проекта (пунктуальность, <br> дисциплина)?</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="table-profile">
										<img src="%=static=%img/general/vol2.png" alt="Волонтер">
										<div class="table-profile-text">
											<h4>Бахыт Мухтарова</h4>
											<span>ID Волонтера: 19277</span>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rec" id="radio1">
											<label for="radio1">Не рекомендую</label>
										</div>
										<div>
											<input type="radio" name="rec" id="radio2">
											<label for="radio2">Рекомендую</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="level" id="radio3">
											<label for="radio3">Низкая</label>
										</div>
										<div>
											<input type="radio" name="level" id="radio4">
											<label for="radio4">Средняя</label>
										</div>
										<div>
											<input type="radio" name="level" id="radio5">
											<label for="radio5">Высокая</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rating" id="radio6">
											<label for="radio6">1-4</label>
										</div>
										<div>
											<input type="radio" name="rating" id="radio7">
											<label for="radio7">5-8</label>
										</div>
										<div>
											<input type="radio" name="rating" id="radio8">
											<label for="radio8">9-10</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="follow" id="radio9">
											<label for="radio9">Не следовал/a</label>
										</div>
										<div>
											<input type="radio" name="follow" id="radio10">
											<label for="radio10">Следовал/a</label>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<div class="table-profile">
										<img src="%=static=%img/general/vol5.png" alt="Волонтер">
										<div class="table-profile-text">
											<h4>Юрий Долгорукий</h4>
											<span>ID Волонтера: 18257</span>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rec1" id="radio11">
											<label for="radio11">Не рекомендую</label>
										</div>
										<div>
											<input type="radio" name="rec1" id="radio12">
											<label for="radio12">Рекомендую</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="level1" id="radio13">
											<label for="radio13">Низкая</label>
										</div>
										<div>
											<input type="radio" name="level1" id="radio14">
											<label for="radio14">Средняя</label>
										</div>
										<div>
											<input type="radio" name="level1" id="radio15">
											<label for="radio15">Высокая</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rating1" id="radio16">
											<label for="radio16">1-4</label>
										</div>
										<div>
											<input type="radio" name="rating1" id="radio17">
											<label for="radio17">5-8</label>
										</div>
										<div>
											<input type="radio" name="rating1" id="radio18">
											<label for="radio18">9-10</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="follow1" id="radio19">
											<label for="radio19">Не следовал/a</label>
										</div>
										<div>
											<input type="radio" name="follow1" id="radio20">
											<label for="radio20">Следовал/a</label>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<div class="table-profile">
										<img src="%=static=%img/general/vol6.png" alt="Волонтер">
										<div class="table-profile-text">
											<h4>Асель Иманова</h4>
											<span>ID Волонтера: 19287</span>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rec2" id="radio21">
											<label for="radio21">Не рекомендую</label>
										</div>
										<div>
											<input type="radio" name="rec2" id="radio22">
											<label for="radio22">Рекомендую</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="level2" id="radio23">
											<label for="radio23">Низкая</label>
										</div>
										<div>
											<input type="radio" name="level2" id="radio24">
											<label for="radio24">Средняя</label>
										</div>
										<div>
											<input type="radio" name="level2" id="radio25">
											<label for="radio25">Высокая</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rating2" id="radio26">
											<label for="radio26">1-4</label>
										</div>
										<div>
											<input type="radio" name="rating2" id="radio27">
											<label for="radio27">5-8</label>
										</div>
										<div>
											<input type="radio" name="rating2" id="radio28">
											<label for="radio28">9-10</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="follow2" id="radio29">
											<label for="radio29">Не следовал/a</label>
										</div>
										<div>
											<input type="radio" name="follow2" id="radio30">
											<label for="radio30">Следовал/a</label>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td>
									<div class="table-profile">
										<img src="%=static=%img/general/vol7.png" alt="Волонтер">
										<div class="table-profile-text">
											<h4>Иван Миллер</h4>
											<span>ID Волонтера: 15857</span>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rec3" id="radio31">
											<label for="radio31">Не рекомендую</label>
										</div>
										<div>
											<input type="radio" name="rec3" id="radio32">
											<label for="radio32">Рекомендую</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="level3" id="radio33">
											<label for="radio33">Низкая</label>
										</div>
										<div>
											<input type="radio" name="level3" id="radio4">
											<label for="radio4">Средняя</label>
										</div>
										<div>
											<input type="radio" name="level3" id="radio35">
											<label for="radio35">Высокая</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rating3" id="radio36">
											<label for="radio36">1-4</label>
										</div>
										<div>
											<input type="radio" name="rating3" id="radio37">
											<label for="radio37">5-8</label>
										</div>
										<div>
											<input type="radio" name="rating3" id="radio38">
											<label for="radio38">9-10</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="follow3" id="radio39">
											<label for="radio39">Не следовал/a</label>
										</div>
										<div>
											<input type="radio" name="follow3" id="radio40">
											<label for="radio40">Следовал/a</label>
										</div>
									</div>
								</td>
							</tr>

						</tbody>
					</table>

					<button class="">оценить волонтеров</button>
				</form>

				<div class="form-success">
					Оценки отправлены волонтерам
				</div>
			</div>

			<div class="l-thanks">
				<h4>Поблагодарите волонтеров</h4>
				<p>Вы можете выслать благодарственное письмо участникам проекта: <b>Акция по сбору корма и средств для приютов с животными “Книга за корм”.</b></p>

				<form action="#" class="volont-mail">
					<div class="l-radios">
						<div class="l-radios-inp">
							<input type="radio" name="textinp" id="randomText">
							<label for="randomText">Произвольный текст</label>
						</div>
						<div class="l-radios-inp">
							<input type="radio" name="textinp" id="standartText">
							<label for="standartText">Стандартный текст</label>
						</div>
					</div>
					<div class="l-blocks">

						<div class="l-blocks-item">
							<img src="%=static=%img/general/header-block.png" alt="">
							<div class="l-blocks-item-text">
								<p>Выражаем благодарность и признательность</p>
								<h4>Бахыт Мухтаровой</h4>
								<span>за помощь в проекте Акция по сбору корма и средств для приютов с животными “Книга за корм”, который прошел 21 декабря 2019 г.</span>
								<h5>ОФ “Новый дом”</h5>

								<div class="l-together">
									<div class="l-together-item">
										Вместе сделаем Казахстан добрее
									</div>
									<a href="http://qazvolunteer.kz">qazvolunteer.kz</a>
								</div>
							</div>
						</div>

						<div class="l-blocks-item">
							<img src="%=static=%img/general/header-block.png" alt="">
							<div class="l-blocks-item-text">
								<p>Выражаем благодарность и признательность</p>
								<h4>Бахыт Мухтаровой</h4>
								<textarea placeholder="введите текст благодарности"></textarea>
								<h5>ОФ “Новый дом”</h5>

								<div class="l-together">
									<div class="l-together-item">
										Вместе сделаем Казахстан добрее
									</div>
									<a href="http://qazvolunteer.kz">qazvolunteer.kz</a>
								</div>
							</div>
						</div>

					</div>

					<button>поблагодарить волонтеров</button>
				</form>
				<div class="form-success">
					Благодарность отправлена волонтерам
				</div>
			</div>
		</div>
	</div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

<style>
	.l-assessment {
		padding-bottom: 50px;
	}

	.l-assessment h4 {
		margin: 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
		margin-bottom: 24px;
	}

	.l-assessment p {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		margin: 0;
	}

	.l-assessment p b {
		font-weight: 600;
	}

	.l-table {
		margin-top: 30px;
		padding-bottom: 50px;
	}

	.l-table table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}

	.l-table table thead {
		background: #F5F5F7;
		-webkit-box-shadow: 4px 4px 16px rgba(209, 205, 199, 0.6);
		box-shadow: 4px 4px 16px rgba(209, 205, 199, 0.6);
		vertical-align: top;
	}

	.l-table table thead th {
		font-weight: normal;
		font-size: 12px;
		line-height: 140%;
		color: #333333;
		padding: 14px 0;
		width: 223px;
		text-align: left;
	}

	.l-table table tbody {
		vertical-align: top;
	}

	.l-table table tbody tr {
		border-bottom: 1px solid #D9D9DE;
	}

	.l-table table tbody td {
		padding: 43px 0;
	}

	.l-table table tbody td .table-profile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-table table tbody td .table-profile img {
		width: 50px;
		height: 50px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.l-table table tbody td .table-profile-text {
		margin-left: 15px;
	}

	.l-table table tbody td .table-profile-text h4 {
		margin: 0;
		font-weight: 500;
		font-size: 13px;
		line-height: 146%;
		color: #000000;
		text-align: left;
	}

	.l-table table tbody td .table-profile-text span {
		font-weight: normal;
		font-size: 13px;
		line-height: 146%;
		color: #999999;
		text-align: left;
	}

	.l-table table tbody td .table-radio {
		margin-top: 10px;
	}

	.l-table table tbody td .table-radio > div:not(:last-child) {
		margin-bottom: 10px;
	}

	.l-table table tbody td .table-radio label {
		font-weight: normal;
		font-size: 12px;
		line-height: 140%;
		color: #333333;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.l-table table tbody td .table-radio label::before {
		content: '';
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #D9D9DE;
		margin-right: 10px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-table table tbody td .table-radio input[type="radio"] {
		display: none;
		position: absolute;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0;
	}

	.l-table table tbody td .table-radio input[type="radio"]:checked + label::before {
		content: '\2022';
		border: 1px solid #00AFCA;
		font-size: 24px;
		color: #00AFCA;
	}

	.l-table table tbody td .table-radio input[type="radio"]:not(:checked) + label:hover::before {
		background: #F5F5F5;
		border: 1px solid #D9D9DE;
		-webkit-box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
		box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
	}

	.l-table form {
		text-align: right;
	}

	.l-table form button {
		border: none;
		background: #00AFCA;
		border-radius: 2px;
		padding: 16px 24px;
		font-weight: normal;
		font-size: 13px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-top: 35px;
	}

	.l-thanks {
		padding: 50px 0 0 0;
	}

	.l-thanks h4 {
		margin: 0 0 24px 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
	}

	.l-thanks p {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		margin: 0;
	}

	.l-thanks p b {
		font-weight: 500;
	}

	.l-thanks .volont-mail {
		margin-top: 36px;
	}

	.l-thanks .volont-mail .l-radios {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-thanks .volont-mail .l-radios-inp {
		margin-right: 20px;
	}

	.l-thanks .volont-mail .l-radios label {
		font-weight: normal;
		font-size: 12px;
		color: #333333;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.l-thanks .volont-mail .l-radios label::before {
		content: '';
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #D9D9DE;
		margin-right: 10px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-thanks .volont-mail .l-radios input[type="radio"] {
		display: none;
		position: absolute;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0;
	}

	.l-thanks .volont-mail .l-radios input[type="radio"]:checked + label::before {
		content: '\2022';
		border: 1px solid #00AFCA;
		font-size: 34px;
		color: #00AFCA;
	}

	.l-thanks .volont-mail .l-radios input[type="radio"]:not(:checked) + label:hover::before {
		background: #F5F5F5;
		border: 1px solid #D9D9DE;
		-webkit-box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
		box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
	}

	.l-thanks .volont-mail .l-blocks {
		margin-top: 70px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.l-thanks .volont-mail .l-blocks-item {
		background: #FFFFFF;
		-webkit-box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.35), -6px -6px 16px rgba(209, 205, 199, 0.35);
		box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.35), -6px -6px 16px rgba(209, 205, 199, 0.35);
		max-width: 49%;
	}

	.l-thanks .volont-mail .l-blocks-item-text {
		padding: 40px 0 20px 0;
		text-align: center;
	}

	.l-thanks .volont-mail .l-blocks-item p {
		font-weight: normal;
		font-size: 15px;
		line-height: 150%;
		color: #333333;
		margin: 0;
	}

	.l-thanks .volont-mail .l-blocks-item h4 {
		margin: 16px 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
	}

	.l-thanks .volont-mail .l-blocks-item span {
		display: inline-block;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 150%;
		color: #333333;
		max-width: 433px;
		margin: 0 auto;
		text-align: left;
	}

	.l-thanks .volont-mail .l-blocks-item textarea {
		border: 0.5px dashed #999999;
		width: 433px;
		resize: none;
		padding: 5px;
		min-height: 68px;
	}

	.l-thanks .volont-mail .l-blocks-item h5 {
		font-weight: 500;
		font-size: 13px;
		line-height: 146%;
		color: #333333;
		margin: 16px 0 0 0;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-top: 40px;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together a {
		display: inline-block;
		margin-left: 40px;
		font-weight: 500;
		font-size: 15px;
		line-height: 150%;
		color: #333333;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together-item {
		background: #00AFCA;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		height: 40px;
		width: 375px;
		position: relative;
		text-align: center;
		line-height: 40px;
		font-weight: 500;
		font-size: 15px;
		color: #FFFFFF;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together-item::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0px;
		top: 0px;
		right: -39px;
		border: 20px solid transparent;
		border-left: 20px solid #00AFCA;
	}

	.l-thanks form {
		text-align: right;
	}

	.l-thanks form button {
		border: none;
		background: #00AFCA;
		border-radius: 2px;
		padding: 16px 24px;
		font-weight: normal;
		font-size: 13px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-top: 35px;
	}

	.form-success {
		background: #29B58C;
		display: inline-block;
		border-radius: 2px;
		padding: 15px 80px;
		font-weight: 500;
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		position: absolute;
		right: 0;
	}

	@media (min-width: 800px) and (max-width: 1199px) {
		.l-table {
			overflow: hidden;
			overflow-x: scroll;
		}
		.l-table form {
			width: max-content;
		}
		.l-thanks .volont-mail .l-blocks-item span {
			max-width: 290px;
		}
		.l-thanks .volont-mail .l-blocks-item .l-together-item {
			width: 200px;
			font-size: 13px;
		}
		.l-thanks .volont-mail .l-blocks-item textarea {
			width: 290px;
			min-height: 88px;
		}
		.l-mail {
			height: auto;
		}
	}	

	@media (min-width: 319px) and (max-width: 799px) {
		.l-about__content-wrapper {
			max-width: 100%;
		}
		.l-about__content {
			flex-direction: column;
		}
		.l-about__name h4 {
			font-size: 22px;
			margin: 20px 0 0 0;
		}
		.l-about__name .danger {
			padding: 20px 15px;
		}
		.l-about__name .danger svg {
			top: -5px;
			left: 5px;
		}
		.l-about__content-news {
			max-width: 100%;
			margin-top: 20px;
		}
		.l-about__content-news .l-last__news-item {
			padding: 15px 15px 0 15px;
		}
		.l-about__content-news form button {
			width: 140px;
		}
		.l-about__content-news form input {
			padding-left: 10px;
			padding-right: 150px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.l-action-main {
			max-width: 100%;
			flex-direction: column;
		}
		.l-action-main-info {
			margin-left: 0;
			margin-top: 20px;
		}
		.l-action-main-profile {
			max-width: 100%;
			text-align: center;
		}
		.l-action-main-info .action-title br {
			display: none;
		}
		.l-action-main-info .action__item svg {
			flex-shrink: 0;
		}
		.l-action-role .l-role__items {
			flex-direction: column;
		}
		.l-action-role .l-role__item {
			max-width: 100%;
		}
		.l-action-role .l-role__item:not(:last-child) {
			margin-right: 0;
			margin-bottom: 20px;
		}
		.l-action-role .l-role__item h4 {
			max-width: 80%;
		}
		.l-action-volont-photos img {
			margin: 10px;
		}
		.l-action-reviews-wrap form.visible-form input {
			overflow: hidden;
			text-overflow: ellipsis;
			height: 60px;
		}
		.l-action-reviews-wrap .l-review-head {
			padding: 15px 0;
		}
		.l-action-similar__item .l-similar__item-flex {
			flex-wrap: wrap;
		}
		.l-action-similar__item .l-similar__item-content .action-date {
			margin-top: 5px;
		}
		.l-action-similar__item .l-similar__item-flex .tag {
			margin-bottom: 15px;
		}
		.l-action-similar {
			padding: 30px 0;
		}
		.l-action {
			margin-top: 0;
		}
		.l-table {
			overflow: hidden;
			overflow-x: scroll;
		}
		.l-table form {
			width: max-content;
		}
		.form-success {
			padding: 15px;
			font-size: 11px;
		}
		.l-thanks .volont-mail .l-radios {
			flex-wrap: wrap;
		}
		.l-thanks .volont-mail .l-radios-inp {
			margin-bottom: 10px;
		}
		.l-thanks .volont-mail .l-radios label::before {
			flex-shrink: 0;
		}
		.l-thanks .volont-mail .l-blocks {
			flex-direction: column;
			margin-top: 20px;
		}
		.l-thanks .volont-mail .l-blocks-item {
			max-width: 100%;
			margin-bottom: 20px;
		}
		.l-thanks .volont-mail .l-blocks-item span {
			max-width: 90%;
		}
		.l-thanks .volont-mail .l-blocks-item .l-together {
			flex-direction: column;
			align-items: flex-start;
		}
		.l-thanks .volont-mail .l-blocks-item .l-together-item {
			width: 90%;
			font-size: 12px;
		}
		.l-thanks .volont-mail .l-blocks-item textarea {
			width: 90%;
		}
		.l-thanks .volont-mail .l-blocks-item .l-together a {
			margin-left: auto;
			margin-right: 15px;
			margin-top: 10px;
		}

		.l-thanks form button {
			margin-top: 15px;
		}
		.l-mail {
			height: auto;
		}
		.l-mail-msg {
			max-width: 95%;
			margin: 19px auto 0 auto;
		}
		.l-mail-msg .become-volont {
			width: 100%;
			margin-left: 0;
			transform: translateY(0);
		}
		.l-mail-info {
			flex-direction: column;
			align-items: center;
		}
	}
</style>

</html>