<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}

        <div class="best">
            <div class="wrapper">
                <div class="best__top main-title">
                        Новости Казахстана
                </div>
                <div class="best__container">
                    <div class="best__content">
                        <div class="html">
                            <h2>
                                    ОЮЛ  «Национальная волонтерская сеть» объявляет конкурс «Лучший волонтер Казахстана  2019 года»
                            </h2>

                        </div>
                        <div class="concurs">
                            <div class="concurs__title">
                                    Конкурс проводится с 24 октября  по 18 ноября 2019 года в четыре этапа:
                            </div>
                            <div class="concurs__list">
                                <li>
                                    заявочный этап: с 24 октября по 5 ноября 2019 года
                                </li>
                                <li>
                                    заочный этап, технический отбор: с 5 по 10 ноября 2019 года
                                </li>
                                <li>
                                    полуфинал, отбор конкурсной комиссией: с 10 по 15 ноября 2019 года
                                </li>
                                <li>
                                    финал, подведение итогов: с 15 по 18 ноября 2019 года.
                                </li>
                                <li>
                                    вывеска результатов: 20 ноября
                                </li>
                            </div>
                            <div class="concurs__bottom">
                                <div class="concurs__text">Чтобы подать заявку нужно заполнить форму</div>
                                <a href="#" class="concurs__button">
                                        подать заявку
                                </a>
                            </div>
                        </div>

                        <div class="html">
                            <p>
                                    На заочном этапе будут отобраны 60 человек из 17 регионов Казахстана, которые получат возможность участвовать на церемонии награждения победителей.
                            </p>
                            <p> 
                                В полуфинал выйдут 30 лучших из лучших, среди которых кто-то займёт 3, 2 или 1 места.
                                Вручение премии «Лучший волонтер Казахстана–2019» состоится в рамках Международного форума волонтеров, который пройдет с 11 по 12 декабря 2019 года в г.Нур-Султан.
                            </p>

                            <h2>Номинации </h2>

                            <ol>
                                <li>«Socio-волонтер» </li>
                                <li>«Ethno-волонтер»</li>
                                <li>«Event-волонтер» </li>
                                <li>«Eco-волонтер»</li>
                                <li>«Media-волонтер»</li>
                                <li>«Волонтер по работе с животными»</li>
                                <li>«Корпоративный волонтер»</li>
                                <li>«Международный волонтер»</li>
                                <li>«Волонтер в направлении ЧС»</li>
                                <li>«Волонтер в сфере медицины»</li>
                            </ol>

                        </div>
                        
                        
                    </div>

                    <div class="best__sidebar-container">
                        {{> news-sidebar/news-sidebar}}
                    </div>
                    
                </div>
            </div>
        </div>

        {{> popup/popup}}
        

        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
    </body>

</html>