<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}

    {{> bread/bread}}

    <div class="contacts__title">
        <div class="wrapper">
            Контакты
        </div>
    </div>

    <div class="cntcts">
        <div class="cntcts__container tabs">
            <div class="wrapper">
                <div class="cntcts__top tabs-container">
                    <a href="#tab1" class="tab active">Головной офис</a>
                    <a href="#tab2" class="tab">Центры поддержки волонтеров</a>
                    <a href="#tab3" class="tab">Горячии линии </a>
                </div>
            </div>

            <div class="cntcts__content">
                <div class="cntcts__tab cont-tab active" id="tab1">
                    <div class="contacts__item active">
                        <div class="contacts__map">
                            <div id="map" class="map" data-icon-url="https://qazvolunteer.kz/new/img/minified-svg/place.svg"
                                data-lat="51.162285" data-lng="71.406623">
                            </div>
                            <div class="wrapper">
                                <div class="contacts__content">
                                    <div class="contacts__title-2">
                                        Адрес
                                    </div>
                                    <div class="contacts__desc">
                                        010000, Республика Казахстан, г. Нур-Султан, Сарыаркинский район, ул. Кенесары, 8, 14 этаж;
                                        20, 21 офис
                                        010017,Республика Казахстан, г. Нур-Султан, Есильский район, Тематический павильон ЭКСПО
                                        С2.4
                                    </div>
                                    <a href="mailto:qazvolunteers@gmail.com" class="contacts__mail">
                                        qazvolunteers@gmail.com
                                    </a>
                                    <div class="contacts__soc">
                                        <a href="https://www.facebook.com/kzvolontery" target="_blank" rel="noref nofollow" class="">
                                            <svg class="icon__news-fb" width="32px" height="32px">
                                                <use xlink:href="#news-fb"></use>
                                            </svg>
                                        </a>
                                        <a href="https://vk.com/kz_nvs" target="_blank" rel="noref nofollow" class="">
                                            <svg class="icon__news-vk" width="32px" height="32px">
                                                <use xlink:href="#news-vk"></use>
                                            </svg>
                                        </a>
                                        <a href="https://www.instagram.com/kz_nvs/" target="_blank" rel="noref nofollow" class="">
                                            <svg class="icon__news-inst" width="32px" height="32px">
                                                <use xlink:href="#news-inst"></use>
                                            </svg>
                                        </a>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cntcts__tab cont-tab" id="tab2">
                    <div class="wrapper">
                        <div class="cntcts__table-1">
                            <table>
                                <tr>
                                    <th>ФИО </th>
                                    <th>Управление/Департамент </th>
                                    <th>Должность </th>
                                    <th>Контакты </th>
                                </tr>
                                <tr>
                                    <td colspan="4" class="td-city">Актюбинская область</td>
                                </tr>
                                <tr>
                                    <td>Махамбетов Мейрамбек Жанболатович</td>
                                    <td>ГУ «Управление по вопросам молодежной политики Актюбинской области»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="tel:87132548767">8 (7132)-54-87-67</a></td>
                                </tr>
                                
                                <tr>
                                    <td>Қамбар Аяжан Қамбарқызы</td>
                                    <td>ГУ «Управление по вопросам молодежной политики Актюбинской области»</td>
                                    <td>Главный специалист</td>
                                    <td><a href="tel:87132548774">8 (7132)-54-87-74</a></td>
                                </tr>
                                
                                <tr>
                                    <td>Купенов Айбек
                                        Мураткалиевич
                                    </td>
                                    <td>ГУ «Управление внутренней политики Актюбинской области»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="tel:87132562669">8 (7132)-56-26-69</a></td>
                                </tr>
                                
                                <tr>
                                    <td colspan="4" class="td-city">Алматинская область</td>
                                </tr>

                                <tr>
                                    <td>Каратас Жомарт Мандатович</td>
                                    <td>ГУ «Управление по вопросам молодежной политики Алматинской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="tel:87282400993">8 (7282)-40-09-93</a></td>
                                </tr>

                                <tr>
                                    <td>Улан Боранбайулы</td>
                                    <td>ГУ «Управление по вопросам молодежной политики Алматинской области»</td>
                                    <td>Руководитель отдела</td>
                                    <td><a href="tel:87282401031">8 (7282)-40-10-31</a></td>
                                </tr>

                                <tr>
                                    <td>Жанадилов Дидар Айдарович</td>
                                    <td>ГУ «Управление по вопросам молодежной политики Алматинской области»</td>
                                    <td>Главный специалист</td>
                                    <td><a href="tel:87282412163">8 (7282)-41-21-63</a></td>
                                </tr>

                                <tr>
                                    <td>Алпысбаев Рустам Алиевич</td>
                                    <td>ГУ «Управление внутренней политики Алматинской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="te:87282402212">8 (7282)- 40-22-12</a></td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="td-city">Алматинская область</td>
                                </tr>

                                <tr>
                                    <td>Бейсенқұлов
                                    Дауыл Ынтықбайұлы
                                    </td>
                                    <td>ГУ «Управление внутренней политики акимата Жамбылской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="tel:87262430854">8 (7262)-43-08-54</a></td>
                                </tr>

                                <tr>
                                    <td>Берікқожа
                                            Серікбол Қаратұлы
                                            </td>
                                    <td>ГУ «Управление по вопросам молодежной политики акимата Жамбылской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="87262454599">8 (7262)-45-45-99</a></td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="td-city">Западно-Казахстанская область</td>
                                </tr>

                                <tr>
                                    <td>Ораш Нұрхат Серікқалиұлы</td>
                                    <td>ГУ «Управление по вопросам молодежной политики Западно-Казахстанской области»</td>
                                    <td>Вр.и.о. руководителя</td>
                                    <td><a href="tel:87112311828">87112311828</a></td>
                                </tr>

                                <tr>
                                    <td>Даумов Нурлыбек Жаскайратович</td>
                                    <td>ГУ «Управление внутренней политики Западно-Казахстанской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="tel:87112500236">87112500236</a></td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="td-city">Карагандинская область</td>
                                </tr>

                                <tr>
                                    <td>Жетпісбаев Нұржан Арғынұлы</td>
                                    <td>ГУ «Управление по вопросам молодежной политики Карагиндинской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="#">87212400788</a></td>
                                </tr>

                                <tr>
                                    <td>Құсайын Ерлан Бейсенбайұлы</td>
                                    <td>ГУ «Управление внутренней политики Карагандинской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="#">8 (7212)-56-19-80</a></td>
                                </tr>

                                <tr>
                                    <td>Туяков Маргулан Уалиевич</td>
                                    <td>ГУ «Молодежный ресурсный центр Карагандинской области»</td>
                                    <td>Заместитель директора</td>
                                    <td><a href="#">8 (7212)-40-21-33</a></td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="td-city">Костанайская область</td>
                                </tr>

                                <tr>
                                    <td>  Байменова Зауре Ануарбековна  </td>
                                    <td>ГУ «Управление внутренней политики акимата Костанайской области»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (7142)-57-51-90</a></td>
                                </tr>

                                <tr>
                                    <td>Журкабаев Марат Кенжебекович</td>
                                    <td>ГУ «Управление молодежной политики акимата Костанайской области»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (7142)-39-21-46</a></td>
                                </tr>

                                
                                <tr>
                                    <td colspan="4" class="td-city">Кызылординская область</td>
                                </tr>

                                <tr>
                                    <td>Мамбетов
                                            Берик Пернебаевич
                                            </td>
                                    <td>ГУ «Управление внутренней политики Кызылординской области»</td>
                                    <td>Руководитель отдела по работе с институтами гражданского общества</td>
                                    <td><a href="#">8 (7242)-60-53-22</a></td>
                                </tr>

                                <tr>
                                    <td>Мыкбасов
                                            Нуркен Габитович
                                            </td>
                                    <td>ГУ «Управление по вопросам молодежной политики Кызылординской области»</td>
                                    <td>Руководитель отдела по работе с молодежью и молодежными организациями</td>
                                    <td><a href="#">8 (7242)-30-10-71</a></td>
                                </tr>
                                
                                <tr>
                                    <td colspan="4" class="td-city">Мангистауская область</td>
                                </tr>
                                
                                <tr>
                                    <td>Кумискалиев Ержан Копжасарович</td>
                                    <td>ГУ «Управление внутренней политики Мангистауской области»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (7292)-42-13-00</a></td>
                                </tr>
                                
                                <tr>
                                    <td>Борангул Максат Хыдыргельдыулы</td>
                                    <td>ГУ «Управление
                                            внутренней политики Мангистауской области»
                                            </td>
                                    <td>Руководитель отдела по работе с молодежью</td>
                                    <td><a href="#">8 (7292)-33-55-19</a></td>
                                </tr>
                               
                                <tr>
                                    <td colspan="4" class="td-city">Павлодарская область</td>
                                </tr>
                                
                                <tr>
                                    <td>Капенов Бауржан Абуталипович</td>
                                    <td>ГУ «Управление информации и общественного развития Павлодарской области»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (7182)-32-21-19</a></td>
                                </tr>
                                
                                <tr>
                                    <td>Тлеулесов Руслан Кайратович</td>
                                    <td>ГУ «Управление информации и общественного развития Павлодарской области»</td>
                                    <td>Заместитель руководителя</td>
                                    <td><a href="#">8 (7182)-32-21-19</a></td>
                                </tr>

                                <tr>
                                    <td>Краснощеков Роман Николаевич</td>
                                    <td>ГУ «Отдел по делам молодежи и семьи УИОР»</td>
                                    <td>Главный специалист</td>
                                    <td><a href="#">8 (7182)- 66-29-26</a></td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="td-city">Северо-Казахстанская область</td>
                                </tr>

                                <tr>
                                    <td>8 (7182)- 66-29-26</td>
                                    <td>ГУ «Управление по вопросам молодежной политики акимата Северо-Казахстанской области»</td>
                                    <td>Руководитель</td>
                                    <td><a href="#">8 (7152)- 500-160</a></td>
                                </tr>

                                <tr>
                                    <td>Джолмуханова Жангуль Сериковна</td>
                                    <td>ГУ «Управление внутренней политики Северо-Казахстанской области»</td>
                                    <td>Заместитель руководителя</td>
                                    <td><a href="#">8 (7152)- 46 93 41</a></td>
                                </tr>

                                <tr>
                                    <td colspan="4" class="td-city">Город Шымкент</td>
                                </tr>

                                <tr>
                                    <td>Калтаев Джандос Тулембекович</td>
                                    <td>ГУ «Управление по делам семьи, детей и молодежи»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (7252)-24-74-85</a></td>
                                </tr>

                                <tr>
                                    <td>Бектаева Жанар Алибековна</td>
                                    <td>ГУ «Управление внутренней политики и по делам религий»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (7252)-24-74-75</a></td>
                                </tr>
                                
                                <tr>
                                        <td colspan="4" class="td-city">Акмолинская область</td>
                                    </tr>
    

                                <tr>
                                    <td>Амренова Алтынай Байкадамовна</td>
                                    <td>ГУ «Управление внутренней политики»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (7162)-72-20-01</a></td>
                                </tr>

                                <tr>
                                    <td>Нукенов Алмат Толегенович</td>
                                    <td>ГУ «Управление внутренней политики»</td>
                                    <td>Руководитель отдела по делам молодежи</td>
                                    <td><a href="#">8 (7162)-40-12-07</a></td>
                                </tr>

                                 
                                <tr>
                                        <td colspan="4" class="td-city">Город Алматы</td>
                                    </tr>

                                <tr>
                                    <td>Кудайбергенов Орынбасар Куатович</td>
                                    <td>ГУ «Управление общественного развития города Алматы»</td>
                                    <td>Руководитель отдела устойчивого развития молодежи и семьи Управления общественного развития города Алматы</td>
                                    <td><a href="#">8 (7272)-62-27-08</a></td>
                                </tr>
                                <tr>
                                        <td colspan="4" class="td-city">Атырауская область</td>
                                    </tr>

                                <tr>
                                    <td>Мендакулова Гульбаршын Ерсаиновна</td>
                                    <td>ГУ «Управление Внутренней политики Атырауской области»</td>
                                    <td>Начальника отдела</td>
                                    <td><a href="#">8 (7122)-27-08-99</a></td>
                                </tr>

                                <tr>
                                    <td>Утеулиева Айнур Нурмухановна</td>
                                    <td>ГУ «Управление Внутренней политики Атырауской области»</td>
                                    <td>Главный специалист</td>
                                    <td><a href="#">8 (7122)-27-08-97</a></td>
                                </tr>
                                <tr>
                                    <td>Жаннат Сабырғалиева Салимовна</td>
                                    <td>ГУ «Управление по вопросам молодежной политики»</td>
                                    <td>И.о.Начальник отдела</td>
                                    <td><a href="#">8 (7122)-30-80-83</a></td>
                                </tr>
                                <tr>
                                    <td>Сатханқызы Самал</td>
                                    <td>ГУ «Управление по вопросам молодежной политики»</td>
                                    <td>Главный специалист</td>
                                    <td><a href="#">8 (7122)-51-63-84</a></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="td-city">
                                Город Нур-Султан

                                    </td>
                                </tr>
                                <tr>
                                    <td>Жунисбеков Бахытжан Абдреимжанович</td>
                                    <td>ГУ «Управление по вопросам молодежной политики г. Нур-Султан»</td>
                                    <td>Руководитель отдела</td>
                                    <td><a href="#">8-702-13-12-15</a></td>
                                </tr>
                                <tr>
                                    <td>Тастемір Ақұлан Өсерұлы</td>
                                    <td>ГУ «Управление по вопросам молодежной политики г. Нур-Султан»</td>
                                    <td>Главный специалист</td>
                                    <td><a href="#">8 (7172)-55-66-30</a></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="td-city">
                                Туркестанская область
                                    </td>
                                </tr>
                                <tr>
                                    <td>Жүнісов
                                            Дамир Даулетұлы
                                            </td>
                                    <td>ГУ «Управление общественного развития Туркестанской области»</td>
                                    <td>Руководитель управления</td>
                                    <td><a href="#">8 (72533)-7-10-32</a></td>
                                </tr>
                                <tr>
                                    <td>Сариев
                                            Дәурен  Нұрланұлы
                                            </td>
                                    <td>ГУ «Управление общественного развития Туркестанской области»</td>
                                    <td>Заместитель руководителя управления</td>
                                    <td><a href="#">8 -701-488-14-04    </a></td>
                                </tr>
                                <tr>
                                    <td>Исмаилов
                                            Сейдулла Кеңесбайұлы
                                            </td>
                                    <td>ГУ «Управление общественного развития Туркестанской области»</td>
                                    <td>Главный специалист</td>
                                    <td><a href="#">8 (72533)-7-23-94</a></td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="td-city">
                                        Восточно-Казахстанская область
                                    </td>
                                </tr>
                                <tr>
                                    <td>Рамазанов
                                            Ришат Сагибекович
                                            </td>
                                    <td>ГУ «Управление внутренней политики ВКО»</td>
                                    <td>Заместитель руководителя    </td>
                                    <td><a href="#">8 (7232)-71-32-90</a></td>
                                </tr>
                                <tr>
                                    <td>Балтабеков
                                            Еркебұлан
                                            Сайлайбекұлы
                                            </td>
                                    <td>ГУ «Управление внутренней политики ВКО»</td>
                                    <td>Руководитель отдела по работе с молодежью</td>
                                    <td><a href="#">8 (7232)-71-32-90</a></td>
                                </tr>
                                <tr>
                                    <td>Борангазы
                                            Нурбек Серикказыевич
                                            </td>
                                    <td>ГУ «Управление внутренней политики ВКО»</td>
                                    <td>Главный специалист отдела по работе с молодежью (координатор волонтеров)</td>
                                    <td><a href="#">8 (7232)-71-32-90</a></td>
                                </tr>
                                
                            </table>
    
                        </div>
                    </div>
                </div>
                <div class="cntcts__tab cont-tab " id="tab3">
                    <div class="wrapper">
                        <div class="cntcts__content-title">
                            Горячии линии для снабжения продуктами и медикаментами нуждающихся во время ЧП.                            
                        </div>
                        <div class="cntcts__table">
                            <table>
                                <tr>
                                    <th>Регион </th>
                                    <th>Контакты </th>
                                </tr>
                                <tr>
                                    <td>Кызылординская область  </td>
                                    <td>
                                        <span><a href="tel:8-777-663-27-24">8-777-663-27-24</a> Ольга</span>
                                        <span><a href="tel:8-702-251-33-11">8-702-251-33-11</a> колл-центр (ватс)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Жамбылская область </td>
                                    <td>
                                        <span><a href="tel:8-778-398-71-68">8-778-398-71-68</a> 
                                                колл-центр (ватс)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Город Нур-Султан</td>
                                    <td>
                                        <span><a href="tel:8-702-303-94-77">8-702-303-94-77</a>
                                                Есильский район 
                                                </span>
                                        <span><a href="tel:8-775-944-36-01">8-775-944-36-01</a>
                                                Алматинский район
                                                </span>
                                        <span><a href="tel:8-701-285-15-03">8-701-285-15-03</a>
                                                Сарыаркинский район
                                                </span>
                                        <span><a href="tel:55-65-92">55-65-92</a>
                                                Байконурский район 
                                                </span>
                                        <span><a href="tel:8-707-716-59-20">8-707-716-59-20</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Туркестанская область </td>
                                    <td>
                                        <span><a href="tel:109">109</a> колл-центр </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Актюбинская область </td>
                                    <td>
                                        <span><a href="tel:8-7132-906-606 колл">8-7132-906-606</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Карагандинская область </td>
                                    <td>
                                        <span><a href="tel:8-701-339-37-33">8-701-339-37-33</a> Маргулан</span>
                                        <span><a href="tel:8-702-635-73-31">8-702-635-73-31</a>
                                                Аида
                                                </span>
                                        <span><a href="tel:109">109</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ЗКО</td>
                                    <td>
                                        <span><a href="tel:8-705-143-06-06">8-705-143-06-06</a> Нурхат</span>
                                        <span><a href="tel:109">109</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Город Алматы (с сегод. Дня не принимают)</td>
                                    <td>
                                        <span><a href="tel:8-705-399-77-77">8-705-399-77-77</a>
                                                Колл-центр
                                                </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Город Кокшетау</td>
                                    <td>
                                        <span><a href="tel:8-775-337-77-50">8-775-337-77-50</a> колл-центр</span>
                                        <span><a href="tel:8-778-408-98-15">8-778-408-98-15</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Город Щучинск </td>
                                    <td>
                                        <span><a href="tel:8-705-544-12-57">8-705-544-12-57</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Город Степногорск </td>
                                    <td>
                                        <span><a href="tel:8-771-911-80-30">8-771-911-80-30</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>СКО</td>
                                    <td>
                                        <span><a href="tel:8-777-326-98-65">8-777-326-98-65</a> Лилия </span>
                                        <span><a href="tel:109">109</a></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Город Шымкент</td>
                                    <td>
                                        <span><a href="tel:8-7252-39-50-55">8-7252-39-50-55</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Костанайская область </td>
                                    <td>
                                        <span><a href="tel:8-7142-39-40-24">8-7142-39-40-24</a> колл-центр</span>
                                        <span><a href="tel:8-7142-39-40-23">8-7142-39-40-23</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ВКО </td>
                                    <td>
                                        <span><a href="tel:8-7232-710-234
                                                колл">8-7232-710-234
                                                </a> колл-центр
                                                </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Павлодарская область</td>
                                    <td>
                                        <span><a href="tel:8-7182-67-52-08">8-7182-67-52-08</a> колл-центр</span>
                                        <span><a href="tel:8-747-615-55-63">8-747-615-55-63</a>  </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Атырауская область </td>
                                    <td>
                                        <span><a href="tel:8-775-892-38-74">8-775-892-38-74</a> колл-центр</span>
                                        <span><a href="tel:8-775-892-38-34">8-775-892-38-34</a> колл-центр</span>
                                        <span><a href="tel:8-775-892-38-94">8-775-892-38-94</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Алматинская область </td>
                                    <td>
                                        <span><a href="tel:8-707-494-72-23">8-707-494-72-23</a> колл-центр</span>
                                        <span><a href="tel:8-7282-404-404 колл">8-7282-404-404</a> колл-центр</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Мангистауская область </td>
                                    <td>
                                        <span><a href="tel:8-702-821-06-50">8-702-821-06-50</a> Имангазы</span>
                                        <span><a href="tel:8-701-343-71-34">8-701-343-71-34</a> Мұқаш</span>
                                    </td>
                                </tr>
                            </table>
    
                            <a href="tel:109" class="cntcts__phone">
                                <div class="cntcts__phone-title">
                                    109
                                    <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M33.6664 25.2V30.2C33.6683 30.6642 33.5732 31.1236 33.3872 31.5489C33.2013 31.9742 32.9286 32.356 32.5865 32.6698C32.2445 32.9836 31.8407 33.2225 31.401 33.3712C30.9613 33.5199 30.4953 33.5751 30.0331 33.5334C24.9044 32.9761 19.9781 31.2236 15.6497 28.4167C11.6228 25.8578 8.20862 22.4436 5.64973 18.4167C2.83302 14.0687 1.08013 9.11834 0.533059 3.96669C0.49141 3.5058 0.546184 3.04129 0.693893 2.60273C0.841602 2.16417 1.07901 1.76117 1.391 1.41939C1.70299 1.07761 2.08273 0.804535 2.50604 0.617556C2.92935 0.430577 3.38696 0.333788 3.84973 0.333353H8.84973C9.65857 0.325392 10.4427 0.611817 11.056 1.13924C11.6693 1.66666 12.0699 2.3991 12.1831 3.20002C12.3941 4.80013 12.7855 6.37123 13.3497 7.88335C13.574 8.47989 13.6225 9.12821 13.4896 9.75149C13.3566 10.3748 13.0478 10.9469 12.5997 11.4L10.4831 13.5167C12.8557 17.6893 16.3105 21.1441 20.4831 23.5167L22.5997 21.4C23.0529 20.9519 23.625 20.6431 24.2483 20.5102C24.8715 20.3772 25.5199 20.4258 26.1164 20.65C27.6285 21.2143 29.1996 21.6056 30.7997 21.8167C31.6093 21.9309 32.3487 22.3387 32.8773 22.9625C33.4058 23.5863 33.6867 24.3826 33.6664 25.2Z" fill="#333333"/>
                                    </svg>
                                </div>
                                <div class="cntcts__phone-desc">
                                        Единая горячая линия
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> popup/popup}}
    {{> footer/footer}}
    {{> forJsScss/forJsScss}}
</body>


<script>
</script>



<!-- <script>
    var mapsMarkers = [
    {
        id:'0',
        lat:51.138601,
        lng:71.418383,
        title: '',
        zoom: '15'
    }
    // ,
    // {
    //     id:'1',
    //     lat:55.643939,
    //     lng:37.595301,
    //     title: 'test title 2',
    //     zoom: '17'
    // }
    // ,
    // {
    //     id:'2',
    //     lat:55.646305,
    //     lng:37.584014,
    //     title: 'test title 3',
    //     zoom: '17'
    // }
    ];
</script> -->

</html>