<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}
        <div class="news news__new">
            <div class="wrapper">
                <div class="news__container">
                    <div class="news__content">
                        <div class="html">
                            <h1>Столичные волонтеры продолжают работу в Magnum по формированию продуктовых наборов</h1>
                        </div>
                        <div class="news__item-top news__item-top-2">
                            <img src='static/img/content/db-min-1.png'>
                            <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                            <span>{{Icon iconName="news-eye"}}1050</span>
                            <span>{{Icon iconName="news-com"}} 12</span>
                        </div>
                        <div class="html">
                            <p>
                                    "Планируется, что с нового учебного года студентам вузов, которые будут заниматься волонтерской деятельностью в детских домах, спецшколах, домах престарелых и других учреждениях, на 30% будет повышена стипендия", - сообщил министр информации и общественного развития РК Даурен Абаев. 
                            </p>
                            <p>
                                    Кроме того, в стране появится волонтерское движение "Студенческая инициатива" и будет сформирована база молодых волонтеров. 
                            </p>

                            <blockquote>
                                <p>
                                    "Проработан вопрос о привлечении студентов в строительные отряды. Студенты уже начали работать в строительных отрядах в летнее каникулярное время. 
                                </p>
                                <p>
                                    Запущен проект "Социальный студенческий кредит" по повышению доли студентов, вовлеченных в добровольную общественно полезную деятельность", - добавил министр.
                                </p>
                            </blockquote>
                        </div>
                    </div>

                    
                    <div class="news__sidebar-container">
                        {{> news-sidebar/news-sidebar}} 
                    </div>
                </div>
            </div>
        </div>

        <div class="newsslider">
            <div class="wrapper">
                <div class="newsslider__container">
                    <div class="newsslider__title">
                            Другие статьи
                    </div>
                    <div class="newsslider-container">
                        <div class="newsslider__slider-button newsslider__slider-button-prev">{{Icon iconName="newsslider-arrow"}}</div>
                        <div class="newsslider__slider-button newsslider__slider-button-next">{{Icon iconName="newsslider-arrow"}}</div>
                        <div class="newsslider__items">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{> popup/popup}}
        
        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
    </body>

</html>