<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}

        <div class="db">
            <div class="wrapper">
                <div class="db__container">
                    <div class="dbcaption">
                        <div class="dbcaption__top">
                            <div class="dbcaption__img">
                                <img src='static/img/content/db-big-1.png'>
                            </div>
                            <div class="dbcaption__center">
                                <b>
                                        Цель:
                                </b>
                                <p>
                                        Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                </p>
                                <b>
                                        Территориальный охват:
                                </b>
                                <p>
                                        Алматинская область, Западно-Казахстанская область, Костанайская области.
                                </p>
                            </div>
                            <div class="dbcaption__right">
                                <b>
                                        Ожидаемый результат:
                                </b>
                                <p>
                                        Создание 3 центров поддержки волонтеров в сфере защиты окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора в городах.Талдыкурган, Уральск, Костанай. Вовлечение граждан в волонтерскую деятельность в сфере защиты окружающей среды и экологической безопасности, очистке рек и лесов, посадке деревьев, обучению сортировке мусора. 1000 привлеченных волонтеров. Выделение не менее 68 малых грантов.
                                </p>
                            </div>
                        </div>
                        <div class="dbcaption__bottom">
                            
                            <div class="dbcaption__item">
                                <div class="dbcaption__item-top">
                                        АМБАССАДОР:
                                </div>
                                <div class="dbcaption__item-bottom">
                                    <div class="dbcaption__item-img m-bg-cont">
                                        <img src='static/img/content/titem.jpg'>
                                    </div>
                                    <div class="dbcaption__item-content">
                                        <div class="dbcaption__item-title">
                                                Елдос Нурболулы
                                        </div>
                                        <div class="dbcaption__item-desc">
                                                заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="dbcaption__item">
                                <div class="dbcaption__item-top">
                                        реализация проект:
                                </div>
                                <div class="dbcaption__item-bottom">
                                    <div class="dbcaption__item-img m-bg-cont">
                                        <img src='static/img/content/titem-2.png'>
                                    </div>
                                    <div class="dbcaption__item-content">
                                        <div class="dbcaption__item-title">
                                            Жас Ұлан
                                        </div>
                                        <div class="dbcaption__item-desc">
                                            Республиканское общественное объединение «Едино <br> детско-юношеская организация «Жас Ұлан»                                         </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="dbcaption__item">
                                <div class="dbcaption__item-top">
                                    
                                </div>
                                <div class="dbcaption__item-bottom">
                                    <div class="dbcaption__item-img m-bg-cont">
                                        <img src='static/img/content/titem-3.png'>
                                    </div>
                                    <div class="dbcaption__item-content">
                                        <div class="dbcaption__item-title">
                                            Садвакасова Динара Тайбасарова
                                        </div>
                                        <div class="dbcaption__item-desc">
                                            Адрес: г. Нур-Султан, 
                                            А.Жубанова 10
                                            Тел.8 (7172) 25-15-45  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="dbcaption__field">
                        <div class="dbcaption__marker">
                            {{Icon iconName="db-marker"}}
                        </div>
                        <select class="nice-select">
                            <option value="">В какой области вы находитесь?</option>
                            <option value="">option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                            <option value="">option</option>
                        </select>
                    </div>
                    <!-- <div class="dbcaption__field">
                        <input type="text" placeholder="В какой области вы находитесь?">
                        <div class="dbcaption__marker">
                            {{Icon iconName="db-marker"}}
                        </div>
                    </div> -->




                    <div class="dbnews">
                        <div class="dbnews__items">
                            
                            <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                            
                            <div class="tland__news-item">
                                <div class="dbnews__item-img-min">
                                    <img src='static/img/content/db-min-1.png'>
                                </div>
                                <a href="#" class="tland__news-title">
                                        В Костанае начали работать волонтеры полиции
                                </a>
                                <div class="tland__news-features">
                                    <span>
                                        <img src="static/img/content/news-1.svg" alt="">
                                        2 октября
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-2.svg" alt="">
                                        250
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-3.svg" alt="">
                                        12
                                    </span>
                                </div>

                                <div class="tland__news-desc">
                                        Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                </div>

                                <a href="#" class="tland__news-link">
                                        Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                </a>

                            </div>
                            
                            <div class="tland__news-item">
                                <div class="dbnews__item-img-min">
                                    <img src='static/img/content/db-min-1.png'>
                                </div>
                                <a href="#" class="tland__news-title">
                                        В Костанае начали работать волонтеры полиции
                                </a>
                                <div class="tland__news-features">
                                    <span>
                                        <img src="static/img/content/news-1.svg" alt="">
                                        2 октября
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-2.svg" alt="">
                                        250
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-3.svg" alt="">
                                        12
                                    </span>
                                </div>

                                <div class="tland__news-desc">
                                        Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                </div>

                                <a href="#" class="tland__news-link">
                                        Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                </a>

                            </div>
                            
                            <div class="tland__news-item">
                                <div class="dbnews__item-img-min">
                                    <img src='static/img/content/db-min-1.png'>
                                </div>
                                <a href="#" class="tland__news-title">
                                        В Костанае начали работать волонтеры полиции
                                </a>
                                <div class="tland__news-features">
                                    <span>
                                        <img src="static/img/content/news-1.svg" alt="">
                                        2 октября
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-2.svg" alt="">
                                        250
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-3.svg" alt="">
                                        12
                                    </span>
                                </div>

                                <div class="tland__news-desc">
                                        Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                </div>

                                <a href="#" class="tland__news-link">
                                        Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                </a>

                            </div>
                            
                            <div class="tland__news-item">
                                <div class="dbnews__item-img-min">
                                    <img src='static/img/content/db-min-1.png'>
                                </div>
                                <a href="#" class="tland__news-title">
                                        В Костанае начали работать волонтеры полиции
                                </a>
                                <div class="tland__news-features">
                                    <span>
                                        <img src="static/img/content/news-1.svg" alt="">
                                        2 октября
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-2.svg" alt="">
                                        250
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-3.svg" alt="">
                                        12
                                    </span>
                                </div>

                                <div class="tland__news-desc">
                                        Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                </div>

                                <a href="#" class="tland__news-link">
                                        Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                </a>

                            </div>
                            
                            <div class="tland__news-item">
                                <div class="dbnews__item-img-min">
                                    <img src='static/img/content/db-min-1.png'>
                                </div>
                                <a href="#" class="tland__news-title">
                                        В Костанае начали работать волонтеры полиции
                                </a>
                                <div class="tland__news-features">
                                    <span>
                                        <img src="static/img/content/news-1.svg" alt="">
                                        2 октября
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-2.svg" alt="">
                                        250
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-3.svg" alt="">
                                        12
                                    </span>
                                </div>

                                <div class="tland__news-desc">
                                        Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                </div>

                                <a href="#" class="tland__news-link">
                                        Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                </a>

                            </div>
                            
                            <div class="tland__news-item">
                                <div class="dbnews__item-img-min">
                                    <img src='static/img/content/db-min-1.png'>
                                </div>
                                <a href="#" class="tland__news-title">
                                        В Костанае начали работать волонтеры полиции
                                </a>
                                <div class="tland__news-features">
                                    <span>
                                        <img src="static/img/content/news-1.svg" alt="">
                                        2 октября
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-2.svg" alt="">
                                        250
                                    </span>
                                    <span>
                                        <img src="static/img/content/news-3.svg" alt="">
                                        12
                                    </span>
                                </div>

                                <div class="tland__news-desc">
                                        Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                </div>

                                <a href="#" class="tland__news-link">
                                        Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                </a>

                            </div>
                            
                            
                        </div>

                        <div class="d-paggination">
                            <a href="" class=" active">1</a>
                            <a href="" class="">2</a>
                            <a href="" class="">3</a>
                            <a href="" class="">4</a>
                            <a href="" class="">5</a>
                            <a href="" class="">6</a>
                            <a href="" class="">7</a>
                            <span>...</span>
                            <a href="" class="">278</a>
                            <a href="">
                                <span>Дальше</span>
                                >
                            </a>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
        <section class="d-rdy">
            <div class="wrapper">
                <div class="d-rdy__content">
                    <div class="d-rdy__title">
                        Готовы стать волонтером?
                    </div>
                    <div class="d-rdy__text">
                        Присоединяйся к казахстанскому волонтерскому движению! Укажи свой номер и придумай пароль, чтобы зарегистрироваться. Тебя ждет много интересных проектов, возможности сделать мир чуточку лучше и светлее.
                    </div>
                </div>
                <div class="d-rdy-img">
                    <!-- <img src="static/img/content/arn.png" alt=""> -->
                    <a href="#" class="button">Регистрация</a>
                </div>
            </div>
        </section>
        <!-- <div class="tland__news-item">
            <a href="#" class="tland__news-title">
                    В Костанае начали работать волонтеры полиции
            </a>
            <div class="tland__news-features">
                <span>
                    <img src="static/img/content/news-1.svg" alt="">
                    2 октября
                </span>
                <span>
                    <img src="static/img/content/news-2.svg" alt="">
                    250
                </span>
                <span>
                    <img src="static/img/content/news-3.svg" alt="">
                    12
                </span>
            </div>

            <div class="tland__news-desc">
                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
            </div>

            <a href="#" class="tland__news-link">
                    Читать далее <img src="static/img/content/news-arrow.svg" alt="">
            </a>

        </div> -->
        
        

        {{> popup/popup}}
        

        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
    </body>

</html>