<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}

        <div class="db">
            <div class="wrapper">
                <div class="db__container">
                    <div class="db__top">
                        <div class="db__top-title main-title">
                            Направления
                        </div>
                        <div class="main-desc">
                                Равным образом, понимание сути ресурсосберегающих технологий требует <br> анализа дальнейших направлений развития.
                        </div>
                    </div>
                    <div class="db__titems">

                        <div class="newsslider__slider-button newsslider__slider-button-prev">{{Icon iconName="newsslider-arrow"}}</div>
                        <div class="newsslider__slider-button newsslider__slider-button-next">{{Icon iconName="newsslider-arrow"}}</div>

                        <div class="newsslider__items">
                            <div class="swiper-wrapper">
                                <div class="db__titem swiper-slide">
                                    <a href="#" class="db__titem-top">
                                        <img src='static/img/content/db-1.png'>
                                    </a>
                                    <div class="db__titem-desc">
                                            Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                    </div>
        
                                    <div class="db__titem-bottom">
                                        <div class="db__titem-img m-bg-cont">
                                            <img src='static/img/content/titem.jpg'>
                                        </div>
                                        <div class="db__titem-content">
                                            <div class="db__titem-bottom-title">
                                                    Елдос Нурболулы
                                            </div>
                                            <div class="db__titem-bottom-desc">
                                                    заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="db__titem swiper-slide">
                                    <a href="#" class="db__titem-top">
                                        <img src='static/img/content/db-2.png'>
                                    </a>
                                    <div class="db__titem-desc">
                                            Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                    </div>
        
                                    <div class="db__titem-bottom">
                                        <div class="db__titem-img m-bg-cont">
                                            <img src='static/img/content/titem.jpg'>
                                        </div>
                                        <div class="db__titem-content">
                                            <div class="db__titem-bottom-title">
                                                    Елдос Нурболулы
                                            </div>
                                            <div class="db__titem-bottom-desc">
                                                    заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="db__titem swiper-slide">
                                    <a href="#" class="db__titem-top">
                                        <img src='static/img/content/db-3.png'>
                                    </a>
                                    <div class="db__titem-desc">
                                            Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                    </div>
        
                                    <div class="db__titem-bottom">
                                        <div class="db__titem-img m-bg-cont">
                                            <img src='static/img/content/titem.jpg'>
                                        </div>
                                        <div class="db__titem-content">
                                            <div class="db__titem-bottom-title">
                                                    Елдос Нурболулы
                                            </div>
                                            <div class="db__titem-bottom-desc">
                                                    заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="db__titem swiper-slide">
                                    <a href="#" class="db__titem-top">
                                        <img src='static/img/content/db-4.png'>
                                    </a>
                                    <div class="db__titem-desc">
                                            Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                    </div>
        
                                    <div class="db__titem-bottom">
                                        <div class="db__titem-img m-bg-cont">
                                            <img src='static/img/content/titem.jpg'>
                                        </div>
                                        <div class="db__titem-content">
                                            <div class="db__titem-bottom-title">
                                                    Елдос Нурболулы
                                            </div>
                                            <div class="db__titem-bottom-desc">
                                                    заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="db__titem swiper-slide">
                                    <a href="#" class="db__titem-top">
                                        <img src='static/img/content/db-5.png'>
                                    </a>
                                    <div class="db__titem-desc">
                                            Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                    </div>
        
                                    <div class="db__titem-bottom">
                                        <div class="db__titem-img m-bg-cont">
                                            <img src='static/img/content/titem.jpg'>
                                        </div>
                                        <div class="db__titem-content">
                                            <div class="db__titem-bottom-title">
                                                    Елдос Нурболулы
                                            </div>
                                            <div class="db__titem-bottom-desc">
                                                    заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="db__titem swiper-slide">
                                    <a href="#" class="db__titem-top">
                                        <img src='static/img/content/db-6.png'>
                                    </a>
                                    <div class="db__titem-desc">
                                            Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                    </div>
        
                                    <div class="db__titem-bottom">
                                        <div class="db__titem-img m-bg-cont">
                                            <img src='static/img/content/titem.jpg'>
                                        </div>
                                        <div class="db__titem-content">
                                            <div class="db__titem-bottom-title">
                                                    Елдос Нурболулы
                                            </div>
                                            <div class="db__titem-bottom-desc">
                                                    заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="db__titem swiper-slide">
                                    <a href="#" class="db__titem-top">
                                        <img src='static/img/content/db-7.png'>
                                    </a>
                                    <div class="db__titem-desc">
                                            Защита окружающей среды, очистке рек и лесов, посадке деревьев, обучению сортировке мусора.
                                    </div>
        
                                    <div class="db__titem-bottom">
                                        <div class="db__titem-img m-bg-cont">
                                            <img src='static/img/content/titem.jpg'>
                                        </div>
                                        <div class="db__titem-content">
                                            <div class="db__titem-bottom-title">
                                                    Елдос Нурболулы
                                            </div>
                                            <div class="db__titem-bottom-desc">
                                                    заместитель председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана» 
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        
                    </div>


                    <div class="dbnews">
                        <div class="dbnews__top">
                                Последние новости
                        </div>
                        <div class="dbnews__imgs">
                            <a href="#" class="dbnews__img-1">
                                    Все
                            </a>
                            <a href="#" class="dbnews__img"><img src='static/img/content/db-1.png'></a>
                            <a href="#" class="dbnews__img"><img src='static/img/content/db-2.png'></a>
                            <a href="#" class="dbnews__img"><img src='static/img/content/db-3.png'></a>
                            <a href="#" class="dbnews__img"><img src='static/img/content/db-4.png'></a>
                            <a href="#" class="dbnews__img"><img src='static/img/content/db-5.png'></a>
                            <a href="#" class="dbnews__img"><img src='static/img/content/db-6.png'></a>
                            <a href="#" class="dbnews__img"><img src='static/img/content/db-7.png'></a>
                        </div>

                        <div class="dbnews__items">
                            <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>

                            <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>

                            <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>

                            <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>

                            <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>

                            <div class="tland__news-item-container">
                                <a href="#" class="dbnews__item-banner m-bg-cont">
                                    <img src='static/img/content/placeholder.png'>
                                </a>
                                
                                <div class="tland__news-item">
                                    <div class="dbnews__item-img-min">
                                        <img src='static/img/content/db-min-1.png'>
                                    </div>
                                    <a href="#" class="tland__news-title">
                                            В Костанае начали работать волонтеры полиции
                                    </a>
                                    <div class="tland__news-features">
                                        <span>
                                            <img src="static/img/content/news-1.svg" alt="">
                                            2 октября
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-2.svg" alt="">
                                            250
                                        </span>
                                        <span>
                                            <img src="static/img/content/news-3.svg" alt="">
                                            12
                                        </span>
                                    </div>
    
                                    <div class="tland__news-desc">
                                            Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    </div>
    
                                    <a href="#" class="tland__news-link">
                                            Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                                    </a>
    
                                </div>
                            </div>
                            
                        </div>

                        <div class="d-paggination">
                            <a href="" class=" active">1</a>
                            <a href="" class="">2</a>
                            <a href="" class="">3</a>
                            <a href="" class="">4</a>
                            <a href="" class="">5</a>
                            <a href="" class="">6</a>
                            <a href="" class="">7</a>
                            <span>...</span>
                            <a href="" class="">278</a>
                            <a href="">
                                <span>Дальше</span>
                                >
                            </a>
                        </div>
                        
                    </div>
                    
                    
                </div>
            </div>
        </div>

        <section class="d-rdy">
            <div class="wrapper">
                <div class="d-rdy__content">
                    <div class="d-rdy__title">
                        Готовы стать волонтером?
                    </div>
                    <div class="d-rdy__text">
                        Присоединяйся к казахстанскому волонтерскому движению! Укажи свой номер и придумай пароль, чтобы зарегистрироваться. Тебя ждет много интересных проектов, возможности сделать мир чуточку лучше и светлее.
                    </div>
                </div>
                <div class="d-rdy-img">
                    <!-- <img src="static/img/content/arn.png" alt=""> -->
                    <a href="#" class="button">Регистрация</a>
                </div>
            </div>
        </section>


        <!-- <div class="tland__news-item">
            <div class="tland__news-title">
                    В Костанае начали работать волонтеры полиции
            </div>
            <div class="tland__news-features">
                <span>
                    <img src="static/img/content/news-1.svg" alt="">
                    2 октября
                </span>
                <span>
                    <img src="static/img/content/news-2.svg" alt="">
                    250
                </span>
                <span>
                    <img src="static/img/content/news-3.svg" alt="">
                    12
                </span>
            </div>

            <div class="tland__news-desc">
                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
            </div>

            <a href="#" class="tland__news-link">
                    Читать далее <img src="static/img/content/news-arrow.svg" alt="">
            </a>

        </div> -->
        
        

        {{> popup/popup}}
        

        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
    </body>

</html>