<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

    {{> bread/bread}}

	<div class="s-faq">
		<div class="wrapper">
			<div class="s-faq-content">
				<div class="s-faq-items">
					<h3>Вопросы и ответы</h3>
					<div class="s-faq-item">
						<h4>Для чего нужна единая платформа волонтеров Qazvolunteer.kz ?</h4>
						<p>Qazvolunteer.kz объединяет информацию о волонтерской деятельности в Казахстане. Позволяет пользователям найти и опубликовать интересные волонтерские проекты. С помощью единой информационной платформы формируется крупнейший каталог волонтерских организаций, реестр волонтеров и материалов по теме.</p>
					</div>

					<div class="s-faq-item">
						<h4>Кто может зарегистрироваться на платформе?</h4>
						<p>На платформе qazvolunteer.kz могут регистрироваться любые физические и юридические лица, желающие работать в сфере волонтерства. Обратите внимание на условия регистрации по программе «Социальный студенческий кредит», в котором могут участвовать только некоммерческие и государственные учреждения, работающие в пяти направлениях проекта и студенты бакалавриата.</p>
					</div>

					<div class="s-faq-item">
						<h4>Что такое Социальный студенческий кредит?</h4>
						<p>Проект "Социальный студенческий кредит"- это механизм, который поощряет студентов путем представления социальных студенческих кредитов, за выполненную общественно полезную работу в социальных институтах и учреждениях. Подробнее с проектом можно ознакомится нажав на кнопку «Социальный студенческий кредит», которая переводит на сабдомен сайта student.qazvolunteer.kz Cкачать инструкции по регистрации можно в библиотеке волонтеров.</p>
					</div>

					<div class="s-faq-item">
						<h4>Как зарегистрироваться на платформе?</h4>
						<p>На данный момент действует регистрация через социальные сети, либо через электронную почту. Если они у вас отсутствуют, то необходимо завести электронную почту на любом бесплатном почтовом сервере.</p>
					</div>
				</div>
				{{> news-sidebar/news-sidebar}}
			</div>
		</div>
	</div>
	

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

</html>