<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}

    <div class="big-banner">
        <img src="" alt="">
        <div class="big-banner-content set-bg-img">
            <div class="wrapper">
                <div class="big-banner-container">
                    <div class="big-banner-title">
                        Истории волонтеров
                    </div>
                    <div class="big-banner-text">
                        Вдохновись рассказами о волонтерстве или поделись своей историей 
                    </div>
                    <div class="big-banner-button">
                        <a href="#" data-popup-open="popup__history">рассказать свою историю</a>
                    </div>
                </div>
            </div>
            <img src="static/img/content/big-banner3.jpg" class="get-bg-img" alt="">
        </div>
    </div>

    <div class="history">
        <div class="wrapper">
            <div class="history__content">
                <div class="history__items">
                    <div class="history__item">
                        <img src="%=static=%img/general/history/1.png" alt="История">
                        <div class="history__item-info">
                            <span class="history__item-date">28 ЯНВ, 2020</span>
                            <h4 class="history__item-name">Асель, 25 лет, г. Алматы</h4>
                            <p class="history__item-nap">направление: помощь животным</p>
                            <p class="history__item-desc">Я всегда хотела помогать животным, с детства мечтала стать ветеринаром, но стала экономистом, поэтому решила реализовать свое желание через волонтерство. ОФ “Новый шанс” я нашла в группе вКонтакте. И мы сотрудничаем уже третий год.</p>
                        </div>
                    </div>

                    <div class="history__item">
                        <img src="%=static=%img/general/history/2.png" alt="История">
                        <div class="history__item-info">
                            <span class="history__item-date">27 ЯНВ, 2020</span>
                            <h4 class="history__item-name">Егор, 27 лет, г. Семей</h4>
                            <p class="history__item-nap">направление: помощь пожилым</p>
                            <p class="history__item-desc">Я всегда хотел помогать пожилыс, с детства мечтала стать врачом, но стала экономистом, поэтому решил реализовать свое желание через волонтерство. ОФ “Новый шанс” я нашел в группе вКонтакте. И мы сотрудничаем уже третий год.</p>
                        </div>
                    </div>

                    <div class="history__item">
                        <img src="%=static=%img/general/history/3.png" alt="История">
                        <div class="history__item-info">
                            <span class="history__item-date">25 ДЕК, 2019</span>
                            <h4 class="history__item-name">Адиль, 28 лет, г. Павлодар</h4>
                            <p class="history__item-nap">направление: помощь пожилым, социальная помощь</p>
                            <p class="history__item-desc">Я всегда хотел помогать пожилым, с детства мечтала стать врачом, но стала экономистом, поэтому решил реализовать свое желание через волонтерство. ОФ “Новый шанс” я нашел в группе вКонтакте. И мы сотрудничаем уже третий год.</p>
                        </div>
                    </div>

                    <div class="history__item">
                        <img src="%=static=%img/general/history/4.png" alt="История">
                        <div class="history__item-info">
                            <span class="history__item-date">17 НОЯ, 2019</span>
                            <h4 class="history__item-name">Василий, 23 года, г. Костанай</h4>
                            <p class="history__item-nap">направление: помощь пожилым</p>
                            <p class="history__item-desc">Я всегда хотел помогать пожилыс, с детства мечтала стать врачом, но стала экономистом, поэтому решил реализовать свое желание через волонтерство. ОФ “Новый шанс” я нашел в группе вКонтакте. И мы сотрудничаем уже третий год.</p>
                        </div>
                    </div>

                    <div class="d-paggination">
                        <a href="" class=" active">1</a>
                        <a href="" class="">2</a>
                        <a href="" class="">3</a>
                        <a href="" class="">4</a>
                        <a href="" class="">5</a>
                        <a href="" class="">6</a>
                        <a href="" class="">7</a>
                        <span>...</span>
                        <a href="" class="">278</a>
                        <a href="">
                            <span>Дальше</span>
                            >
                        </a>
                    </div>

                </div>

                {{> news-sidebar/news-sidebar}}

            </div>
        </div>
    </div>

    {{> popup/popup}}

    {{> footer/footer}}
    {{> forJsScss/forJsScss}}

</body>

</html>