<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}
    
    <div class="big-banner">
        <img src="" alt="">
        <div class="big-banner-content set-bg-img">
            <div class="wrapper">
                <div class="big-banner-container">
                    <div class="big-banner-title">
                        Истории волонтеров
                    </div>
                    <div class="big-banner-text">
                        Вдохновись рассказами о волонтерстве или поделись своей историей 
                    </div>
                    <div class="big-banner-button">
                        <a href="#" data-popup-open="popup__history">рассказать свою историю</a>
                    </div>
                </div>
            </div>
            <img src="static/img/content/big-banner3.jpg" class="get-bg-img" alt="">
        </div>
    </div>

    <div class="history">
        <div class="wrapper">
            <div class="history__content">
                <div class="history__full">
                    <div class="history__full-info">
                        <span class="history__item-date">28 ЯНВ, 2020</span>
                        <h4 class="history__item-name">История волонтера: Асель, 25 лет, г. Алматы</h4>
                        <p class="history__item-nap">направление: помощь животным</p>
                    </div>

                    <div class="history__slider">
                        <img src="%=static=%img/general/his-slide.png" alt="Исотрия">
                    </div>
                    <p class="vol-photo">фото предоставлено волонтером</p>

                    <div class="history__quest">
                        <div class="history__quest-item">
                            <h4>Расскажите, почему и как вы стали волонтером?</h4>
                            <p>Я всегда хотела помогать животным, с детства мечтала стать ветеринаром, но стала экономистом, поэтому решила реализовать свое желание через волонтерство. ОФ “Новый шанс” я нашла в группе вконтакте. И мы сотрудничаем уже третий год.</p>
                        </div>
                        <div class="history__quest-item">
                            <h4>Что вы делаете будучи волонтером?</h4>
                            <p>Я занимаюсь тем, что нахожу новых хозяев для бездомных кошек и собак. Пишу посты в соц. сетях, о том, что ищем новых хозяев, коммуницирую с ними. Это достаточно сложная задача, нужны быть уверенной, что отдаешь животное в хорошие и порядочные руки.</p>
                        </div>
                        <div class="history__quest-item">
                            <h4>Что дает вам волонтерская деятельность, как она развивает вашу личность?</h4>
                            <p>Мне нравится тем, чем я занимаюсь. Я думаю, что таким образом я реализовала свое неосуществленное детское желание стать ветеринаром, при этом я приношу ощутимую пользову животным. Я думаю, что эта деятельность развила во мне сострадательность.</p>
                        </div>
                        <div class="history__quest-item">
                            <h4>Что вы посоветуете другим? Как выбрать свое направление в волонтерстве?</h4>
                            <p>Я бы посоветовала следующее: выбирайте то направление, которое вам интересно. Тогда волонтерить будет интересно, легче. Я с детства любила животных, поэтому и выбрала это направление. Наверняка, в детстве вы мечтали о какой-то профессии, это и станет подсказкой.</p>
                        </div>
                    </div>
                </div>

                {{> news-sidebar/news-sidebar}}

            </div>
        </div>
    </div>


    {{> footer/footer}}
    {{> forJsScss/forJsScss}}
    {{> popup/popup}}

</body>

</html>