<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		<section class="d-slider">
			<div class="wrapper">
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="static/img/content/slide1.jpg" alt="">
							<div class="d-slider__content">
								<div class="d-slider-pagination">
									<div class="d-slider-pagination-current"></div>
									/
									<div class="d-slider-pagination-total"></div>
								</div>
								<div class="d-slider__title">
									Открой для себя мир волонтерства
								</div>
								<div class="d-slider__text">
									Найди проект по душе в своем городе! Здесь вы найдете организации, проекты и волонтеров
								</div>
								<a href="#" class="trs-button">
									ПОдробнее
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<img src="static/img/content/slide2.jpg" alt="">
							<div class="d-slider__content">
								<div class="d-slider-pagination">
									<div class="d-slider-pagination-current"></div>
									/
									<div class="d-slider-pagination-total"></div>
								</div>
								<div class="d-slider__title">
									2020<br> Год волонтерства
								</div>
								<div class="d-slider__text">
									“Суть волонтерства — делать что-то из благих намерений — соответствует нашим национальным традициям и ценностям” Касым-Жомарт Токаев, Президент Республики Казахстан
								</div>
								<a href="#" class="trs-button">
									О НАС
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="d-slider-left">{{Icon iconName="arrow-left"}}</div>
				<div class="d-slider-right">{{Icon iconName="arrow-left"}}</div>
			</div>
		</section>
		<section class="newssmall">
			<div class="wrapper">
				<div class="newssmall__container">
					<div class="newssmall__item set-bg-img">
						<img src="static/img/content/alertBg.jpg" class="get-bg-img" alt="">
						<div class="newssmall__title">
							Волонтерские проекты
						</div>
						<div class="newssmall__text">
							Будьте в курсе всех важных мероприятий в вашем населенном пункте
						</div>
					</div>
					<div class="newssmall__item set-bg-img">
						<img src="static/img/content/fileBg.jpg" class="get-bg-img" alt="">
						<div class="newssmall__title">
							Библиотека
						</div>
						<div class="newssmall__text">
							В нашей библиотеке вы найдёте полезную информацию для волонтеров и организаций
						</div>
					</div>
					<div class="newssmall__item newssmall__item-half">
						<div class="newssmall__title">
							<span>СМИ о нас</span>
							<a href="">
								показать все
								{{Icon iconName="arrow-right"}}
							</a>
						</div>
						<div class="newssmall__links">
							<a href="">
								<span>В Костанае начали работать волонтеры полиции.</span>
								<p>2 октября</p>
							</a>
							<a href="">
								<span>В честь дня пожилых людей волонтеры раздали 20000</span>
								<p>28 сентября</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="choise">
			<div class="wrapper">
				<div class="choise__container">
					<div class="choise__title">
						Выберите то, что подходит вам
					</div>
					<div class="choise__paggination">
						<div class="prev">
							{{Icon iconName="arrow-left"}}
						</div>
						<div class="next">
							{{Icon iconName="arrow-left"}}
						</div>
					</div>
				</div>
				<div class="choise__slider swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<a href="#" class="choise__item">
								<div class="choise__img">
									<div class="set-bg-img">
										<img src="static/img/content/choise.jpg" class="get-bg-img" alt="">
									</div>
								</div>
								<div class="choise__stitle">
									Волонтерство в Казахстане
								</div>
								<div class="choise__text">
									Найди проект по душе в своем городе! Здесь вы найдете все мероприятия...
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="choise__item">
								<div class="choise__img">
									<div class="set-bg-img">
										<img src="static/img/content/choise.jpg" class="get-bg-img" alt="">
									</div>
								</div>
								<div class="choise__stitle">
									Волонтерство в Казахстане
								</div>
								<div class="choise__text">
									Найди проект по душе в своем городе! Здесь вы найдете все мероприятия...
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="choise__item">
								<div class="choise__img">
									<div class="set-bg-img">
										<img src="static/img/content/choise.jpg" class="get-bg-img" alt="">
									</div>
								</div>
								<div class="choise__stitle">
									Волонтерство в Казахстане
								</div>
								<div class="choise__text">
									Найди проект по душе в своем городе! Здесь вы найдете все мероприятия...
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="choise__item">
								<div class="choise__img">
									<div class="set-bg-img">
										<img src="static/img/content/choise.jpg" class="get-bg-img" alt="">
									</div>
								</div>
								<div class="choise__stitle">
									Волонтерство в Казахстане
								</div>
								<div class="choise__text">
									Найди проект по душе в своем городе! Здесь вы найдете все мероприятия...
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="choise__item">
								<div class="choise__img">
									<div class="set-bg-img">
										<img src="static/img/content/choise.jpg" class="get-bg-img" alt="">
									</div>
								</div>
								<div class="choise__stitle">
									Волонтерство в Казахстане
								</div>
								<div class="choise__text">
									Найди проект по душе в своем городе! Здесь вы найдете все мероприятия...
								</div>
							</a>
						</div>
						<div class="swiper-slide">
							<a href="#" class="choise__item">
								<div class="choise__img">
									<div class="set-bg-img">
										<img src="static/img/content/choise.jpg" class="get-bg-img" alt="">
									</div>
								</div>
								<div class="choise__stitle">
									Волонтерство в Казахстане
								</div>
								<div class="choise__text">
									Найди проект по душе в своем городе! Здесь вы найдете все мероприятия...
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="d-volon">
			<div class="wrapper">
				<div class="d-volon__container">
					<a href="#" class="d-volon__item">
						<div class="d-volon__content">
							<div class="d-title">
								<span>Хотите стать волонтером?</span>
							</div>
							<div class="d-volon__text">
								Если вы волонтер, готовый помочь в некотором проекте, или организация, ищущая волонтеров, то вам сюда
							</div>
							<div class="d-volon__button">
								Хочу помочь
							</div>
						</div>
						<div class="d-volon__icon">
							{{Icon iconName="d-volon1"}}
						</div>
					</a>
					<a href="#" class="d-volon__item">
						<div class="d-volon__content">
							<div class="d-title">
								Нужны волонтеры?
							</div>
							<div class="d-volon__text">
								Если вы организация, которая собирается создать проект и нуждается в помощи волонтеров 	
							</div>
							<div class="d-volon__button">
								Найти волонтеров
							</div>
						</div>
						<div class="d-volon__icon">
							{{Icon iconName="d-volon2"}}
						</div>
					</a>
				</div>
			</div>
		</section>
		<script>
		    var simplemaps_countrymap_mapdata={
		        main_settings: {
		            //General settings
		            width: "1200", //'700' or 'responsive'
		            background_color: "#FFFFFF",
		            background_transparent: "yes",
		            border_color: "#ffffff",

		            //State defaults
		            state_description: "",
		            state_color: "#D9D9DE",
		            state_hover_color: "#00AFCA",
		            state_url: "",
		            border_size: 1.5,
		            all_states_inactive: "no",
		            all_states_zoomable: "no",

		            //Location defaults
		            location_description: "",
		            location_url: "",
		            location_color: "#FF0067",
		            location_opacity: 0.8,
		            location_hover_opacity: 1,
		            location_size: 25,
		            location_type: "square",
		            location_image_source: "frog.png",
		            location_border_color: "#FFFFFF",
		            location_border: 2,
		            location_hover_border: 2.5,
		            all_locations_inactive: "no",
		            all_locations_hidden: "no",

		            //Label defaults
		            label_color: "#d5ddec",
		            label_hover_color: "#d5ddec",
		            label_size: 22,
		            label_font: "Arial",
		            hide_labels: "no",
		            hide_eastern_labels: "no",

		            //Zoom settings
		            zoom: "yes",
		            manual_zoom: "no",
		            back_image: "no",
		            initial_back: "no",
		            initial_zoom: "-1",
		            initial_zoom_solo: "no",
		            region_opacity: 1,
		            region_hover_opacity: 0.6,
		            zoom_out_incrementally: "yes",
		            zoom_percentage: 0.99,
		            zoom_time: 0.5,

		            //Popup settings
		            popup_color: "white",
		            popup_opacity: 0.9,
		            popup_shadow: 1,
		            popup_corners: 5,
		            popup_font: "12px/1.5 Verdana, Arial, Helvetica, sans-serif",
		            popup_nocss: "no",

		            //Advanced settings
		            div: "mapa",
		            auto_load: "yes",
		            url_new_tab: "no",
		            images_directory: "default",
		            fade_time: 0.1,
		            link_text: "View Website",
		            popups: "detect",
		            state_image_url: "",
		            state_image_position: "",
		            location_image_url: "static/img/minified-svg/place2.svg"
		        },
		        state_specific: {
	                KAZ3205: {
		                        name: "Павлодар облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 3",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=1"
		                    },
                    KAZ3207: {
		                        name: "Алматы облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 14",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=2"
		                    },
                    KAZ3195: {
		                        name: "Ақтөбе облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 18",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=3"
		                    },
                    KAZ3196: {
		                        name: "Қостанай облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 10",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=4"
		                    },
                    KAZ3197: {
		                        name: "Қызылорда облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 13",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=5"
		                    },
                    KAZ3198: {
		                        name: "Атырау облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 0",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=6"
		                    },
                    KAZ3201: {
		                        name: "Батыс Қазақстан облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 12",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=7"
		                    },
                    KAZ3202: {
		                        name: "Ақмола облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 8",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=8"
		                    },
                    KAZ3203: {
		                        name: "Қарағанды ​​облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 8",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=9"
		                    },
                    KAZ3204: {
		                        name: "Солтүстік Қазақстан облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 4",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=10"
		                    },
                    KAZ3206: {
		                        name: "Шығыс Қазақстан облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 36",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=11"
		                    },
                    KAZ3236: {
		                        name: "Маңғыстау облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 2",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=12"
		                    },
                    KAZ3251: {
		                        name: "Түркістан облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 2",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=13"
		                    },
                    KAZ3252: {
		                        name: "Жамбыл облысы",
		                        color: "#D9D9DE",
		                        description: "Орындалған жобалар: 7",
		                        url: "https://qazvolunteer.kz/kk/projects?region_id=14"
		                    }
		                                    },
		        locations: {
                    "0": {
		                    lat: "52.3166599",
		                    lng: "76.8947627",
		                    name: "Павлодар",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "1": {
		                    lat: "51.7261692",
		                    lng: "75.2844142",
		                    name: "Екібастұз",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "2": {
		                    lat: "43.2173885",
		                    lng: "76.8040827",
		                    name: "Алматы",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "3": {
		                    lat: "45.0106102",
		                    lng: "78.3548351",
		                    name: "Талдықорған",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "4": {
		                    lat: "50.2737724",
		                    lng: "57.1237494",
		                    name: "Ақтөбе",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "5": {
		                    lat: "53.2055331",
		                    lng: "63.551787",
		                    name: "Қостанай",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "6": {
		                    lat: "52.975533",
		                    lng: "63.0861993",
		                    name: "Рудный",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "7": {
		                    lat: "44.8281369",
		                    lng: "65.4700314",
		                    name: "Қызылорда",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "8": {
		                    lat: "47.0972372",
		                    lng: "51.8662627",
		                    name: "Атырау",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "9": {
		                    lat: "51.2182048",
		                    lng: "51.3160907",
		                    name: "Орал",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "10": {
		                    lat: "51.1480774",
		                    lng: "71.3393081",
		                    name: "Нұр-Султан",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "11": {
		                    lat: "53.2989393",
		                    lng: "69.3754431",
		                    name: "Көкшетау",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "12": {
		                    lat: "49.8241195",
		                    lng: "73.0288872",
		                    name: "Қарағанды",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "13": {
		                    lat: "49.567335",
		                    lng: "72.879909",
		                    name: "Теміртау",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "14": {
		                    lat: "54.8739717",
		                    lng: "69.0904091",
		                    name: "Петропавл",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "15": {
		                    lat: "50.4130211",
		                    lng: "80.2054884",
		                    name: "Семей",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "16": {
		                    lat: "49.9666298",
		                    lng: "82.5361189",
		                    name: "Өскемен",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "17": {
		                    lat: "43.659588",
		                    lng: "51.175688",
		                    name: "Ақтау",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "18": {
		                    lat: "43.3037389",
		                    lng: "68.2255693",
		                    name: "Түркістан",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "19": {
		                    lat: "42.341926",
		                    lng: "69.519766",
		                    name: "Шымкент",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "20": {
		                    lat: "42.8962377",
		                    lng: "71.2988216",
		                    name: "Тараз",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "21": {
		                    lat: "",
		                    lng: "",
		                    name: "Жезқазған",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "22": {
		                    lat: "",
		                    lng: "",
		                    name: "Арқалық",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                },
                    "23": {
		                    lat: "",
		                    lng: "",
		                    name: "Қапшағай",
		                    type: "image",
		                    size: "50",
		                    opacity: "1"
		                }
		                    },
		        labels: {},
		        regions: {}
		    };
		</script>
		<section class="d-map">
			<div class="wrapper">
				<div class="d-title">
					<span>Карта проектов</span>
				</div>
				<div id="mapa"></div>
			</div>
		</section>
		<section class="d-direction">
			<div class="wrapper">
				<div class="d-title">
					<span>Направления волонтерства</span>
					<a href="#">Смотреть все направления</a>
				</div>
				<div class="d-direction-slider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide set-bg-img">
								<div class="d-direction__title">
									Корпоративное волонтерство
								</div>
								<div class="d-direction__link">
									Подробнее
									{{Icon iconName="arrow-right"}}
								</div>
								<img src="static/img/content/direction.jpg" class="get-bg-img" alt="">
							</div>
							<div class="swiper-slide set-bg-img">
								<div class="d-direction__title">
									Корпоративное волонтерство
								</div>
								<div class="d-direction__link">
									Подробнее
									{{Icon iconName="arrow-right"}}
								</div>
								<img src="static/img/content/direction.jpg" class="get-bg-img" alt="">
							</div>
							<div class="swiper-slide set-bg-img">
								<div class="d-direction__title">
									Корпоративное волонтерство
								</div>
								<div class="d-direction__link">
									Подробнее
									{{Icon iconName="arrow-right"}}
								</div>
								<img src="static/img/content/direction.jpg" class="get-bg-img" alt="">
							</div>
							<div class="swiper-slide set-bg-img">
								<div class="d-direction__title">
									Корпоративное волонтерство
								</div>
								<div class="d-direction__link">
									Подробнее
									{{Icon iconName="arrow-right"}}
								</div>
								<img src="static/img/content/direction.jpg" class="get-bg-img" alt="">
							</div>
							<div class="swiper-slide set-bg-img">
								<div class="d-direction__title">
									Корпоративное волонтерство
								</div>
								<div class="d-direction__link">
									Подробнее
									{{Icon iconName="arrow-right"}}
								</div>
								<img src="static/img/content/direction.jpg" class="get-bg-img" alt="">
							</div>
						</div>
					</div>
					<div class="prev">
						{{Icon iconName="arrow-left"}}
					</div>
					<div class="next">
						{{Icon iconName="arrow-left"}}
					</div>
				</div>
			</div>
		</section>
		<section class="d-lastnews">
			<div class="wrapper">
				<div class="d-lastnews__block">
					<form class="d-lastnews__item d-lastnews__item-form">
						<div class="d-lastnews__title">
							Последние новости
						</div>
						<div class="d-lastnews__text">
							Подпишитесь на рассылку и бульте в курсе всех актуальных новостей
						</div>
						<input type="text" placeholder="Электронная почта*">
						<label class="d-lastnews__polit">
							<input type="checkbox">
							<div>
								{{Icon iconName="checkbox"}}
							</div>
							<span>Нажимая на кнопку “Подписаться”, я принимаю условия Политики конфиденциальности, Публичной оферты и даю своё согласие.</span>
						</label>
						<div class="red-button">
							подписаться
						</div>
					</form>
					<div class="d-lastnews__item">
						<div class="d-lastnews__title">
							В Костанае начали работать волонтеры полиции
						</div>
						<div class="d-lastnews__info">
							<span>
								{{Icon iconName="calendar"}}
								2 октября
							</span>
							<span>
								{{Icon iconName="eye"}}
								250
							</span>
							<span>
								{{Icon iconName="message"}}
								12
							</span>
						</div>
						<div class="d-lastnews__text">
							Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
						</div>
						<div class="d-lastnews__link">
							Читать далее
							{{Icon iconName="arrow-right"}}
						</div>
					</div>
					<div class="d-lastnews__item">
						<div class="d-lastnews__title">
							В Костанае начали работать волонтеры полиции
						</div>
						<div class="d-lastnews__info">
							<span>
								{{Icon iconName="calendar"}}
								2 октября
							</span>
							<span>
								{{Icon iconName="eye"}}
								250
							</span>
							<span>
								{{Icon iconName="message"}}
								12
							</span>
						</div>
						<div class="d-lastnews__text">
							Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
						</div>
						<div class="d-lastnews__link">
							Читать далее
							{{Icon iconName="arrow-right"}}
						</div>
					</div>
					<div class="d-lastnews__item">
						<div class="d-lastnews__title">
							В Костанае начали работать волонтеры полиции
						</div>
						<div class="d-lastnews__info">
							<span>
								{{Icon iconName="calendar"}}
								2 октября
							</span>
							<span>
								{{Icon iconName="eye"}}
								250
							</span>
							<span>
								{{Icon iconName="message"}}
								12
							</span>
						</div>
						<div class="d-lastnews__text">
							Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
						</div>
						<div class="d-lastnews__link">
							Читать далее
							{{Icon iconName="arrow-right"}}
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="d-best">
			<div class="wrapper">
				<div class="d-title">
					<span>Лучшие из лучших</span>
					<a href="#">Смотреть всех волонтеров</a>
				</div>
				<div class="d-best__container">
					<a href="#" class="d-best__item">
						<div class="d-best__img">
							<div class="d-best__photo set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="d-best__ball">
								5
							</div>
						</div>
						<div class="d-best__title">
							Perizat Mukhtar	
						</div>
						<div class="d-best__text">
							г. Алматы
						</div>
					</a>
					<a href="#" class="d-best__item">
						<div class="d-best__img">
							<div class="d-best__photo set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="d-best__ball">
								5
							</div>
						</div>
						<div class="d-best__title">
							Perizat Mukhtar	
						</div>
						<div class="d-best__text">
							г. Алматы
						</div>
					</a>
					<a href="#" class="d-best__item">
						<div class="d-best__img">
							<div class="d-best__photo set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="d-best__ball">
								5
							</div>
						</div>
						<div class="d-best__title">
							Perizat Mukhtar	
						</div>
						<div class="d-best__text">
							г. Алматы
						</div>
					</a>
					<a href="#" class="d-best__item">
						<div class="d-best__img">
							<div class="d-best__photo set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="d-best__ball">
								5
							</div>
						</div>
						<div class="d-best__title">
							Perizat Mukhtar	
						</div>
						<div class="d-best__text">
							г. Алматы
						</div>
					</a>
					<a href="#" class="d-best__item">
						<div class="d-best__img">
							<div class="d-best__photo set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="d-best__ball">
								5
							</div>
						</div>
						<div class="d-best__title">
							Perizat Mukhtar	
						</div>
						<div class="d-best__text">
							г. Алматы
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="lastevent">
			<div class="wrapper">
				<div class="lastevent__head">
					<div class="d-title">
						Последние опубликованные события
					</div>
					<div class="trs-button">
						Все события
					</div>
				</div>
				<div class="lastevent__container">
					<a href="#" class="lastevent__item">
						<div class="lastevent__icon">
							{{Icon iconName="leaf"}}
						</div>
						<div class="lastevent__title">
							Благотворительная ярмарка в университете TAU
						</div>
						<div class="lastevent__info">
							<p>
								{{Icon iconName="user"}}
								<span>
									Необходимо волонтеров
									<span class="blue-b">15</span>
								</span>
							</p>
							<p>
								{{Icon iconName="map-point"}}
								<span>
									Акмолинская область, г. Нур-Султан, <span class="blue">ул. Дукенулы 29, офис 25</span>
								</span>
							</p>
							<p>
								{{Icon iconName="clock"}}
								<span>
									Начало: <span class="blue">12.10.2019 15:55</span>
								</span>
							</p>
						</div>
					</a>
					<a href="#" class="lastevent__item">
						<div class="lastevent__icon">
							{{Icon iconName="leaf"}}
						</div>
						<div class="lastevent__title">
							Благотворительная ярмарка в университете TAU
						</div>
						<div class="lastevent__info">
							<p>
								{{Icon iconName="user"}}
								<span>
									Необходимо волонтеров
									<span class="blue-b">15</span>
								</span>
							</p>
							<p>
								{{Icon iconName="map-point"}}
								<span>
									Акмолинская область, г. Нур-Султан, <span class="blue">ул. Дукенулы 29, офис 25</span>
								</span>
							</p>
							<p>
								{{Icon iconName="clock"}}
								<span>
									Начало: <span class="blue">12.10.2019 15:55</span>
								</span>
							</p>
						</div>
					</a>
					<a href="#" class="lastevent__item">
						<div class="lastevent__icon">
							{{Icon iconName="leaf"}}
						</div>
						<div class="lastevent__title">
							Благотворительная ярмарка в университете TAU
						</div>
						<div class="lastevent__info">
							<p>
								{{Icon iconName="user"}}
								<span>
									Необходимо волонтеров
									<span class="blue-b">15</span>
								</span>
							</p>
							<p>
								{{Icon iconName="map-point"}}
								<span>
									Акмолинская область, г. Нур-Султан, <span class="blue">ул. Дукенулы 29, офис 25</span>
								</span>
							</p>
							<p>
								{{Icon iconName="clock"}}
								<span>
									Начало: <span class="blue">12.10.2019 15:55</span>
								</span>
							</p>
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="d-target">
			<div class="wrapper">
				<div class="d-title">
					<span>Цели устройчивого развития</span>
					<a href="">
						Смотреть все цели
					</a>
				</div>
				<div class="d-target__slider">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
							<div class="swiper-slide">
								<div class="d-target__link" data-button-text="Подробнее">
									<img src="static/img/content/target.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
					<div class="prev">
						{{Icon iconName="arrow-left"}}
					</div>
					<div class="next">
						{{Icon iconName="arrow-left"}}
					</div>
				</div>
			</div>
		</section>
		<section class="d-system">	
			<div class="wrapper">
				<div class="d-title">
					Система в цифрах
				</div>
				<div class="d-system__container">
					<div class="d-system__item">
						<span>928 424</span>
						<p>волонтеры</p>
					</div>
					<div class="d-system__item">
						<span>928 424</span>
						<p>волонтеры</p>
					</div>
					<div class="d-system__item">
						<span>928 424</span>
						<p>волонтеры</p>
					</div>
				</div>
			</div>
		</section>
		<section class="d-report">
			<div class="wrapper">
				<div class="d-title">
					<span>Отчеты выполненных проектов</span>
					<a href="">Смотреть все цели</a>
				</div>
				<div class="d-report__container">
					<a href="#" class="d-report__item">
						<div class="d-report__img set-bg-img">
							<img src="static/img/content/report.jpg" class="get-bg-img" alt="">
						</div>
						<div class="d-report__title">
							Уборка территории ГДК “ОНЕР”
						</div>
						<div class="d-report__date">
							2 октября
						</div>
					</a>
					<a href="#" class="d-report__item">
						<div class="d-report__img set-bg-img">
							<img src="static/img/content/report.jpg" class="get-bg-img" alt="">
						</div>
					</a>
					<a href="#" class="d-report__item">
						<div class="d-report__img set-bg-img">
							<img src="static/img/content/report.jpg" class="get-bg-img" alt="">
						</div>
					</a>
					<a href="#" class="d-report__item">
						<div class="d-report__img set-bg-img">
							<img src="static/img/content/report.jpg" class="get-bg-img" alt="">
						</div>
						<div class="d-report__title">
							В честь дня пожилых людей волонтеры раздали 20 продукто...
						</div>
						<div class="d-report__date">
							23 сентября
						</div>
					</a>
					<a href="#" class="d-report__item">
						<div class="d-report__img set-bg-img">
							<img src="static/img/content/report.jpg" class="get-bg-img" alt="">
						</div>
						<div class="d-report_fulltext">
							99+
						</div>
					</a>
				</div>
			</div>
		</section>
		<section class="d-partners">
			<div class="wrapper">
				<div class="d-title">
					Наши партнеры
				</div>
				<div class="d-partners__container">
					<div class="swiper-container">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/beeline-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/sam-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/beeline-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/sam-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/beeline-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/beeline-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/beeline-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/beeline-logo.png" alt="">
								</a>
							</div>
							<div class="swiper-slide">
								<a href="#">
									<img src="static/img/content/beeline-logo.png" alt="">
								</a>
							</div>
						</div>
					</div>
					<div class="prev">
						{{Icon iconName="arrow-left"}}
					</div>
					<div class="next">
						{{Icon iconName="arrow-left"}}
					</div>
				</div>
			</div>
		</section>
		<section class="d-rdy">
			<div class="wrapper">
				<div class="d-rdy__content">
					<div class="d-rdy__title">
						Готовы стать волонтером?
					</div>
					<div class="d-rdy__text">
						Присоединяйся к казахстанскому волонтерскому движению! Укажи свой номер и придумай пароль, чтобы зарегистрироваться. Тебя ждет много интересных проектов, возможности сделать мир чуточку лучше и светлее.
					</div>
				</div>
				<div class="d-rdy-img">
					<!-- <img src="static/img/content/arn.png" alt=""> -->
					<a href="#" class="button">Регистрация</a>
				</div>
			</div>
		</section>

        {{> footer/footer}}
		






        {{> forJsScss/forJsScss}}

        {{> popup/popup }}
    </body>

</html>