<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

    <div class="tland__img-2">
        <div class="m-bg-cont">
            <img src='static/img/content/tland-img.jpg'>
        </div>
        <div class="wrapper">
            <div class="bread">
                <a href="#">Главная</a>
                {{Icon iconName="bread-arrow"}}
                <span>Библиотека волонтеров</span>
            </div>
            <div class="tland__img-2-content">
                <div class="tland__img-2-title">
                    UNICEF
                </div>
            </div>
        </div>
    </div>
	<div class="tland">
        <div class="wrapper">
            <div class="tland__container">

                <div class="tland__info">
                    <div class="tland__info-block">
                        <div class="tland__info-title">
                            О нас
                        </div>
                        <div class="tland__info-desc">
                            Детский фонд ООН (ЮНИСЕФ) работает в 190 странах мира и территориях. ЮНИСЕФ наделен мандатом спасать жизни детей, отстаивать их права, способствовать развитию их способностей и продвижению благополучия каждого ребенка.
                        </div>
                        <div class="tland__info-desc">
                            <b>
                                Обеспечение равных возможностей для детей – одна из важнейших задач для ЮНИСЕФ как в Казахстане, так и во всем мире.
                            </b>
                        </div>
                    </div>
                    <div class="tland__info-block">
                        <div class="tland__info-title">
                                Миссия фонда 
                        </div>
                        <div class="tland__info-desc">
                            Каждый ребёнок имеет право на счастливое детство, наполненное родительской заботой, безопасностью и внимательным отношением к его здоровью и развитию. ЮНИСЕФ борется за права тех детей, которые, по разным причинам, лишены возможности расти и развиваться наравне с другими.
                        </div>
                        <div class="tland__info-desc">
                            ЮНИСЕФ был основан в 1946 году как Международный чрезвычайный детский фонд ООН, чтобы помочь детям, пострадавшим во время Второй мировой войны. Предполагалось, что фонд будет работать временно, однако необходимость в работе организации не снижалась, и меньше чем через 10 лет после создания, круг обязанностей ЮНИСЕФ был расширен, а название было изменено на Детский фонд ООН.
                        </div>
                        <div class="tland__info-desc">
                            Объединяя усилия партнёров по всему миру, ЮНИСЕФ направляет их на поддержку наиболее уязвимых детей и семей, находящихся в трудных жизненных ситуациях.
                        </div>
                    </div>
                </div>

                <div class="tland__content">
                    <div class="tland__content-left">
                        <div class="tland__content-title">
                                ЮНИСЕФ в Казахстане
                        </div>
                        <div class="tland__content-desc">
                                16 февраля 1994 года независимый Казахстан подписал один из первых международных документов - Конвенцию о правах ребенка.
                                В феврале 1992 года Детский фонд ООН ЮНИСЕФ организовал первую миссию в молодую независимую республику для проведения оценки положения детей Казахстана. Последовавший за этим проект по иммунизации всех детей против кори и полиомиелита стал первым для ЮНИСЕФ в Казахстане. 
                                
                        </div>
                        <div class="tland__content-desc">
                                За более чем 20 лет своей деятельности в Казахстане мандат ЮНИСЕФ значительно изменился: от поставки вакцин, лекарств и другой материальной помощи, мы перешли к укреплению потенциала общества и внедрению передовых социальных технологий в наилучших интересах детей и семей.
                            
                        </div>
                        <div class="tland__content-desc">
                                ЮНИСЕФ в тесном сотрудничестве с Правительством, местными органами управления и гражданским обществом работает над улучшением положения детей в Казахстане.

                        </div>
                        <div class="tland__content-desc">
                                В настоящее время реализуется очередная пятилетняя программа сотрудничества Правительства Казахстана и ЮНИСЕФ на 2016-2020 годы, в основу которой положены национальные приоритеты и стратегии. В полной мере также учитываются международные обязательства страны, включая достижение Целей ООН в области устойчивого развития. Создание института Уполномоченного по правам ребенка в Республике Казахстан также открыло новые возможности для координации деятельности всех организаций, занимающихся вопросами детства.

                        </div>
                    </div>
                    <div class="tland__content-right">
                        <img src='static/img/content/tland-content.jpg'>
                    </div>
                </div>

                <div class="tland__prj">
                    <div class="tland__prj-title">
                            Проекты
                    </div>
                    <div class="tland__prj-items">
                        <div class="tland__prj-item">
                            <div class="tland__prj-img">
                                <img src="static/img/content/tland-prj.svg" alt="">
                            </div>
                            <div class="tland__prj-content">
                                <div class="tland__prj-content-title">
                                        Plastic Free 
                                </div>
                                <div class="tland__prj-content-desc">
                                        Волонтерский проект «Plastic Free» преследует цель привить детям от 7 до 10 лет культуру минимизации использования пластика. Главной движущей силой проекта являются обученные Волонтеры, которые в школах будут проводить эко-уроки и знакомить детей с «жизненной картой» пластика. Волонтеры постараются привить детям эко-привычки: использование тканевых сумок вместо одноразовых пакетов, собственных бутылок вместо покупки одноразовых пластиковых бутылок. Мы верим, что, рассказав детям про влияние пластика на нашу жизнь и окружающую среду, можем повлиять как на них, так и на близкое окружение: родителей, родственников, взрослых в школе, вокруг дома и т.д.
                                </div>
                                <a href="#" class="tland__prj-load">
                                    <img src="static/img/content/tland-prj-load.svg" alt="">
                                    <div class="tland__prj-load-content">
                                        <div class="tland__prj-load-title">
                                                Plastic Free.pdf 
                                        </div>
                                        <div class="tland__prj-load-size">
                                                250 Кб
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="tland__prj-item">
                            <div class="tland__prj-img">
                                <img src="static/img/content/tland-prj.svg" alt="">
                            </div>
                            <div class="tland__prj-content">
                                <div class="tland__prj-content-title">
                                        Plastic Free 
                                </div>
                                <div class="tland__prj-content-desc">
                                        Волонтерский проект «Plastic Free» преследует цель привить детям от 7 до 10 лет культуру минимизации использования пластика. Главной движущей силой проекта являются обученные Волонтеры, которые в школах будут проводить эко-уроки и знакомить детей с «жизненной картой» пластика. Волонтеры постараются привить детям эко-привычки: использование тканевых сумок вместо одноразовых пакетов, собственных бутылок вместо покупки одноразовых пластиковых бутылок. Мы верим, что, рассказав детям про влияние пластика на нашу жизнь и окружающую среду, можем повлиять как на них, так и на близкое окружение: родителей, родственников, взрослых в школе, вокруг дома и т.д.
                                </div>
                                <a href="#" class="tland__prj-load">
                                    <img src="static/img/content/tland-prj-load.svg" alt="">
                                    <div class="tland__prj-load-content">
                                        <div class="tland__prj-load-title">
                                                Plastic Free.pdf 
                                        </div>
                                        <div class="tland__prj-load-size">
                                                250 Кб
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tland__contacts">
                    <div class="tland__contacts-title">
                            Контакты
                    </div>
                    <div class="tland__contacts-items">
                        <div class="tland__contacts-item">
                            <div class="tland__contacts-item-title">
                                    Куралай Жаркымбаева 
                            </div>
                            <span>Координатор проекта «Plastic Free»</span>
                            <span><a href="#">8 705 401 91 36</a></span>
                            <span><a href="#">kuralayzharkymbayeva@gmail.com</a></span>
                        </div>
                        <div class="tland__contacts-item">
                            <div class="tland__contacts-item-title">
                                    Куралай Жаркымбаева 
                            </div>
                            <span>Координатор проекта «Plastic Free»</span>
                            <span><a href="#">8 705 401 91 36</a></span>
                            <span><a href="#">kuralayzharkymbayeva@gmail.com</a></span>
                        </div>
                        <div class="tland__contacts-item">
                            <div class="tland__contacts-item-title">
                                    Куралай Жаркымбаева 
                            </div>
                            <span>Координатор проекта «Plastic Free»</span>
                            <span><a href="#">8 705 401 91 36</a></span>
                            <span><a href="#">kuralayzharkymbayeva@gmail.com</a></span>
                        </div>
                        <div class="tland__contacts-item">
                            <div class="tland__contacts-item-title">
                                    Куралай Жаркымбаева 
                            </div>
                            <span>Координатор проекта «Plastic Free»</span>
                            <span><a href="#">8 705 401 91 36</a></span>
                            <span><a href="#">kuralayzharkymbayeva@gmail.com</a></span>
                        </div>
                    </div>
                </div>

                <div class="tland__news">
                    <div class="tland__contacts-title">
                            Новости
                    </div>
                    <div class="tland__news-items">
                        <div class="tland__news-item">
                            <div class="tland__news-title">
                                    В Костанае начали работать волонтеры полиции
                            </div>
                            <div class="tland__news-features">
                                <span>
                                    <img src="static/img/content/news-1.svg" alt="">
                                    2 октября
                                </span>
                                <span>
                                    <img src="static/img/content/news-2.svg" alt="">
                                    250
                                </span>
                                <span>
                                    <img src="static/img/content/news-3.svg" alt="">
                                    12
                                </span>
                            </div>

                            <div class="tland__news-desc">
                                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                            </div>

                            <a href="#" class="tland__news-link">
                                    Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                            </a>

                        </div>
                        <div class="tland__news-item">
                            <div class="tland__news-title">
                                    В Костанае начали работать волонтеры полиции
                            </div>
                            <div class="tland__news-features">
                                <span>
                                    <img src="static/img/content/news-1.svg" alt="">
                                    2 октября
                                </span>
                                <span>
                                    <img src="static/img/content/news-2.svg" alt="">
                                    250
                                </span>
                                <span>
                                    <img src="static/img/content/news-3.svg" alt="">
                                    12
                                </span>
                            </div>

                            <div class="tland__news-desc">
                                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                            </div>

                            <a href="#" class="tland__news-link">
                                    Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                            </a>

                        </div>
                        <div class="tland__news-item">
                            <div class="tland__news-title">
                                    В Костанае начали работать волонтеры полиции
                            </div>
                            <div class="tland__news-features">
                                <span>
                                    <img src="static/img/content/news-1.svg" alt="">
                                    2 октября
                                </span>
                                <span>
                                    <img src="static/img/content/news-2.svg" alt="">
                                    250
                                </span>
                                <span>
                                    <img src="static/img/content/news-3.svg" alt="">
                                    12
                                </span>
                            </div>

                            <div class="tland__news-desc">
                                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                            </div>

                            <a href="#" class="tland__news-link">
                                    Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                            </a>

                        </div>
                        <div class="tland__news-item">
                            <div class="tland__news-title">
                                    В Костанае начали работать волонтеры полиции
                            </div>
                            <div class="tland__news-features">
                                <span>
                                    <img src="static/img/content/news-1.svg" alt="">
                                    2 октября
                                </span>
                                <span>
                                    <img src="static/img/content/news-2.svg" alt="">
                                    250
                                </span>
                                <span>
                                    <img src="static/img/content/news-3.svg" alt="">
                                    12
                                </span>
                            </div>

                            <div class="tland__news-desc">
                                    Они будут помогать патрулировать улицы, участвовать в поиске без вести пропавших людей, а также проводить профилактическую работу...
                            </div>

                            <a href="#" class="tland__news-link">
                                    Читать далее <img src="static/img/content/news-arrow.svg" alt="">
                            </a>

                        </div>
                    </div>
				</div>
				
				<div class="tland__galery">
					<div class="tland__contacts-title">
							Галерея
					</div>
					<div class="tland__galery-container">
						<div class="tland__galery-left">
							<a href="#" class="tland__galery-item">
								<div class="m-bg-cont">
									<img src='static/img/content/gal-1.jpg'>
								</div>
							</a>
						</div>
						<div class="tland__galery-right">
							<a href="#" class="tland__galery-item">
								<div class="m-bg-cont">
									<img src='static/img/content/gal-1.jpg'>
								</div>
							</a>
							<a href="#" class="tland__galery-item">
								<div class="m-bg-cont">
									<img src='static/img/content/gal-1.jpg'>
								</div>
							</a>
							<a href="#" class="tland__galery-item">
								<div class="m-bg-cont">
									<img src='static/img/content/gal-1.jpg'>
								</div>
							</a>
							<a href="#" class="tland__galery-item m-bg-cont">
								<div class="tland__galery-overlay">+99</div>
								<div class="m-bg-cont">
									<img src='static/img/content/gal-1.jpg'>
								</div>
							</a>
						</div>
					</div>
				</div>
                
                
            </div>
        </div>
    </div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

</html>