<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="lk">
			<div class="wrapper">
				<div class="lk__aside">
					<div class="lk__bar">
						<div class="lk-photo">
							<div class="lk-photo-img set-bg-img">
								<img src="static/img/content/def-photo.jpg" alt="" class="get-bg-img">
							</div>
							<div class="lk-photo-load">
								<label>
									<input type="file" class="imgInput" accept=".jpg, .png">
									<span>Загрузить фото</span>
								</label>
								<span>Формат: jpg, png</span>
								<span>Размер: не менее 200 × 200 px</span>
							</div>
						</div>
						<div class="lk-myinfo">
							<div class="lk-myinfo-title">
								<span>ОФ Новый дом</span>
								<p class="lk-myinfo-b">
									0.00
									{{Icon iconName="star-b"}}
								</p>
							</div>
							<div class="lk-myinfo-id">
								ID Организации: 177
							</div>
						</div>
						<div class="lk-statusbar">
							<span class="lk-statusbar-title">
								Завершенность анкеты
							</span>
							<div class="lk-statusbar-bar" data-percent-bar="55">
								<div>
									<span>sdsd</span>
								</div>
							</div>
							<a href="#" class="lk-statusbar-link">
								{{Icon iconName="download"}}
								Скачать анкету
							</a>
						</div>
						<div class="lk-line"></div>
						<div class="lk-links">
							<a href="" class="lk-link active">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
						</div>
					</div>
				</div>
				<div class="lk__container">
					<div class="infoorg">
						<div class="infoorg__title">Информация об организации</div>
						<div class="d-inputs">
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Название*</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>БИН/ИНН</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Область*</span>
								<select class="nice-select">
									<option value="">Выберите область</option>
									<option value="">option</option>
									<option value="">option</option>
									<option value="">option</option>
									<option value="">option</option>
								</select>
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Населенный пункт*</span>
								<select class="nice-select">
									<option value="">Выберите населенный пункт</option>
									<option value="">option</option>
									<option value="">option</option>
									<option value="">option</option>
									<option value="">option</option>
								</select>
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Юридический адрес</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Фактический адрес*</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
						</div>
						<div class="d-line"></div>
						<div class="d-checkboxs">
							<div class="d-checkboxs__title">
								Направление*
							</div>
							<div class="d-checkboxs__text">
								Выберите направление, подходящее для вашей организации 
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Социальная помощь</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Здравоохранение</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь детям</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Культура и искусство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь пожилым</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Этно-волонтерство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь животным</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Срочная помощь (ЧС)</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь на событиях</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Экология</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Интеллект. волонтерство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Донорство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Корпоратив. волонтерство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Спорт</span>
								</label>
							</div>
						</div>
						<div class="d-checkboxs tags">
							<div class="d-checkboxs__title">
								Тип организации*
							</div>
							<div class="d-checkboxs__text">
								Выберите типы, подходящие для вашей организации   
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Ассоциация</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Гос. учреждение</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Бизнес</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>ВУЗ</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Мед. организация</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Молодеж. центр</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>НКО</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Объединение граждан</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>СМИ</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Учреждение соц. защиты</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<span>Другое</span>
								</label>
							</div>
						</div>
						<div class="d-inputs">
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Руководитель</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Дата образования</span>
								<div class="data-picker-input">
									<input type="text" class="datepicker-here">
									{{Icon iconName="calendar"}}
								</div>
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
						</div>
						<div class="d-line"></div>
						<div class="d-textarea">
							<div class="d-textarea__title">
								Об организации
							</div>
							<textarea placeholder="тут wordpress панель" name="" id="" cols="30" rows="10"></textarea>
						</div>
						<div class="d-file">
							<div class="d-file__title">
								Уставные документы
							</div>
							<div class="d-file__text">
								Загрузите файл в формате pdf.
							</div>
							<label>
								<input type="file" accept=".pdf">
								<div>
									Выберите файл
								</div>
								<span></span>
							</label>
						</div>
						<div class="d-line"></div>
						<div class="infoorg__title">Контакты</div>
						<div class="d-inputs">
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Название*</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>БИН/ИНН</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Область*</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Населенный пункт*</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Юридический адрес</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Фактический адрес*</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
						</div>
						<div class="d-btns">
							<a href="" class="d-btns-btn">отмена</a>
							<button class="blue-button">сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}

        {{> popup/popup}}




        {{> forJsScss/forJsScss}}
    </body>

</html>