<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="lk">
			<div class="wrapper">
				<div class="lk__aside">
					<div class="lk__bar">
						<div class="lk-photo">
							<div class="lk-photo-img set-bg-img">
								<img src="static/img/content/def-photo.jpg" alt="" class="get-bg-img">
							</div>
							<div class="lk-photo-load">
								<label>
									<input type="file" class="imgInput" accept=".jpg, .png">
									<span>Загрузить фото</span>
								</label>
								<span>Формат: jpg, png</span>
								<span>Размер: не менее 200 × 200 px</span>
							</div>
						</div>
						<div class="lk-myinfo">
							<div class="lk-myinfo-title">
								<span>ОФ Новый дом</span>
								<p class="lk-myinfo-b">
									0.00
									{{Icon iconName="star-b"}}
								</p>
							</div>
							<div class="lk-myinfo-id">
								ID Организации: 177
							</div>
						</div>
						<div class="lk-statusbar">
							<span class="lk-statusbar-title">
								Завершенность анкеты
							</span>
							<div class="lk-statusbar-bar" data-percent-bar="55">
								<div>
									<span>sdsd</span>
								</div>
							</div>
							<a href="#" class="lk-statusbar-link">
								{{Icon iconName="download"}}
								Скачать анкету
							</a>
						</div>
						<div class="lk-line"></div>
						<div class="lk-links">
							<a href="" class="lk-link active">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
						</div>
					</div>
				</div>
				<div class="lk__container">
					<div class="personal">
						<div class="personal__title">
							Личная информация
						</div>
						<div class="personal__elem">
							<div class="personal__text">
								Дата рождения
							</div>
							<div class="personal__container">
								<div class="selects selects__date">
									<select name="" id="" class="days" data-curent-value="2">
									</select>
									<select name="" id="" class="mouth" data-curent-value="5">
									</select>
									<select name="" id="" class="year" data-min-year="1920" data-curent-value="1956">
									</select>
								</div>
							</div>
						</div>
						<div class="personal__elem">
							<div class="personal__text">
								Пол
							</div>
							<div class="personal__container">
								<div class="personal__radios">
									<label class="personal__radio">
										<input type="radio">
										<div></div>
										<span>Мужской</span>
									</label>
									<label class="personal__radio">
										<input type="radio">
										<div></div>
										<span>Мужской</span>
									</label>
								</div>
							</div>
						</div>
						<div class="d-line"></div>
						<div class="personal__elem">
							<div class="personal__text">
								Область
							</div>
							<div class="personal__container">
								<select class="nice-select">
									<option value="">Выберите область</option>
									<option value="">Выберите область</option>
									<option value="">Выберите область</option>
									<option value="">Выберите область</option>
								</select>
							</div>
						</div>
						<div class="personal__elem">
							<div class="personal__text">
								Населенный пункт
							</div>
							<div class="personal__container">
								<select class="nice-select">
									<option value="">Выберите населенный пункт</option>
									<option value="">Выберите населенный пункт</option>
									<option value="">Выберите населенный пункт</option>
									<option value="">Выберите населенный пункт</option>
									<option value="">Выберите населенный пункт</option>
								</select>
							</div>
						</div>
						<div class="personal__elem">
							<div class="personal__text">
								Направления
							</div>
							<div class="personal__container">
								<select class="nice-select">
									<option value="">Выберите направление</option>
									<option value="">Выберите направление</option>
									<option value="">Выберите направление</option>
									<option value="">Выберите направление</option>
									<option value="">Выберите направление</option>
									<option value="">Выберите направление</option>
								</select>
							</div>
						</div>
						<div class="personal__elem">
							<div class="personal__text">
								Стаж в волонтерстве
							</div>
							<div class="personal__container">
								<div class="personal__inputs with-buttons">
									<input type="text" placeholder="укажите ваш опыт">
									<div class="personal-radios">
										<label class="personal-radio">
											<input type="radio" name="gggg" checked>
											<div>месяцев</div>
										</label>
										<label class="personal-radio">
											<input type="radio" name="gggg">
											<div>лет</div>
										</label>
									</div>
								</div>
							</div>
						</div>
						<div class="d-line"></div>
						<div class="personal__elem">
							<div class="personal__text">
								Контакты
							</div>
							<div class="personal__container">
								<div class="personal__inputs">
									<input type="text" placeholder="Телефон">
									<input type="text" placeholder="Электронная почта">
									<div class="personal-input-text">
										<span>Facebook</span>
										<input type="text" placeholder="https://www.facebook.com/qazvolunteer.kz/">
									</div>
									<div class="personal-input-text">
										<span>Vkontakte</span>
										<input type="text" placeholder="https://www.vkontakte.ru/qazvolunteer.kz/">
									</div>
								</div>
							</div>
						</div>
						<div class="personal__elem">
							<div class="personal__text">
								О себе
							</div>
							<div class="personal__container">
								<textarea name="" id="" cols="30" rows="10" placeholder="Расскажите о себе"></textarea>
							</div>
						</div>
						<div class="d-btns">
							<a href="" class="d-btns-btn">отмена</a>
							<button class="blue-button">сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}




        {{> popup/popup}}

        {{> forJsScss/forJsScss}}
    </body>

</html>