<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="lk">
			<div class="wrapper">
				<div class="lk__aside">
					<div class="lk__bar">
						<div class="lk-photo">
							<div class="lk-photo-img set-bg-img">
								<img src="static/img/content/def-photo.jpg" alt="" class="get-bg-img">
							</div>
							<div class="lk-photo-load">
								<label>
									<input type="file" class="imgInput" accept=".jpg, .png">
									<span>Загрузить фото</span>
								</label>
								<span>Формат: jpg, png</span>
								<span>Размер: не менее 200 × 200 px</span>
							</div>
						</div>
						<div class="lk-myinfo">
							<div class="lk-myinfo-title">
								<span>ОФ Новый дом</span>
								<p class="lk-myinfo-b">
									0.00
									{{Icon iconName="star-b"}}
								</p>
							</div>
							<div class="lk-myinfo-id">
								ID Организации: 177
							</div>
						</div>
						<div class="lk-statusbar">
							<span class="lk-statusbar-title">
								Завершенность анкеты
							</span>
							<div class="lk-statusbar-bar" data-percent-bar="55">
								<div>
									<span>sdsd</span>
								</div>
							</div>
							<a href="#" class="lk-statusbar-link">
								{{Icon iconName="download"}}
								Скачать анкету
							</a>
						</div>
						<div class="lk-line"></div>
						<div class="lk-links">
							<a href="" class="lk-link active">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
						</div>
					</div>
					<div class="lk-b-link">
						<a href="">Помощь</a>
						<a href="">Удалить профиль</a>
					</div>
				</div>
				<div class="lk__container">
					<div class="repass">
						<div class="repass__title">
							Смена пароля
						</div>
						<div class="reg__input password-input">
							<input type="password" placeholder="Старый пароль">
							<div class="password-eye">
								{{Icon iconName="eye-pass"}}
								{{Icon iconName="eye-not"}}
							</div>
						</div>
						<div class="reg__input">
							<div class="password-input">
								<input type="password" placeholder="Новый пароль">
								<div class="password-eye">
									{{Icon iconName="eye-pass"}}
									{{Icon iconName="eye-not"}}
								</div>
							</div>
							<div class="status-bar">
								<div>
									<div></div>
								</div>
								<span class="status-bar-def">Минимум 6 символов</span>
								<span class="status-bar-error">Слишком короткий пароль, добавьте символов</span>
								<span class="status-bar-ok">Надежный пароль</span>
							</div>
						</div>
						<div class="reg__input password-input">
							<input type="password" placeholder="Повтор пароля">
							<div class="password-eye">
								{{Icon iconName="eye-pass"}}
								{{Icon iconName="eye-not"}}
							</div>
						</div>
						<div class="d-btns">
							<a href="" class="d-btns-btn">отмена</a>
							<button class="blue-button">сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}

        {{> popup/popup}}




        {{> forJsScss/forJsScss}}
    </body>

</html>