<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="lk">
			<div class="wrapper">
				<div class="lk__aside">
					<div class="lk__bar">
						<div class="lk-photo">
							<div class="lk-photo-img set-bg-img">
								<img src="static/img/content/def-photo.jpg" alt="" class="get-bg-img">
							</div>
							<div class="lk-photo-load">
								<label>
									<input type="file" class="imgInput" accept=".jpg, .png">
									<span>Загрузить фото</span>
								</label>
								<span>Формат: jpg, png</span>
								<span>Размер: не менее 200 × 200 px</span>
							</div>
						</div>
						<div class="lk-myinfo">
							<div class="lk-myinfo-title">
								<span>ОФ Новый дом</span>
								<p class="lk-myinfo-b">
									0.00
									{{Icon iconName="star-b"}}
								</p>
							</div>
							<div class="lk-myinfo-id">
								ID Организации: 177
							</div>
						</div>
						<div class="lk-statusbar">
							<span class="lk-statusbar-title">
								Завершенность анкеты
							</span>
							<div class="lk-statusbar-bar" data-percent-bar="55">
								<div>
									<span>sdsd</span>
								</div>
							</div>
							<a href="#" class="lk-statusbar-link">
								{{Icon iconName="download"}}
								Скачать анкету
							</a>
						</div>
						<div class="lk-line"></div>
						<div class="lk-links">
							<a href="" class="lk-link active">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
						</div>
					</div>
				</div>
				<div class="lk__container">
					<div class="thanksfiles">
						<div class="thanksfiles__title">
							Благодарственные письма, сертификаты, грамоты
						</div>
						<div class="d-file">
							<div class="d-file__title">
								Загрузите файл
							</div>
							<div class="d-file__text">
								Загрузите файл в формате pdf.
							</div>
							<label>
								<input type="file" accept=".pdf">
								<div>
									Выберите файл
								</div>
								<span></span>
							</label>
						</div>
						<div class="d-line"></div>
						<div class="thanksfiles__container">
							<a href="static/img/content/thanksfile.jpg" data-fancybox="gallery" class="thanksfiles__item">
								<img src="static/img/content/thanksfile.jpg" alt="">
							</a>
							<a href="static/img/content/thanksfile.jpg" data-fancybox="gallery" class="thanksfiles__item">
								<img src="static/img/content/thanksfile.jpg" alt="">
							</a>
							<a href="static/img/content/thanksfile.jpg" data-fancybox="gallery" class="thanksfiles__item">
								<img src="static/img/content/thanksfile.jpg" alt="">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}

        {{> popup/popup}}




        {{> forJsScss/forJsScss}}
    </body>

</html>