<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="lk">
			<div class="wrapper">
				<div class="lk__aside">
					<div class="lk__bar">
						<div class="lk-photo">
							<div class="lk-photo-img set-bg-img">
								<img src="static/img/content/def-photo.jpg" alt="" class="get-bg-img">
							</div>
							<div class="lk-photo-load">
								<label>
									<input type="file" class="imgInput" accept=".jpg, .png">
									<span>Загрузить фото</span>
								</label>
								<span>Формат: jpg, png</span>
								<span>Размер: не менее 200 × 200 px</span>
							</div>
						</div>
						<div class="lk-myinfo">
							<div class="lk-myinfo-title">
								<span>ОФ Новый дом</span>
								<p class="lk-myinfo-b">
									0.00
									{{Icon iconName="star-b"}}
								</p>
							</div>
							<div class="lk-myinfo-id">
								ID Организации: 177
							</div>
						</div>
						<div class="lk-statusbar">
							<span class="lk-statusbar-title">
								Завершенность анкеты
							</span>
							<div class="lk-statusbar-bar" data-percent-bar="55">
								<div>
									<span>sdsd</span>
								</div>
							</div>
							<a href="#" class="lk-statusbar-link">
								{{Icon iconName="download"}}
								Скачать анкету
							</a>
						</div>
						<div class="lk-line"></div>
						<div class="lk-links">
							<a href="" class="lk-link active">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
						</div>
					</div>
				</div>
				<div class="lk__container">
					<div class="lk-proj">
						<div class="lk-tabs">
							<div class="lk-tab">
								Текущие
								<span>3</span>
							</div>
							<div class="lk-tab">
								Планируемые
								<span>3</span>
							</div>
							<div class="lk-tab active">
								Завершенные
							</div>
						</div>
						<div class="lk__tabs-containers">
							<div class="lk__tabs-container">
								<div class="d-item-c">
									<a href="#">1</a>
									<p>Даты: 05.12.2019 - 06.12.2019</p>
								</div>
							</div>
							<div class="lk__tabs-container">
								<div class="d-item-c">
									<a href="#">2</a>
									<p>Даты: 05.12.2019 - 06.12.2019</p>
								</div>
							</div>
							<div class="lk__tabs-container active">
								<div class="d-item-c">
									<a href="#">Акция по сбору корма для приюта</a>
									<p>Даты: 05.12.2019 - 06.12.2019</p>
								</div>
								<div class="d-item-c">
									<a href="#">Акция по сбору корма для приюта</a>
									<p>Даты: 05.12.2019 - 06.12.2019</p>
									<div class="d-item-discript">
										<span>Роль: координатор проекта</span>
										<a href="">Выйти из проекта</a>
									</div>
								</div>
								<div class="d-item-c">
									<a href="#">Акция по сбору корма для приюта</a>
									<p>Даты: 05.12.2019 - 06.12.2019</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}


        {{> popup/popup}}



        {{> forJsScss/forJsScss}}
    </body>

</html>