<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="lk">
			<div class="wrapper">
				<div class="lk__aside">
					<div class="lk__bar">
						<div class="lk-photo">
							<div class="lk-photo-img set-bg-img">
								<img src="static/img/content/def-photo.jpg" alt="" class="get-bg-img">
							</div>
							<div class="lk-photo-load">
								<label>
									<input type="file" class="imgInput" accept=".jpg, .png">
									<span>Загрузить фото</span>
								</label>
								<span>Формат: jpg, png</span>
								<span>Размер: не менее 200 × 200 px</span>
							</div>
						</div>
						<div class="lk-myinfo">
							<div class="lk-myinfo-title">
								<span>ОФ Новый дом</span>
								<p class="lk-myinfo-b">
									0.00
									{{Icon iconName="star-b"}}
								</p>
							</div>
							<div class="lk-myinfo-id">
								ID Организации: 177
							</div>
						</div>
						<div class="lk-statusbar">
							<span class="lk-statusbar-title">
								Завершенность анкеты
							</span>
							<div class="lk-statusbar-bar" data-percent-bar="55">
								<div>
									<span>sdsd</span>
								</div>
							</div>
							<a href="#" class="lk-statusbar-link">
								{{Icon iconName="download"}}
								Скачать анкету
							</a>
						</div>
						<div class="lk-line"></div>
						<div class="lk-links">
							<a href="" class="lk-link active">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
						</div>
					</div>
				</div>
				<div class="lk__container">
					<div class="addrole">
						<div class="addrole__title">
							Добавить роли волонтеров в проекте
						</div>
						<div class="addrole__input">
							<div class="addrole__title-s">
								Название роли*
							</div>
							<input type="text">
						</div>
						<div class="addrole__container">
							<div class="addrole__inputs">
								<div class="addrole__input half">
									<div class="addrole__title-s">
										Начало*
									</div>
									<div class="data-picker-input">
										<input type="text" class="datepicker-here">
										{{Icon iconName="calendar"}}
									</div>
								</div>
								<div class="addrole__input half">
									<div class="addrole__title-s">
										Завершение*
									</div>
									<div class="data-picker-input">
										<input type="text" class="datepicker-here">
										{{Icon iconName="calendar"}}
									</div>
								</div>
								<div class="addrole__input">
									<div class="addrole__title-s">
										Сколько волонтеров необходимо на эту роль*
									</div>
									<input type="text">
								</div>
							</div>
							<div class="addrole__time">
								<div class="addrole__input">
									<div class="addrole__title-s">
										Время проведения
									</div>
									<div class="time-inputs">
										<span>с</span>
										<div class="number-input" data-max-val="24">
											<input type="number" placeholder="00">
											<div class="add"></div>
											<div class="reduse"></div>
										</div>
										<div class="number-input" data-max-val="59">
											<input type="number" placeholder="00">
											<div class="add"></div>
											<div class="reduse"></div>
										</div>
										<span>по</span>
										<div class="number-input" data-max-val="24">
											<input type="number" placeholder="00">
											<div class="add"></div>
											<div class="reduse"></div>
										</div>
										<div class="number-input" data-max-val="59">
											<input type="number" placeholder="00"> 
											<div class="add"></div>
											<div class="reduse"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="addrole__input">
							<div class="addrole__title-s">
								Задачи*
							</div>
							<div class="addrole__text">
								Опишите задачи волонтера на этой роли
							</div>
							<textarea name="" id="" cols="30" rows="10"></textarea>
						</div>
						<div class="addrole__input">
							<div class="addrole__title-s">
								Дополнительные требования 
							</div>
							<div class="addrole__text">
								Опишите доп. требования к волонтеру. Н-р: знание каз. языка, водительские права
							</div>
							<textarea name="" id="" cols="30" rows="10"></textarea>
						</div>
						<div class="d-addrole">
							добавить роль
							{{Icon iconName="add"}}
						</div>
						<div class="d-btns">
							<a href="" class="d-btns-btn">отмена</a>
							<button class="blue-button">сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}


        {{> popup/popup}}



        {{> forJsScss/forJsScss}}
    </body>

</html>