<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="lk">
			<div class="wrapper">
				<div class="lk__aside">
					<div class="lk__bar">
						<div class="lk-photo">
							<div class="lk-photo-img set-bg-img">
								<img src="static/img/content/def-photo.jpg" alt="" class="get-bg-img">
							</div>
							<div class="lk-photo-load">
								<label>
									<input type="file" class="imgInput" accept=".jpg, .png">
									<span>Загрузить фото</span>
								</label>
								<span>Формат: jpg, png</span>
								<span>Размер: не менее 200 × 200 px</span>
							</div>
						</div>
						<div class="lk-myinfo">
							<div class="lk-myinfo-title">
								<span>ОФ Новый дом</span>
								<p class="lk-myinfo-b">
									0.00
									{{Icon iconName="star-b"}}
								</p>
							</div>
							<div class="lk-myinfo-id">
								ID Организации: 177
							</div>
						</div>
						<div class="lk-statusbar">
							<span class="lk-statusbar-title">
								Завершенность анкеты
							</span>
							<div class="lk-statusbar-bar" data-percent-bar="55">
								<div>
									<span>sdsd</span>
								</div>
							</div>
							<a href="#" class="lk-statusbar-link">
								{{Icon iconName="download"}}
								Скачать анкету
							</a>
						</div>
						<div class="lk-line"></div>
						<div class="lk-links">
							<a href="" class="lk-link active">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
							<a href="" class="lk-link">
								{{Icon iconName="profile-icon"}}
								Профиль
							</a>
						</div>
					</div>
				</div>
				<div class="lk__container">
					<div class="infoproject">
						<div class="infoproject__title">
							Основная информация о проекте
						</div>
						<div class="d-file">
							<div class="d-file__title">
								Фотография проекта*
							</div>
							<div class="d-file__text">
								Загрузите файл в формате .jpg или .pdf
							</div>
							<label>
								<input type="file" accept=".pdf, .jpg">
								<div>
									Выберите файл
								</div>
								<span></span>
							</label>
						</div>
						<div class="reg__input"> <!-- .error необходим для показа msg error -->
							<span>Название проекта*</span>
							<input type="text" value="Введите название, которое отразит суть проекта">
							<span class="msg-error">Пожалуйста, введите верный формат данных</span>
						</div>
						<div class="d-checkboxs">
							<div class="d-checkboxs__title">
								Направление*
							</div>
							<div class="d-checkboxs__text">
								Выберите направление, подходящее для вашей организации 
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Социальная помощь</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Здравоохранение</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь детям</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Культура и искусство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь пожилым</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Этно-волонтерство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь животным</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Срочная помощь (ЧС)</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Помощь на событиях</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Экология</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Интеллект. волонтерство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Донорство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Корпоратив. волонтерство</span>
								</label>
							</div>
							<div class="d-checkbox">
								<label>
									<input type="checkbox">
									<div>
										{{Icon iconName="checkbox"}}
									</div>
									<span>Спорт</span>
								</label>
							</div>
						</div>
						<div class="d-inputs">
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Email координатора проекта*</span>
								<span class="reg__input-text">Волонтеры смогут связаться с организатором </span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Телефон координатора проекта</span>
								<span class="reg__input-text">Волонтеры смогут связаться с организатором </span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
						</div>
						<div class="d-line"></div>
						<div class="d-textarea">
							<div class="d-textarea__title">
								Описание проекта*
							</div>
							<div class="d-textarea__text">Опишите цели проекта, его целевую аудиторию, какая помощь нужна от волонтеров</div>
							<textarea placeholder="тут wordpress панель" name="" id="" cols="30" rows="10"></textarea>
						</div>
						<div class="d-inputs">
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Населенный пункт*</span>
								<input type="text" placeholder="Населенный пункт*">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Необходимо волонтеров</span>
								<input type="text" placeholder="Необходимо волонтеров">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
						</div>
						<div class="infoproject__inputs">
							<div>
								<div class="d-inputs">
									<div class="reg__input"> <!-- .error необходим для показа msg error -->
										<span>Начало*</span>
										<div class="data-picker-input">
											<input type="text" class="datepicker-here">
											{{Icon iconName="calendar"}}
										</div>
										<span class="msg-error">Пожалуйста, введите верный формат данных</span>
									</div>
									<div class="reg__input"> <!-- .error необходим для показа msg error -->
										<span>Завершение*</span>
										<div class="data-picker-input">
											<input type="text" class="datepicker-here">
											{{Icon iconName="calendar"}}
										</div>
										<span class="msg-error">Пожалуйста, введите верный формат данных</span>
									</div>
								</div>
							</div>
							<div>
								<div class="addrole__time">
									<div class="addrole__input">
										<div class="addrole__title-s">
											Время проведения
										</div>
										<div class="time-inputs">
											<span>с</span>
											<div class="number-input" data-max-val="24">
												<input type="number" placeholder="00">
												<div class="add"></div>
												<div class="reduse"></div>
											</div>
											<div class="number-input" data-max-val="59">
												<input type="number" placeholder="00">
												<div class="add"></div>
												<div class="reduse"></div>
											</div>
											<span>по</span>
											<div class="number-input" data-max-val="24">
												<input type="number" placeholder="00">
												<div class="add"></div>
												<div class="reduse"></div>
											</div>
											<div class="number-input" data-max-val="59">
												<input type="number" placeholder="00"> 
												<div class="add"></div>
												<div class="reduse"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="infoproject__title">
							Ссылки на страницы проекта
						</div>
						<div class="reg__input"> <!-- .error необходим для показа msg error -->
							<span>Web-сайт</span>
							<input type="text" value="https://www.example.kz">
							<span class="msg-error">Пожалуйста, введите верный формат данных</span>
						</div>
						<div class="d-inputs">
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Facebook</span>
								<input type="text" placeholder="https://www.facebook.com/qazvolunteer.kz/">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Instagram</span>
								<input type="text" placeholder="https://www.instagram.com/qazvolunteer.kz/">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
						</div>
						<div class="d-inputs">
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Vkontakte</span>
								<input type="text" placeholder="https://www.vkontakte.ru/qazvolunteer.kz/">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Youtube</span>
								<input type="text" placeholder="https://www.youtube.com/qazvolunteer.kz/">
								<span class="msg-error">Пожалуйста, введите верный формат данных</span>
							</div>
						</div>
						<div class="d-file">
							<div class="d-file__title">
								Материалы проекта
							</div>
							<div class="d-file__text">
								Вы можете загрузить файл, рассказывающий о проекте. 
							</div>
							<div class="d-file__text">
								Форматы: jpg, pdf, ppt, pptx, doc, docx.
							</div>
							<label>
								<input type="file" accept=".pdf, .jpg">
								<div>
									Выберите файл
								</div>
								<span></span>
							</label>
						</div>
						<div class="d-btns">
							<a href="" class="d-btns-btn">отмена</a>
							<button class="blue-button">сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}


        {{> popup/popup}}



        {{> forJsScss/forJsScss}}
    </body>

</html>