<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		<div class="reg">
			<div class="wrapper">
				<div class="reg__head">
					<a href="#" class="active">Войти</a>
					<span>или</span>
					<a href="#">Зарегистрироваться</a>
				</div>
				<div class="reg__body">
					<div class="reg__container">
						<form action="" class="active"> <!-- .error для показа сообщения -->
							<span class="message-error">Неверно введен логин или пароль, проверьте данные, и повторите попытку</span>
							<div class="reg__input">
								<input type="text" placeholder="Ваш Email">
							</div>
							<div class="reg__input password-input">
								<input type="password" placeholder="Пароль">
								<div class="password-eye">
									{{Icon iconName="eye-pass"}}
									{{Icon iconName="eye-not"}}
								</div>
							</div>
							<div class="reg__options">
								<label class="reg__checkbox">
									<input type="checkbox">
									<div>{{Icon iconName="checkbox"}}</div>
									<span>Запомнить меня.</span>
								</label>
								<a href="#" class="reg-link">
									Забыли пароль?
								</a>
							</div>
							<button class="red-button">
								войти
							</button>
							<div class="login-social">
								<div class="login-social-title">
									<span>или войти с помощью соцсети</span>
								</div>
								<div class="login-social-links">
									<a href="">
										{{Icon iconName="facebook"}}
									</a>
									<a href="">
										{{Icon iconName="vkontakte"}}
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}



        {{> popup/popup}}


        {{> forJsScss/forJsScss}}
    </body>

</html>