<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%


	<div class="l-mail">
		<div class="l-mail-wrapper">
			<div class="l-mail-logo">
				{{Icon iconName="mail-logo"}}
				<p>Единая платформа волонтёров</p>
			</div>
			<div class="l-mail-msg">
				<p class="msg">Добрый день, <br>
					12 декабря 2019 г. завершился проект <b id="action-name">“Акция по сбору корма и средств для приютов с животными “Книга за корм”</b>
				</p>
				<p>Вы принимали участие в проекте в качестве волонтера.<br> Пожалуйста, оцените организацию проекта, ответьте на несколько вопросов, это поможет другим организаторам и волонтерам найти друг друга.</p>
				<a href="#" class="become-volont">оценить проект</a>
			</div>

			<div class="l-mail-social">
				<a href="#">
					{{Icon iconName="profile-facebook"}}
				</a>
				<a href="#">
					{{Icon iconName="profile-vk"}}
				</a>
				<a href="#">
					{{Icon iconName="profile-insta"}}
				</a>
			</div>

			<div class="l-mail-info">
				<div class="l-mail-info-item">
					<span>Режим работы</span>
					<span>с 10:00 до 18:00</span>
				</div>
				<div class="l-mail-info-item">
					<a href="#">www.qazvolunteer.kz</a>
				</div>
				<div class="l-mail-info-item third-item">
					<span>Горячая линия</span>
					<a href="tel:+77764115375" class="item-phone">+7 776 411 53 75</a>
				</div>
			</div>

			<div class="l-mail-reminder">
				Вы получили это  письмо, т.к. подписаны на рассылку с qazvolunteer.kz
			</div>
		</div>
	</div>

    {{> popup/popup}}
	
	{{> forJsScss/forJsScss}}

</body>

</html>