<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}
        <div class="news news__new">
            <div class="wrapper">
                <div class="news__container">
                    <div class="news__content">
                        <div class="html">
                            <h1>Студентам-волонтерам повысят стипендию на 30% в Казахстане</h1>
                        </div>
                        <div class="news__item-top">
                            <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                            <span>{{Icon iconName="news-eye"}}1050</span>
                            <span>{{Icon iconName="news-com"}} 12</span>
                        </div>
                        <div class="html">
                            <p>
                                    "Планируется, что с нового учебного года студентам вузов, которые будут заниматься волонтерской деятельностью в детских домах, спецшколах, домах престарелых и других учреждениях, на 30% будет повышена стипендия", - сообщил министр информации и общественного развития РК Даурен Абаев. 
                            </p>
                            <p>
                                    Кроме того, в стране появится волонтерское движение "Студенческая инициатива" и будет сформирована база молодых волонтеров. 
                            </p>

                            <div class="cite">
                                {{Icon iconName="cite-svg"}}
                                <p>
                                    "Проработан вопрос о привлечении студентов в строительные отряды. Студенты уже начали работать в строительных отрядах в летнее каникулярное время. 
                                </p>
                                <p>
                                    Запущен проект "Социальный студенческий кредит" по повышению доли студентов, вовлеченных в добровольную общественно полезную деятельность", - добавил министр.
                                </p>
                            </div>
                        </div>
                    </div>

                    
                    <div class="news__sidebar-container">
                        {{> news-sidebar/news-sidebar}} 
                    </div>
                </div>
            </div>
        </div>

        {{> popup/popup}}
        
        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
    </body>

</html>