<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}

        <div class="news">
            <div class="wrapper">
                <div class="news__top main-title">
                        Новости Казахстана
                </div>
                <div class="news__container">
                    <div class="news__content">

                        <div class="news__items">
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                    <a href="#">
                                        <img src='static/img/content/news-1.jpg'>
                                    </a>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
                            <div class="news__item">
                                <div class="news__item-img m-bg-cont">
                                        <img src='static/img/content/news-1.jpg'>
                                </div>
                                <div class="news__item-content">
                                    <div class="news__item-top">
                                        <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                        <span>{{Icon iconName="news-eye"}}1050</span>
                                        <span>{{Icon iconName="news-com"}} 12</span>
                                    </div>
    
                                    <div class="news__item-title">
                                            Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                    </div>
                                    
                                    <a href="#" class="news__item-link">
                                            Читать далее {{Icon iconName="arrow-right-orange"}}
                                    </a>
                                    
                                </div>
                            </div>
    
                        </div>

                        {{> pag/pag}}

                    </div>

                    <div class="news__sidebar-container">
                        {{> news-sidebar/news-sidebar}}
                    </div>
                    
                </div>
            </div>
        </div>


        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
        {{> popup/popup}}

    </body>

</html>