<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

	<div class="s-public">
		<div class="wrapper">
			<div class="s-public-profile">
				<div class="s-public-profile-img">
					<img src="%=static=%img/general/org-profile.png" alt="Профиль">
					<div class="s-public-profile-name">
						<h4>ОФ Новый дом</h4>
					</div>
					<div class="s-public-profile-id">
						<div class="s-public-profile-text">
							ID Волонтера: <span id="volont-id">177</span>
						</div>
					</div>
				</div>

				<div class="s-public-profile-content">
					<div class="s-public-profile-item">
						<span>Область:</span>
						<p>Алматинская</p>
					</div>
					<div class="s-public-profile-item">
						<span>Населенный пункт:</span>
						<p>Алматы</p>
					</div>
					<div class="s-public-profile-item">
						<span>Направления:</span>
						<div class="s-public-profile-tags">
							<div>Помощь животным</div>
						</div>
					</div>
					<div class="s-public-profile-item">
						<span>Стаж:</span>
						<p>3 года</p>
					</div>
					<div class="s-public-profile-item">
						<span>Контакты:</span>
						<a href="tel:+77050000077" class="contacts-link">+7 705 000 00 77</a>
						<a href="mailto:bakhytm@gmail.com" class="contacts-link">bakhytm@gmail.com</a>
					</div>

					<div class="s-public-profile-social">
						<a href="#">
							{{Icon iconName="profile-facebook"}}
						</a>
						<a href="#">
							{{Icon iconName="profile-vk"}}
						</a>
						<a href="#">
							{{Icon iconName="profile-insta"}}
						</a>
					</div>

				</div>

			</div>

			<div class="s-public-about">
				<div class="s-public-about-text">
					<h4>Об организации</h4>
					<p>Общественный фонд «Новый дом» - это благотворительная организация, главной целью которой является помощь животным, оказавшимся на улице. Свою деятельность фонд начал в 2015 году и открыл свой первый приют неподалеку от г. Алматы. Инициативная группа из нескольких неравнодушных людей спасала с улиц бродячих животных города Алматы и пригорода. На сегодняшний день активная деятельность волонтеров и сотрудников фонда позволяет содержать более 80 собак.</p>
				</div>
				<div class="s-public-about-main">
					<div class="public-about-main-item">
						<h4>Дата образования:</h4>
						<p>19.05.2013</p>
					</div>
					<div class="public-about-main-item">
						<h4>Руководитель:</h4>
						<p>Муратов Чингиз Даниярович</p>
					</div>
					<div class="public-about-main-item">
						<h4>Юридический адрес:</h4>
						<p>г. Алматы, ул. Кунаева 16</p>
					</div>
					<div class="public-about-main-item">
						<h4>Фактический адрес:</h4>
						<p>г. Алматы, ул. Кунаева 27, офис 3</p>
					</div>
				</div>
				<div class="s-public-about-tabs">
					<h4>Проекты</h4>

					<ul class="s-about__tabs">
						<li class="active">Текущие <span id="current-value">2</span></li>
						<!-- Открытие первого таба -->
						<li>Планируемые <span id="planned-value">1</span></li>
						<!-- Открытие второго таба -->
						<li>Завершенные <span id="completed-value"></span>20</li>
						<!-- Открытие третьего таба -->
						<li>Отзывы <span id="org-review">15</span></li>
						<!-- Открытие четвертого таба -->
					</ul>

					<div class="s-about__content active">

						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Оказание помощи бездомным животным</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">г. Алматы</span></div>
						</div>

						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Акция в поддержку животных</a>
								<p id="s-content-item-date">Даты: 03.12.2019 - 08.12.2019</p>
							</div>
							<div class="role">г. Талгар</span></div>
						</div>
					</div>
					<!-- Первый таб -->

					<div class="s-about__content">
						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Помощь малоимущим семьям продуктами питания и теплой одеждой</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">Роль: <span id="user-role">координатор проекта</span></div>
						</div>
					</div>
					<!-- Второй таб -->

					<div class="s-about__content">
						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Помощь малоимущим семьям продуктами питания и теплой одеждой</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">Роль: <span id="user-role">координатор проекта</span></div>
						</div>
					</div>
					<!-- Третий таб -->

					<div class="s-about__content">
						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Помощь малоимущим семьям продуктами питания и теплой одеждой</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">Роль: <span id="user-role">координатор проекта</span></div>
						</div>
					</div>
					<!-- Четвертый таб -->

				</div>
			</div>
		</div>
	</div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

</html>