<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}

    <div class="bread">
        <div class="wrapper">
            <a href="/">Главная</a>
            {{Icon iconName="bread-arrow"}}
            <span>Партнеры</span>
        </div>
    </div>

    <div class="l-partners">
        <div class="wrapper">
            <div class="l-partners__title">
                <h3>Партнеры</h3>
            </div>
            <div class="l-partners__content">
                <div class="l-partners-item"> 
                    <img src="%=static=%img/general/partners/atameken.png" alt="Партнеры">
                    <div class="l-tooltip">
                        <h4>Атамекен</h4>
                        <p>Информационно-аналитического портала «Центра мониторинга и экспертизы рынка»</p>
                    </div>
                </div>
                <div class="l-partners-item"> 
                    <img src="%=static=%img/general/partners/un.png" alt="Партнеры">
                    <div class="l-tooltip">
                        <h4>UN Volunteers</h4>
                        <p>Программа добровольцев Организации Объединенных Наций</p>
                    </div>
                </div>
                <div class="l-partners-item"> 
                    <img src="%=static=%img/general/partners/beeline.png" alt="Партнеры">
                    <div class="l-tooltip">
                        <h4>Beeline</h4>
                        <p>Оператор сотовой связи, мобильного и проводного интернета в Казахстане</p>
                    </div>
                </div>
                <div class="l-partners-item"> 
                    <img src="%=static=%img/general/partners/oon.png" alt="Партнеры">
                    <div class="l-tooltip">
                        <h4>ООН-женщины</h4>
                        <p>Структура Организации Объединённых Наций по вопросам гендерного равенства и расширения прав и возможностей женщин</p>
                    </div>
                </div>
                <div class="l-partners-item"> 
                    <img src="%=static=%img/general/partners/samruk.png" alt="Партнеры">
                    <div class="l-tooltip">
                        <h4>Фонд развития социальных проектов</h4>
                        <p>«Samruk-Kazyna Trust» реализует благотворительные проекты и программы, направленные на решение социально значимых для населения вопросов от всей группы компаний АО «Самрук-Қазына».</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{> footer/footer}}
    {{> popup/popup}}
    {{> forJsScss/forJsScss}}
</body>

</html>