<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}
    {{> bread/bread}}

    <div class="l-who">
        <div class="wrapper">
            <div class="l-who__content">
                <div class="pro-content">
                    <h3 class="l-who__info-title">Про волонтерство</h3>
                    <h4 class="l-who__info-name">Волонтеры – кто это?</h4>
                    <p class="l-who__info-desc">Есть три необходимых и достаточных условий:</p>

                    <div class="l-who__info-alert pro-content-alert">
                        <div class="pro-content-alert-items">
                            <div class="l-who__item">
                                <div class="who__number">1</div>
                                <div class="who__text">
                                    <h5>Добровольно</h5>
                                    <span>То, что я делаю, я выбрал сам. Это мое желание, моя воля.</span>
                                </div>
                            </div>

                            <div class="l-who__item">
                                <div class="who__number">2</div>
                                <div class="who__text">
                                    <h5>Безвозмездно</h5>
                                    <span>Я не жду оплаты или награды за мой труд. Это не работа за гонорар. Это мой бескорыстный вклад</span>
                                </div>
                            </div>

                            <div class="l-who__item">
                                <div class="who__number">3</div>
                                <div class="who__text">
                                    <h5>У обеих сторон действует рейтинг</h5>
                                    <span>Я своими действиями улучшаю социальную ситуацию. Мои действия приносят пользу.</span>
                                </div>
                            </div>

                            <div class="l-who__item pro-item">
                                <div class="who__number"></div>
                                <div class="who__text">
                                    <h5>Таким образом, волонтёр</h5>
                                    <span> – это самостоятельный,
                                        психологически зрелый человек, делающий
                                        свободный, осознанный и ответственный выбор
                                        вкладывать свое время и усилия, чтобы делать
                                        жизнь вокруг себя лучше!
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="pro-typical">
                            <p>Типичные ошибки в понимании этих принципов:</p>
                            <ol>
                                <li>Волонтёры – это студенты и бюджетники, которых вечно заставляют в чём-то участвовать: то в субботниках, то в спортивных мероприятиях, то в праздновании чего-либо... </li>
                                <li>Волонтёры – это бездельники, которым нечем заняться, вот они и работают где попало «за еду и кепочки/футболки».</li>
                                <li>Кто-то думает, что волонтёрство – это тяжёлый физический труд по «указке сверху», другие – что это весёленькая тусовка на различных мероприятиях.</li>
                            </ol>
                        </div>

                    </div>

                </div>

            </div>

            <div class="pro-example">
                <h4 class="pro-example-title">Примеры сотрудничества с волонтерами</h4>
                <p class="pro-example-desc">Социальные проекты, офисная работа, акции имиджевого направления, организация спортивных мероприятий, неоплачиваемая практика в государственных структурах, благотворительные акции, работа с социально уязвимыми слоями населения, работа с животными и экологией, на раскопках, в медицинских организациях и во многих других сферах.
                </p>
                <h5>Волонтер там, где нужна его помощь:</h5>
                <span>В рамках НПО/НКО</span>
                <span>С государственными органами и бюджетными организациями</span>
                <span>С коммерческими организациями</span>
                <span>С международными организациями</span>
            </div>

            <div class="pro-links">
                <div class="pro-link">
                    <span>Об объявлении Года волонтера</span>
                    <a href="http://www.akorda.kz/ru/legal_acts/decrees/ob-obyavlenii-goda-volontera" target="_blank">читать</a>
                </div>
                <div class="pro-link">
                    <span>Закон о волонтерской деятельности</span>
                    <a href="https://online.zakon.kz/document/?doc_id=34802272" target="_blank">читать</a>
                </div>
                <div class="pro-link">
                    <span>Дорожная карта по развитию волонтерской деятельности в Республике Казахстан на 2018 – 2020 годы</span>
                    <a href="http://qogam.gov.kz/sites/default/files/pages/dorozhnaya_karta_po_razvitiyu_volonterskoy_deyatelnosti_v_rk_na_2018-2019_gody.docx" download>Скачать</a>
                </div>
            </div>
        </div>
    </div>

    {{> footer/footer}}
    {{> forJsScss/forJsScss}}
    {{> popup/popup}}

</body>

</html>