<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

	<div class="l-assessment">
		<div class="wrapper">
			<h4>Оцените проект</h4>
			<p>Пожалуйста, оцените организацию проекта: <b>Акция по сбору корма и средств для приютов с животными “Книга за корм”.</b></p>
			<p>Ваша оценка повлияет на рейтинг организации.</p>

			<div class="l-table">
				<form action="">
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Рекомендуете ли вы <br> организацию волонтерам?</th>
								<th>Как вы оцениваете вовлеченность <br> координатор в проект?</th>
								<th>Как вы оцениваете опыт, <br> полученный на проекте <br> от 1 до 10 баллов?</th>
								<th>Насколько организатор следовал <br> правилам проекта (пунктуальность, <br> дисциплина)?</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<div class="table-profile">
										<img src="%=static=%img/general/similar-img2.png" alt="Проект">
										<div class="table-profile-text">
											<h4>ОФ “Новый дом”</h4>
											<span>ID Организатора: 1977</span>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rec" id="radio1">
											<label for="radio1">Не рекомендую</label>
										</div>
										<div>
											<input type="radio" name="rec" id="radio2">
											<label for="radio2">Рекомендую</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="level" id="radio3">
											<label for="radio3">Низкая</label>
										</div>
										<div>
											<input type="radio" name="level" id="radio4">
											<label for="radio4">Средняя</label>
										</div>
										<div>
											<input type="radio" name="level" id="radio5">
											<label for="radio5">Высокая</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="rating" id="radio6">
											<label for="radio6">1-4</label>
										</div>
										<div>
											<input type="radio" name="rating" id="radio7">
											<label for="radio7">5-8</label>
										</div>
										<div>
											<input type="radio" name="rating" id="radio8">
											<label for="radio8">9-10</label>
										</div>
									</div>
								</td>
								<td>
									<div class="table-radio">
										<div>
											<input type="radio" name="follow" id="radio9">
											<label for="radio9">Не следовал/a</label>
										</div>
										<div>
											<input type="radio" name="follow" id="radio10">
											<label for="radio10">Следовал/a</label>
										</div>
									</div>
								</td>
							</tr>

						</tbody>
					</table>

					<button class="">оценить организатора</button>
				</form>

			</div>

			
		</div>
	</div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

<style>
	.l-assessment {
		padding-bottom: 50px;
	}

	.l-assessment h4 {
		margin: 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
		margin-bottom: 24px;
	}

	.l-assessment p {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		margin: 0;
	}

	.l-assessment p b {
		font-weight: 600;
	}

	.l-table {
		margin-top: 30px;
		padding-bottom: 50px;
	}

	.l-table table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}

	.l-table table thead {
		background: #F5F5F7;
		-webkit-box-shadow: 4px 4px 16px rgba(209, 205, 199, 0.6);
		box-shadow: 4px 4px 16px rgba(209, 205, 199, 0.6);
		vertical-align: top;
	}

	.l-table table thead th {
		font-weight: normal;
		font-size: 12px;
		line-height: 140%;
		color: #333333;
		padding: 14px 0;
		width: 223px;
		text-align: left;
	}

	.l-table table tbody {
		vertical-align: top;
	}

	.l-table table tbody tr {
		border-bottom: 1px solid #D9D9DE;
	}

	.l-table table tbody td {
		padding: 43px 0;
	}

	.l-table table tbody td .table-profile {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-table table tbody td .table-profile img {
		width: 50px;
		height: 50px;
		-o-object-fit: cover;
		object-fit: cover;
	}

	.l-table table tbody td .table-profile-text {
		margin-left: 15px;
	}

	.l-table table tbody td .table-profile-text h4 {
		margin: 0;
		font-weight: 500;
		font-size: 13px;
		line-height: 146%;
		color: #000000;
		text-align: left;
	}

	.l-table table tbody td .table-profile-text span {
		font-weight: normal;
		font-size: 13px;
		line-height: 146%;
		color: #999999;
		text-align: left;
	}

	.l-table table tbody td .table-radio {
		margin-top: 10px;
	}

	.l-table table tbody td .table-radio > div:not(:last-child) {
		margin-bottom: 10px;
	}

	.l-table table tbody td .table-radio label {
		font-weight: normal;
		font-size: 12px;
		line-height: 140%;
		color: #333333;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.l-table table tbody td .table-radio label::before {
		content: '';
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #D9D9DE;
		margin-right: 10px;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-table table tbody td .table-radio input[type="radio"] {
		display: none;
		position: absolute;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0;
	}

	.l-table table tbody td .table-radio input[type="radio"]:checked + label::before {
		content: '\2022';
		border: 1px solid #00AFCA;
		font-size: 24px;
		color: #00AFCA;
	}

	.l-table table tbody td .table-radio input[type="radio"]:not(:checked) + label:hover::before {
		background: #F5F5F5;
		border: 1px solid #D9D9DE;
		-webkit-box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
		box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
	}

	.l-table form {
		text-align: right;
	}

	.l-table form button {
		border: none;
		background: #00AFCA;
		border-radius: 2px;
		padding: 16px 24px;
		font-weight: normal;
		font-size: 13px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-top: 35px;
	}

	.l-thanks {
		padding: 50px 0 0 0;
	}

	.l-thanks h4 {
		margin: 0 0 24px 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
	}

	.l-thanks p {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		margin: 0;
	}

	.l-thanks p b {
		font-weight: 500;
	}

	.l-thanks .volont-mail {
		margin-top: 36px;
	}

	.l-thanks .volont-mail .l-radios {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-thanks .volont-mail .l-radios-inp {
		margin-right: 20px;
	}

	.l-thanks .volont-mail .l-radios label {
		font-weight: normal;
		font-size: 12px;
		color: #333333;
		cursor: pointer;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	.l-thanks .volont-mail .l-radios label::before {
		content: '';
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #D9D9DE;
		margin-right: 10px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.l-thanks .volont-mail .l-radios input[type="radio"] {
		display: none;
		position: absolute;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		opacity: 0;
	}

	.l-thanks .volont-mail .l-radios input[type="radio"]:checked + label::before {
		content: '\2022';
		border: 1px solid #00AFCA;
		font-size: 34px;
		color: #00AFCA;
	}

	.l-thanks .volont-mail .l-radios input[type="radio"]:not(:checked) + label:hover::before {
		background: #F5F5F5;
		border: 1px solid #D9D9DE;
		-webkit-box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
		box-shadow: inset 4px 4px 5px rgba(0, 0, 0, 0.1);
	}

	.l-thanks .volont-mail .l-blocks {
		margin-top: 70px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}

	.l-thanks .volont-mail .l-blocks-item {
		background: #FFFFFF;
		-webkit-box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.35), -6px -6px 16px rgba(209, 205, 199, 0.35);
		box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.35), -6px -6px 16px rgba(209, 205, 199, 0.35);
		max-width: 49%;
	}

	.l-thanks .volont-mail .l-blocks-item-text {
		padding: 40px 0 20px 0;
		text-align: center;
	}

	.l-thanks .volont-mail .l-blocks-item p {
		font-weight: normal;
		font-size: 15px;
		line-height: 150%;
		color: #333333;
		margin: 0;
	}

	.l-thanks .volont-mail .l-blocks-item h4 {
		margin: 16px 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
	}

	.l-thanks .volont-mail .l-blocks-item span {
		display: inline-block;
		font-style: normal;
		font-weight: normal;
		font-size: 15px;
		line-height: 150%;
		color: #333333;
		max-width: 433px;
		margin: 0 auto;
		text-align: left;
	}

	.l-thanks .volont-mail .l-blocks-item textarea {
		border: 0.5px dashed #999999;
		width: 433px;
		resize: none;
		padding: 5px;
		min-height: 68px;
	}

	.l-thanks .volont-mail .l-blocks-item h5 {
		font-weight: 500;
		font-size: 13px;
		line-height: 146%;
		color: #333333;
		margin: 16px 0 0 0;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		margin-top: 40px;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together a {
		display: inline-block;
		margin-left: 40px;
		font-weight: 500;
		font-size: 15px;
		line-height: 150%;
		color: #333333;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together-item {
		background: #00AFCA;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
		height: 40px;
		width: 375px;
		position: relative;
		text-align: center;
		line-height: 40px;
		font-weight: 500;
		font-size: 15px;
		color: #FFFFFF;
	}

	.l-thanks .volont-mail .l-blocks-item .l-together-item::after {
		content: '';
		position: absolute;
		width: 0;
		height: 0px;
		top: 0px;
		right: -39px;
		border: 20px solid transparent;
		border-left: 20px solid #00AFCA;
	}

	.l-thanks form {
		text-align: right;
	}

	.l-thanks form button {
		border: none;
		background: #00AFCA;
		border-radius: 2px;
		padding: 16px 24px;
		font-weight: normal;
		font-size: 13px;
		line-height: 100%;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		margin-top: 35px;
	}

	.form-success {
		background: #29B58C;
		display: inline-block;
		border-radius: 2px;
		padding: 15px 80px;
		font-weight: 500;
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
		color: #FFFFFF;
		position: absolute;
		right: 0;
	}	
</style>

</html>