<!doctype html>
<html class="no-js" lang="ru">

<head>
	{{> head/head head.defaults}}
</head>

<body class="page">
	%=symbols=%

	{{> header/header}}

	<div class="s-public">
		<div class="wrapper">
			<div class="s-public-profile">
				<div class="s-public-profile-img">
					<img src="%=static=%img/general/profile-img.png" alt="Профиль">
					<div class="s-public-profile-name">
						<h4>Бахыт Мухтарова</h4>
						<div>5.0</div>
						{{Icon iconName="profile-star"}}
					</div>
					<div class="s-public-profile-id">
						<div class="s-public-profile-text">
							ID Волонтера: <span id="volont-id">19277</span>
						</div>
					</div>
				</div>

				<div class="s-public-profile-content">
					<div class="s-public-profile-item">
						<span>Область:</span>
						<p>Алматинская</p>
					</div>
					<div class="s-public-profile-item">
						<span>Населенный пункт:</span>
						<p>Алматы</p>
					</div>
					<div class="s-public-profile-item">
						<span>Направления:</span>
						<div class="s-public-profile-tags">
							<div>Социальная помощь</div>
							<div>Помощь детям</div>
							<div>Помощь пожилым</div>
							<div>Помощь животным</div>
						</div>
					</div>
					<div class="s-public-profile-item">
						<span>Стаж:</span>
						<p>3 года</p>
					</div>
					<div class="s-public-profile-item">
						<span>Контакты:</span>
						<a href="tel:+77050000077" class="contacts-link">+7 705 000 00 77</a>
						<a href="mailto:bakhytm@gmail.com" class="contacts-link">bakhytm@gmail.com</a>
					</div>

					<div class="s-public-profile-social">
						<a href="#">
							{{Icon iconName="profile-facebook"}}
						</a>
						<a href="#">
							{{Icon iconName="profile-vk"}}
						</a>
						<a href="#">
							{{Icon iconName="profile-insta"}}
						</a>
					</div>

				</div>

			</div>

			<div class="s-public-about">
				<div class="s-public-about-text">
					<h4>О себе</h4>
					<p>Во всех цивилизованных странах волонтерскую работу считают неотъемлемой частью жизни любого гражданина. Если ты в силах – ты помогаешь обществу. Это концепция социальной ответственности каждого человека. Волонтерство для меня это образ жизни современного цивилизованного человека.</p>
				</div>
				<div class="s-public-about-tabs">
					<h4>Волонтерская деятельность</h4>

					<ul class="s-about__tabs">
						<li class="active">Текущие <span id="current-value">2</span></li>
						<!-- Открытие первого таба -->
						<li>Планируемые <span id="planned-value">1</span></li>
						<!-- Открытие второго таба -->
						<li>Завершенные <span id="completed-value">20</span></li>
						<!-- Открытие третьего таба -->
					</ul>

					<div class="s-about__content active">

						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Помощь малоимущим семьям продуктами питания и теплой одеждой</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">Роль: <span id="user-role">координатор проекта</span></div>
						</div>

						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Написание статьи для клуба пенсионеров для социальных медиа</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">Роль: <span id="user-role">smm-менеджер</span></div>
						</div>
					</div>
					<!-- Первый таб -->

					<div class="s-about__content">
						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Помощь малоимущим семьям продуктами питания и теплой одеждой</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">Роль: <span id="user-role">координатор проекта</span></div>
						</div>
					</div>
					<!-- Второй таб -->

					<div class="s-about__content">
						<div class="s-about__content-item">
							<div class="s-content-item-title">
								<a href="#" class="s-item-title">Помощь малоимущим семьям продуктами питания и теплой одеждой</a>
								<p id="s-content-item-date">Даты: 05.12.2019 - 06.12.2019</p>
							</div>
							<div class="role">Роль: <span id="user-role">координатор проекта</span></div>
						</div>
					</div>
					<!-- Третий таб -->

				</div>
			</div>
		</div>
	</div>

	{{> footer/footer}}

	{{> forJsScss/forJsScss}}

	{{> popup/popup }}
</body>

</html>