<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    <header>
        <div class="wrapper">
            <a href="/">
                <div class="logo">
                    <div class="logo__icon">
                        <img src="static/img/content/logo.svg" alt="">
                    </div>
                    <div class="logo__text">
                        Единая платформа волонтёров
                    </div>
                </div>
            </a>
            <div class="header-block">
                <img src="static/img/content/birgemiz.png" alt="">
                <span>Год волонтера 2020</span>
            </div>
            <form class="search">
                <input type="text" placeholder="Поиск (организация, проект, волонтер)">
                <button>
                    {{Icon iconName="search"}}
                </button>
            </form>
            <div class="lang">
                <div class="lang__current">
                    QZ
                </div>
                <div class="lang__container">
                    <a href="#">РУ</a>
                    <a href="#">EN</a>
                </div>
            </div>
            <div class="red-button">
                Стать волонтером
            </div>
            <div class="mobile-menu-btn">

                <svg class="icon__menu" width="32px" height="32px">
                    <use xlink:href="#menu"></use>
                </svg>
                
            </div>
        </div>
    </header>


    <div class="regvip">
        <div class="regvip__bg">
            {{Icon iconName="bgvip"}}
        </div>
        <a href="/ambassador.html" class="regvip__button">
            Стать амбассадором
        </a>
    </div>

    {{> popup/popup}}

    {{> footer/footer}}
    {{> forJsScss/forJsScss}}
</body>

</html>