<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}


		<div class="reg">
			<div class="wrapper">
				<div class="reg__head">
					<a href="#">Войти</a>
					<span>или</span>
					<a href="#" class="active">Зарегистрироваться</a>
				</div>
				<div class="reg__body">
					<div class="reg__tabs">
						<div>
							<span class="reg__tab active">Волонтер</span>
							<span class="reg__tab">Организация</span>
						</div>
					</div>
					<div class="reg__container">
						<form action="" class="active">
							<div class="reg__title">
								Заполните форму регистрации
							</div>
							<div class="reg__input"> <!-- .error необходим для показа msg error -->
								<span>Ваши имя и фамилия*</span>
								<input type="text" placeholder="Имя и фамилия">
								<span class="msg-error">Пожалуйста, введите верный формат имени</span>
							</div>
							<div class="reg__input">
								<span>Email*</span>
								<input type="text" placeholder="Ваш Email">
								<span class="msg-error">Пожалуйста, введите верный формат почты</span>
							</div>
							<div class="reg__input">
								<span>Пароль*</span>
								<div class="password-input">
									<input type="password" placeholder="Придумайте пароль">
									<div class="password-eye">
										{{Icon iconName="eye-pass"}}
										{{Icon iconName="eye-not"}}
									</div>
								</div>
								<div class="status-bar">
									<div>
										<div></div>
									</div>
									<span class="status-bar-def">Минимум 6 символов</span>
									<span class="status-bar-error">Слишком короткий пароль, добавьте символов</span>
									<span class="status-bar-ok">Надежный пароль</span>
								</div>
							</div>
							<button class="red-button">
								Стать волонтером
							</button>
							<label class="reg__checkbox">
								<input type="checkbox">
								<div>{{Icon iconName="checkbox"}}</div>
								<span>Нажимая на кнопку “Стать волонтером”, я принимаю условия Политики конфиденциальности, Публичной оферты и даю своё согласие.</span>
							</label>
						</form>
						<form action="">
							<div class="reg__title">
								Заполните форму регистрации
							</div>
							<div class="reg__input">
								<span>Название организации*</span>
								<input type="text" placeholder="Введите название организации">
							</div>
							<div class="reg__input">
								<span>Населенный пункт*</span>
								<input type="text" placeholder="Ваше месторасположение">
							</div>
							<div class="reg__input">
								<span>Email*</span>
								<input type="text" placeholder="Ваш Email">
								<span class="msg-error">Пожалуйста, введите верный формат почты</span>
							</div>
							<div class="reg__input">
								<span>Пароль*</span>
								<div class="password-input">
									<input type="password" placeholder="Придумайте пароль">
									<div class="password-eye">
										{{Icon iconName="eye-pass"}}
										{{Icon iconName="eye-not"}}
									</div>
								</div>
								<div class="status-bar">
									<div>
										<div></div>
									</div>
									<span class="status-bar-def">Минимум 6 символов</span>
									<span class="status-bar-error">Слишком короткий пароль, добавьте символов</span>
									<span class="status-bar-ok">Надежный пароль</span>
								</div>
							</div>
							<button class="red-button">
								Стать волонтером
							</button>	
							<label class="reg__checkbox">
								<input type="checkbox">
								<div>{{Icon iconName="checkbox"}}</div>
								<span>Нажимая на кнопку “Стать волонтером”, я принимаю условия Политики конфиденциальности, Публичной оферты и даю своё согласие.</span>
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>


        {{> footer/footer}}





        {{> forJsScss/forJsScss}}
        {{> popup/popup}}
        
    </body>

</html>