<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

		
		<div class="d-block">
			<div class="big-banner">
				<div class="big-banner-content set-bg-img">
					<div class="wrapper">
						<div class="big-banner-container new-banner-container">
							<div class="big-banner-title">
								25 678 волонтеров
							</div>
							<div class="big-banner-text">
								Здесь вы найдете волонтера из вашего региона, по разным направлениям и сможете связаться с ним/с ней
							</div>
						</div>
					</div>
					<img src="static/img/content/big-banner.jpg" class="get-bg-img" alt="">
				</div>
			</div>
			<div class="wrapper l-wrapper">
				<!-- <div class="d-block__aside-2">
					<a href="" class="active">Волонтерам</a>
					<a href="">Организациям</a>
				</div> -->
				<div class="d-block__aside">
					<div class="f-select">
						<div class="f-select-title">
							Область
						</div>
						<select name="" id="" class="nice-select">
							<option value="">выберите</option>
							<option value="">выберите</option>
							<option value="">выберите</option>
							<option value="">выберите</option>
						</select>
					</div>
					<div class="f-select">
						<div class="f-select-title">
							Населенный пункт
						</div>
						<select name="" id="" class="nice-select">
							<option value="">выберите</option>
							<option value="">выберите</option>
							<option value="">выберите</option>
							<option value="">выберите</option>
						</select>
					</div>
					<div class="f-checkboxs">
						<div class="f-checkboxs-title">
							Направление
						</div>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<label class="f-checkbox">
							<input type="checkbox">
							<div>{{Icon iconName="checkbox"}}</div>
							<span>Наименование</span>
						</label>
						<div class="f-checkbox-loadmore"> <!-- появляется когда чекбоксов больше 6 -->
							Посмотреть все
						</div>
					</div>
					<div class="f-select">
						<div class="f-select-title">
							Пол
						</div>
						<select name="" id="" class="nice-select">
							<option value="">выберите</option>
							<option value="">выберите</option>
							<option value="">выберите</option>
							<option value="">выберите</option>
						</select>
					</div>
					<div class="f-range">
						<div class="f-range-title">
							Стаж
						</div>
						<input type="text" class="js-range-slider" data-type="double" data-min="0" data-max="50" data-postfix=" лет">
					</div>
					<div class="f-input">
						<div class="f-input-title">
							Возраст
						</div>
						<div class="f-input-duble">
							<input type="text" placeholder="от 18 лет">
							<input type="text" placeholder="до 99 лет">
						</div>
					</div>
					<div class="f-buttons">
						<div class="reset">Сбросить</div>
						<button>Показать</button>
					</div>
					<div class="f-title-line">
						Сортировка
					</div>
					<div class="f-links">
						<a href="" class="active">Сначала новые</a>
						<a href="">По рейтингу</a>
					</div>
				</div>
				<div class="d-block__main">
					<form class="search">
						<input type="text" placeholder="Поиск (организация, проект, волонтер)">
						<button>
							{{Icon iconName="search"}}
						</button>
					</form>
					<div class="result-search-container">
						<div class="result-search-item type1">
							<div class="photo-img set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="info-block">
								<div class="info-container">
									<div class="title">Акция по сбору корма и средств для приютов с животными “Книга за корм”</div>
									<div class="text">21.12.19 — 21.12.19, с 10:00 по 15:00 </div>
									<div class="text">г. Алматы </div>
									<div class="link">Общественный фонд «Новый дом»</div>
									<div class="tags-block">
										<div class="tag">Помощь животным</div>
									</div>
								</div>
								<div class="data-status-block">
									<span>10.12.2019 10:50</span>
									<a href="">
										Нужны волонтеры
										{{Icon iconName="user-plus"}}
									</a>
								</div>
							</div>
						</div>
						<div class="result-search-item type2">
							<div class="photo-img set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="info-user">
								<div class="info-user-head">
									<div class="us-title">
										<div class="us-name">
											<p>Kathryn Wilson</p>
											<span>5.0 {{Icon iconName="star-b"}}</span>
										</div>
										<span>г. Павлодар</span>
									</div>
									<div class="us-info">
										<span>12 отзывов</span>
										<span>4 года</span>
										<span>3 проекта</span>
									</div>
									<div class="us-button">
										{{Icon iconName="more"}}
									</div>
								</div>
								<div class="info-user-tags">
									<div class="tag">Социальная помощь</div>
									<div class="tag">Социальная помощь</div>
									<div class="tag">Социальная помощь</div>
									<div class="tag">Социальная помощь</div>
									<div class="tag">Социальная помощь</div>
									<div class="tag no-active">Социальная помощь</div>

								</div>
							</div>
						</div>
						<div class="result-search-item type3">
							<div class="type3-content">
								<p>Как правильно выбрать волонтерскую организацию и вступить в нее</p>
								<span>Сборник лучших добровольческих практик и инициатив</span>
							</div>
							<div class="type3-link">
								СКАЧАТЬ{{Icon iconName="download2"}}
							</div>
						</div>
					</div>
					<div class="d-paggination">
						<a href="" class=" active">1</a>
						<a href="" class="">2</a>
						<a href="" class="">3</a>
						<a href="" class="">4</a>
						<a href="" class="">5</a>
						<a href="" class="">6</a>
						<a href="" class="">7</a>
						<span>...</span>
						<a href="" class="">278</a>
						<a href="">
							<span>Дальше</span>
							>
						</a>
					</div>
				</div>			
			</div>
		</div>


        {{> footer/footer}}





        {{> forJsScss/forJsScss}}
        {{> popup/popup}}
        
    </body>

</html>