<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}

    {{> bread/bread}}

    <div class="news">
        <div class="wrapper">
            <div class="news__top main-title">
                СМИ о нас
            </div>
            <div class="news__container">
                <div class="news__content">

                    <div class="news__items">
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж национального телеканала “Хабар”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/content/news-1.jpg'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>
                        <div class="news__item">
                            <div class="news__item-img m-bg-cont">
                                <img src='static/img/general/smi.png'>
                            </div>
                            <div class="news__item-content">
                                <div class="news__item-top">
                                    <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                                    <span>{{Icon iconName="news-eye"}}1050</span>
                                    <span>{{Icon iconName="news-com"}} 12</span>
                                </div>

                                <div class="news__item-title">
                                    Студентам-волонтерам повысят стипендию на 30% в Казахстане
                                </div>

                                <p class="news__item-source">
                                    Репортаж сетевого издания “Мир волонтерства”
                                </p>

                            </div>
                        </div>

                    </div>

                    {{> pag/pag}}

                </div>

                <div class="news__sidebar-container">
                    {{> news-sidebar/news-sidebar}}
                </div>

            </div>
        </div>
    </div>


    {{> footer/footer}}
    {{> forJsScss/forJsScss}}
    {{> popup/popup}}

</body>

</html>