<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}

        <div class="target">
            <div class="wrapper">
                <div class="target__container">
                    <div class="target__content">
                        <div class="target__title-s">
                            <img src="static/img/content/target-1.jpg" alt="">
                            Повсеместная ликвидация нищеты во всех её формах
                        </div>

                       <div class="html">
                           <p>
                                Несмотря на то, что с 2000 года показатели распространения нищеты в мире сократились вдвое, один из десяти человек в развивающихся странах находится за международной чертой бедности (1,90 доллара США в день), а миллионы других зарабатывают чуть больше этой суммы. Наибольшие успехи наблюдаются в странах Восточной и Юго-Восточной Азии, но вместе с тем в условиях крайней нищеты по-прежнему проживают 42 процента населения стран Африки к югу от Сахары. 
                            </p>
                            <p>
                                Нищета — это не просто нехватка доходов и ресурсов для обеспечения средств к существованию на устойчивой основе. Она проявляется в голоде и недоедании, в ограниченном доступе к образованию и к другим основным социальным услугам, в социальной дискриминации и изоляции, а также в невозможности участия в принятии решений.   
                            </p>
                            <p>
                                Экономический рост должен быть всеохватным, чтобы обеспечивать стабильную занятость и способствовать равенству. Необходимо расширять системы социальной защиты и уменьшать риски для стран, которые подвержены стихийным бедствиям и которые, как правило, относятся также к числу беднейших стран.
                            </p>
                       </div>

                        <div class="tabs m-tabs">
                            <div class="tabs__tabs m-tabs__tabs">
                                <a href="tab1" class="tabs__tab m-tabs__tab active">Факты и цифры</a>
                                <a href="tab2" class="tabs__tab m-tabs__tab">Задачи</a>
                                <a href="tab3" class="tabs__tab m-tabs__tab">Полезные ссылки</a>
                            </div>

                            <div class="tabs__block active tab1">
                                <div class="html">
                                    <p>
                                        783 миллиона человек по-прежнему живут в крайней нищете.
                                        В 2016 году почти 10 процентов трудящихся в мире и их семей жили менее чем на 1,90 долл. США на человека в день.
                                    </p>
                                    <p>
                                        В глобальном масштабе на каждую группу из 100 мужчин в возрасте 25-34 лет, живущих в крайней нищете, приходится группа из 122 женщин.
                                    </p>
                                    <p>
                                        Подавляющее большинство людей, живущих на сумму менее 1,90 доллара в день, приходится на два региона — Южную Азию и страны Африки к югу от Сахары.
                                    </p>
                                    <p>
                                        Высокий уровень бедности часто наблюдается в небольших нестабильных странах, страдающих от конфликтов.
                                    </p>
                                    <p>
                                        Каждый четвертый ребенок в возрасте до пяти лет имеет недостаточный рост.
                                    </p>
                                    <p>
                                        В 2016 году лишь 45 процентов мирового населения имели по крайней мере одну льготу социального обеспечения.
                                    </p>
                                    <p>
                                        В 2017 году экономические потери в результате стихийных бедствий, включая ураганы в США и Карибском регионе, оценивались в 300 миллиардов долларов США.
                                    </p>
                                </div>
                            </div>
                            <div class="tabs__block tab2">
                                <div class="html">
                                    <p>
                                        В глобальном масштабе на каждую группу из 100 мужчин в возрасте 25-34 лет, живущих в крайней нищете, приходится группа из 122 женщин.
                                    </p>
                                    <p>
                                        Подавляющее большинство людей, живущих на сумму менее 1,90 доллара в день, приходится на два региона — Южную Азию и страны Африки к югу от Сахары.
                                    </p>
                                    <p>
                                        783 миллиона человек по-прежнему живут в крайней нищете.
                                        В 2016 году почти 10 процентов трудящихся в мире и их семей жили менее чем на 1,90 долл. США на человека в день.
                                    </p>
                                    <p>
                                        Каждый четвертый ребенок в возрасте до пяти лет имеет недостаточный рост.
                                    </p>
                                    <p>
                                        В 2017 году экономические потери в результате стихийных бедствий, включая ураганы в США и Карибском регионе, оценивались в 300 миллиардов долларов США.
                                    </p>
                                    <p>
                                        В 2016 году лишь 45 процентов мирового населения имели по крайней мере одну льготу социального обеспечения.
                                    </p>
                                    <p>
                                        Высокий уровень бедности часто наблюдается в небольших нестабильных странах, страдающих от конфликтов.
                                    </p>
                                </div>
                            </div>
                            <div class="tabs__block tab3">
                                <div class="html">
                                    <p>
                                        Высокий уровень бедности часто наблюдается в небольших нестабильных странах, страдающих от конфликтов.
                                    </p>
                                    <p>
                                        783 миллиона человек по-прежнему живут в крайней нищете.
                                        В 2016 году почти 10 процентов трудящихся в мире и их семей жили менее чем на 1,90 долл. США на человека в день.
                                    </p>
                                    <p>
                                        В глобальном масштабе на каждую группу из 100 мужчин в возрасте 25-34 лет, живущих в крайней нищете, приходится группа из 122 женщин.
                                    </p>
                                    <p>
                                        Подавляющее большинство людей, живущих на сумму менее 1,90 доллара в день, приходится на два региона — Южную Азию и страны Африки к югу от Сахары.
                                    </p>
                                    <p>
                                        Каждый четвертый ребенок в возрасте до пяти лет имеет недостаточный рост.
                                    </p>
                                    <p>
                                        В 2017 году экономические потери в результате стихийных бедствий, включая ураганы в США и Карибском регионе, оценивались в 300 миллиардов долларов США.
                                    </p>
                                    <p>
                                        В 2016 году лишь 45 процентов мирового населения имели по крайней мере одну льготу социального обеспечения.
                                    </p>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>


                    <div class="target__sidebar-container">
                        {{> news-sidebar/news-sidebar}}
                    </div>
                    
                </div>
            </div>
        </div>

        
        {{> popup/popup}}
        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
    </body>

</html>