<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
    </head>

    <body class="page">
        %=symbols=%

		{{> header/header}}

        {{> bread/bread}}

        <div class="target">
            <div class="wrapper">
                <div class="target__container">
                    <div class="target__content">
                        <div class="target__title">
                                Цели устойчивого развития
                        </div>

                        <div class="target__items">
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-1.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-2.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-3.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-4.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-5.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-6.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-7.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-8.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-9.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-10.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-11.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-12.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-13.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-14.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-15.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-16.jpg'> </a>
                            <a href="#" class="target__item"><div class="target__button-cont"><div class="target__button">Подробнее</div> </div> <img src='static/img/content/target-17.jpg'> </a>
                        </div>
                        
                    </div>

                    <div class="target__sidebar-container">
                        {{> news-sidebar/news-sidebar}}
                    </div>
                    
                </div>
            </div>
        </div>

        

        {{> footer/footer}}
        {{> forJsScss/forJsScss}}
        {{> popup/popup}}
    </body>

</html>