<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}

    <div class="bread">
        <div class="wrapper">
            <a href="/">Главная</a>
            {{Icon iconName="bread-arrow"}}
            <span>Команда в лицах</span>
        </div>
    </div>
    
    <div class="l-team">
        <div class="wrapper">
            <div class="l-team__title">
                <h3>Команда в лицах</h3>
            </div>
            <div class="l-team__content">
                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/1.png" alt="Команда">
                    </div>
                    <h4>Татьяна Миронюк</h4>
                    <p>Исполнительный директор Национальной волонтерской сети</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/2.png" alt="Команда">
                    </div>
                    <h4>Имя Фамилия</h4>
                    <p>Должность в Национальной волонтерской сети</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/3.png" alt="Команда">
                    </div>
                    <h4>Татьяна (Тинкай) Кретова</h4>
                    <p>Активист в сфере культуры, блогер, автор книг о Казахстане и культуре кочевников</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/4.png" alt="Команда">
                    </div>
                    <h4>Анастасия Мусалиева</h4>
                    <p>Дизайнер <br> Национальной волонтерской сети</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/5.png" alt="Команда">
                    </div>
                    <h4>Куралай Жаркымбаева</h4>
                    <p>Президент ОФ "Best For Kids"</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/6.png" alt="Команда">
                    </div>
                    <h4>Фархат Макышев</h4>
                    <p>Координатор по организации мероприятий</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/7.png" alt="Команда">
                    </div>
                    <h4>Айдана Торебекова</h4>
                    <p>Координатор по организации мероприятий</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/8.png" alt="Команда">
                    </div>
                    <h4>Айсулу Жамашова</h4>
                    <p>Республиканский координатор проекта "Жеңіс" Национальной волонтерской сети</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/9.png" alt="Команда">
                    </div>
                    <h4>Адель Акажанова</h4>
                    <p>Координатор проекта “Волонтерский корпус”</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/10.png" alt="Команда">
                    </div>
                    <h4>Тогжан Омашева</h4>
                    <p>Координатор Национальной волонтерской сети</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/11.png" alt="Команда">
                    </div>
                    <h4>Саян Жапаров</h4>
                    <p>Координатор по SMM и международному сотрудничеству</p>
                </div>

                <div class="l-team__item">
                    <div class="l-team__item-image">
                        <img src="%=static=%img/general/team/12.png" alt="Команда">
                    </div>
                    <h4>Мадина Сигазиева</h4>
                    <p>Координатор проекта "QazVolunteer.kz" Национальной волонтерской сети</p>
                </div>

            </div>
        </div>
    </div>

    {{> footer/footer}}
    {{> popup/popup}}
    {{> forJsScss/forJsScss}}
</body>

</html>