<!doctype html>
<html class="no-js" lang="ru">

    <head>
        {{> head/head head.defaults}}
        <style>
        	.file img{
        		max-width: 250px;
        		max-height: 250px;
        	}
        	.file{
        		display: -webkit-flex;
        		display: -moz-flex;
        		display: -ms-flex;
        		display: -o-flex;
        		display: flex;
        		align-items: center;
        	}
        	.myFiles > div > span{
				min-width: 130px;
        	}
        	.myFiles > div{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				align-items: center;
        	}
        	.myFiles > div > *{
				margin-right: 15px;
        	}
        	.myFiles img{
    			width: 150px;
    			height: 150px;
        	}
        	.myFiles input{
				display: none;
        	}
        	.myFiles > div.hide{
        		display: none;
        	}
        	.del{
        		color: red;
        		fill: transparent;
        		cursor: pointer;
        		margin-left: 29px;
        	}
        	.chan{
        		color: #000000;
        		margin-left: 29px;


        	}
        	#myButton{
        		padding: 18px 16px 16px 16px;
        		border-radius: 2px;
        		border: 1px solid blue;
        		display: inline-block;
        	}
        	#myButton.hide{
        		display: none;
        	}
        </style>
    </head>

    <body class="page">
        %=symbols=%
 		<h2>вариант-1</h2>
	
 		<input type="file" id="imgInput" multiple accept=".png, .jpg">
			<div class="files">
			  <div class="file">
			    <img src="" alt="">
			    <span>name</span>
			  </div>  
			  <div class="file">
			    <img src="" alt="">
			    <span>name</span>
			  </div> 
			  <div class="file">
			    <img src="" alt="">
			    <span>name</span>
			  </div> 
		</div>


        {{> forJsScss/forJsScss}}

        {{> popup/popup }}
 		<script>
 			var myFiles;
 			function clearFillesPreview(){
			    $('.files .file').each(function(){
			      $(this).find('img').attr('src', '');
			      $(this).find('span').text('name');
			    })
			};

			function readURL(input) {
			    if (input.files && input.files[0]) {
			        var arrayFilesReader = [];
			        for(let i = 0; i < input.files.length; i++){
			        	myFiles = input.files;
			        	console.log(input.files);
			            arrayFilesReader[i] = new FileReader();
			            arrayFilesReader[i].onload = function (e) {
			              console.log('sdsd');
			              $('.files .file img').eq(i).attr('src', e.target.result);
			            };
			            arrayFilesReader[i].readAsDataURL(input.files[i]);
			            $('.files .file span').eq(i).text(input.files[i].name)
			        }   
			    }
			}


			$("#imgInput").change(function(e){
			    if(typeof e.target.files[0] == 'undefined'){
			      clearFillesPreview();
			    }else{
			      clearFillesPreview();
			      readURL(this);
			    }
			});

 		</script>
 		<hr>
 		<h2>вариант-2</h2>
 		<div class="myFiles">
 			<div class="file-one hide">
 				<input type="file" accept=".png, .jpg">
 				<img src="" alt="">
 				<span></span>
 				<div class="chan">Заменить фото</div>
 				<div class="del">{{Icon iconName="basket"}}</div>
 			</div>
 			<div class="file-two hide">
 				<input type="file" accept=".png, .jpg">
 				<img src="" alt="">
 				<span></span>
 				<div class="chan">Заменить фото</div>
 				<div class="del">{{Icon iconName="basket"}}</div>
 			</div>
 			<div class="file-three hide">
 				<input type="file" accept=".png, .jpg">
 				<img src="" alt="">
 				<span></span>
 				<div class="chan">Заменить фото</div>
 				<div class="del">{{Icon iconName="basket"}}</div>
 			</div>
 		</div>
 		<div id="myButton">выберите файл</div>
 		<hr>
 		<div class="img-inputs">
 			<div class="img-input hide">
 				<input type="file" accept=".png, .jpg">
 				<div class="img-input__img set-bg-img">
 					<img src="" class="get-bg-img" alt="">
 				</div>
 				<span class="img-input__filename">
 					... помощь2.jpg
 				</span>
 				<span class="img-input__reelect">
 					Заменить фото
 				</span>
 				<div class="img-input__delete">
 					{{Icon iconName="basket"}}
 				</div>
 			</div>
 			<div class="img-input hide">
 				<input type="file" accept=".png, .jpg">
 				<div class="img-input__img set-bg-img">
 					<img src="" class="get-bg-img" alt="">
 				</div>
 				<span class="img-input__filename">
 					... помощь2.jpg
 				</span>
 				<span class="img-input__reelect">
 					Заменить фото
 				</span>
 				<div class="img-input__delete">
 					{{Icon iconName="basket"}}
 				</div>
 			</div>
 			<div class="img-input hide">
 				<input type="file" accept=".png, .jpg">
 				<div class="img-input__img set-bg-img">
 					<img src="" class="get-bg-img" alt="">
 				</div>
 				<span class="img-input__filename">
 					... помощь2.jpg
 				</span>
 				<span class="img-input__reelect">
 					Заменить фото
 				</span>
 				<div class="img-input__delete">
 					{{Icon iconName="basket"}}
 				</div>
 			</div>
 		</div>
 		<div class="d-file-download">
 			<span>Загрузите до 3-х фото</span>
 			<p>Файл в формате .jpg или .pdf</p>
 			<div class="btn-file">
 				Выберите файл
 			</div>
 		</div>
		<script>
			
		</script>
    </body>

</html>