<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}

    <div class="bread">
        <div class="wrapper">
            <a href="/">Главная</a>
            {{Icon iconName="bread-arrow"}}
            <span>Кто мы</span>
        </div>
    </div>

    <div class="l-who">
        <div class="wrapper">
            <div class="l-who__content">
                <div class="l-who__info">
                    <h3 class="l-who__info-title">Кто мы</h3>
                    <h4 class="l-who__info-name">29 апреля 2019 года состоялась официальная презентация онлайн платформы Qazvolunteer.kz в Службе Центральных Коммуникаций.</h4>
                    <p class="l-who__info-desc">Проект разработан Министерством информации и общественного развития РК совместно с ОЮЛ "Национальная Волонтерская Сеть" при поддержке гранта НАО "Центр Поддержки Гражданских Инициатив".</p>

                    <div class="l-who__info-alert">
                        <div class="l-who__item">
                            {{Icon iconName="people"}}
                            <div class="who__text">
                                <h5>На Единой платформе волонтеров реализован вход для двух ролей пользователей</h5>
                                <span>организации и волонтеры</span>
                            </div>
                        </div>

                        <div class="l-who__item">
                            {{Icon iconName="partner"}}
                            <div class="who__text">
                                <h5>Организации создают проекты на которые откликаются, заинтересованные волонтеры</h5>
                                <span>на площадке определены 15 направлений волонтерства направления также взаимосвязаны с целями устойчивого развития</span>
                            </div>
                        </div>

                         <div class="l-who__item">
                            {{Icon iconName="star-c"}}
                            <div class="who__text">
                                <h5>У обеих сторон действует рейтинг</h5>
                                <span>участники могут оставлять отзывы о проекте выполненные проекты подгружаются в галерею организациями волонтер может сформировать свою анкету и скачать ее из личного кабинета</span>
                            </div>
                        </div>

                         <div class="l-who__item">
                            {{Icon iconName="reader"}}
                            <div class="who__text">
                                <h5>Раздел библиотека</h5>
                                <span>В разделе "библиотека волонтеров" имеются актуальные материалы, пособия, видеоролики, доклады, положения проектов в сфере волонтерства. </span>
                            </div>
                        </div>
                    </div>

                    <p class="l-who__info-desc">В разделе международное волонтерство на сайте qazvolunteer.kz имеется ссылка на сайт unv.org по волонтерству, курируемый программой добровольцев ООН, тем самым имеется освещение и о международных возможностях в сфере волонтерства. В новостной ленте публикуются актуальные новости. С помощью единой информационной платформы формируется крупнейший каталог по волонтерской деятельности в Казахстане и реестр волонтеров.</p>
                    <p class="l-who__info-desc">На Единой платформе волонтеров также реализуется проект «Социальный студенческий кредит». Проект "Социальный студенческий кредит" расположен на сабдомене student.qazvolunteer.kz, который интегрируется с платформой. Проект интегрирован, на основании меморандума подписанного  2 августа 2019 года Министерством Образования и Науки РК, Министерством информации и общественного развития РК, АО "Финансовый центр", НАО "Центр поддержки гражданских инициатив" и ОЮЛ "Национальная волонтерская сеть".</p>
                    <p class="l-who__info-desc">Проект "Социальный студенческий кредит"- это механизм, который поощряет студентов путем представления социальных студенческих кредитов, за выполненную общественно полезную работу в социальных институтах и учреждениях.</p>
                </div>
                {{>news-sidebar/news-sidebar}}
            </div>
        </div>
    </div>
    

    {{> footer/footer}}
    {{> popup/popup}}
    {{> forJsScss/forJsScss}}
</body>

</html>