<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
    %=symbols=%

    {{> header/header}}

    <div class="bread">
        <div class="wrapper">
            <a href="/">Главная</a>
            {{Icon iconName="bread-arrow"}}
            <span>Волонтерство за рубежом</span>
        </div>
    </div>

    <div class="l-zarubezh">
        <div class="wrapper">
            <div class="l-zarubezh__title">
                <h3>Волонтерство за рубежом</h3>
            </div>

            <div class="l-zarubezh__content">
                <div class="l-zarubezh__items">

                    <div class="l-zarubezh__item">
                        <div class="l-zarubezh__item-image">
                            <img src="%=static=%img/general/zar1.png" alt="Волонтерство зарубежом">
                        </div>
                        <div class="l-zarubezh__item-info">
                            <h5>United Nations Volunteers (UNV)</h5>
                            <a href="#" class="l-more">подробнее
                                {{Icon iconName="arrow-right"}}
                            </a>
                        </div>
                    </div>

                    <div class="l-zarubezh__item">
                        <div class="l-zarubezh__item-image">
                            <img src="%=static=%img/general/zar2.png" alt="Волонтерство зарубежом">
                        </div>
                        <div class="l-zarubezh__item-info">
                            <h5>Сфера - международные волонтерские программы</h5>
                            <a href="#" class="l-more">подробнее
                                {{Icon iconName="arrow-right"}}
                            </a>
                        </div>
                    </div>

                    <div class="l-zarubezh__item">
                        <div class="l-zarubezh__item-image">
                            <img src="%=static=%img/general/zar3.png" alt="Волонтерство зарубежом">
                        </div>
                        <div class="l-zarubezh__item-info">
                            <h5>Help Exchange (HelpX) Platform</h5>
                            <a href="#" class="l-more">подробнее
                                {{Icon iconName="arrow-right"}}
                            </a>
                        </div>
                    </div>

                    <div class="l-zarubezh__item">
                        <div class="l-zarubezh__item-image">
                            <img src="%=static=%img/general/zar1.png" alt="Волонтерство зарубежом">
                        </div>
                        <div class="l-zarubezh__item-info">
                            <h5>United Nations Volunteers (UNV)</h5>
                            <a href="#" class="l-more">подробнее
                                {{Icon iconName="arrow-right"}}
                            </a>
                        </div>
                    </div>

                    <div class="l-zarubezh__item">
                        <div class="l-zarubezh__item-image">
                            <img src="%=static=%img/general/zar2.png" alt="Волонтерство зарубежом">
                        </div>
                        <div class="l-zarubezh__item-info">
                            <h5>Сфера - международные волонтерские программы</h5>
                            <a href="#" class="l-more">подробнее
                                {{Icon iconName="arrow-right"}}
                            </a>
                        </div>
                    </div>

                    <div class="l-zarubezh__item">
                        <div class="l-zarubezh__item-image">
                            <img src="%=static=%img/general/zar3.png" alt="Волонтерство зарубежом">
                        </div>
                        <div class="l-zarubezh__item-info">
                            <h5>Help Exchange (HelpX) Platform</h5>
                            <a href="#" class="l-more">подробнее
                                {{Icon iconName="arrow-right"}}
                            </a>
                        </div>
                    </div>

                </div>

                <!--  {{>news-sidebar/news-sidebar}} -->
            </div>
        </div>
    </div>

    {{> footer/footer}}
    {{> popup/popup}}
    {{> forJsScss/forJsScss}}
</body>

</html>