<footer>
	<div class="wrapper">
		<div class="footer__logo">
			<div class="logo">
				<div class="logo__icon">
					<img src="static/img/content/logo.svg" alt="">
				</div>
				<div class="logo__text">
					Единая платформа волонтёров
				</div>
			</div>
			<div class="copyright">
				© Единая платформа волонтеров 2020
			</div>
		</div>
		<div class="footer__links">
			<div class="footer__title">
				Навигация
			</div>
			<a href="#" class="link">Волонтеры</a>
			<a href="#" class="link">Новости</a>
			<a href="#" class="link">Организации</a>
			<a href="#" class="link">Проекты</a>
			<a href="#" class="link">Отчеты</a>
			<a href="#" class="link">О нас</a>
			<a href="#" class="link">Контакты</a>
		</div>
		<div class="footer__links">
			<div class="footer__title">
				При поддержке
			</div>
			<a href="#" class="img">
				<img src="static/img/content/footer-logo1.png" alt="">
			</a>
			<a href="#" class="img">
				<img src="static/img/content/footer-logo2.png" alt="">
			</a>
			<a href="#" class="img">
				<img src="static/img/content/footer-logo3.png" alt="">
			</a>
			<div class="footer-dev">
				<span>Разработчик</span>
				<a href="#" class="img">
					<img src="static/img/content/footer-logo4.png" alt="">
				</a>
			</div>
			
		</div>
		<div class="footer__info">
			<div class="hot-line">
				<div class="hot-line-title">
					Горячая линия
				</div>
				<a href="#" class="hot-line-link">
					{{Icon iconName="whatsapp"}}
					+7 776 411 53 75
				</a>
				<a href="#" class="hot-line-mail">
					qazvolunteers@gmail.com
				</a>
			</div>
			<div class="job-time">
				<span>Режим работы</span>
				<span>с 10:00 до 18:00 </span>
			</div>
			<div class="bot-links">
				<a href="">Договор публичной оферты</a>
				<a href="">Пользовательское соглашения об обработке данных и политика конфиденциальности</a>
			</div>
		</div>
	</div>
</footer>
<div class="cookie-block hidden cookie-script">
	<div class="wrapper">
		<span>Этот сайт использует куки-файлы и другие технологии, чтобы помочь вам в навигации, а также предоставить лучший пользовательский опыт, анализировать использование портала, а также повысить качество вебсайта.</span>
		<div class='cookie-btn'>принять</div>
	</div>
</div>