.overlay {
	background: #333333;
	opacity: 0.3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: none;
}
.popup {
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	&__active {
		opacity: 1;
		z-index: 100;
		transition: .5s;
		visibility: visible;
	}
	&__profile {
		max-width: 623px;
		padding: 36px 34px;
	}
	&__saved {
		max-width: 547px;
		padding: 36px 64px;
	}
	&__published {
		max-width: 547px;
		padding: 36px 64px;
	}
	&__deleted {
		max-width: 690px;
		padding: 29px 35px 36px 37px;
		.error-text {
			color: #FF3B30;
			font-weight: normal;
			font-size: 13px;
			line-height: 146%;
			margin-bottom: 12px;
		}
	}
	&__assistant {
		max-width: 820px;
		padding: 29px 36px 29px 36px;
		width: 100%;	
	}

	&__coord {
		max-width: 820px;
		padding: 29px 36px 29px 36px;
		width: 100%;
	}
	&__nonAuth {
		max-width: 820px;
		padding: 29px 36px 29px 36px;
		width: 100%;
	}
	&__time {
		max-width: 820px;
		padding: 29px 36px 29px 36px;
		width: 100%;
	}
	&__ambassador {
		max-width: 912px;
		width: 100%;
		max-height: 90vh;
		overflow: hidden;
		overflow-y: scroll;
		padding: 30px 36px;
		&::-webkit-scrollbar-button {
			width:0px;
			height:0px
		}
		&::-webkit-scrollbar{
			width: 0px;
		}
	}
	&__request {
		&-place {
			position: relative;
			padding: 40px 0;
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: -36px;
				width: calc(100% + 72px);
				height: 1px;
				background: #C4C4C4;
				opacity: .5;
			}
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			p {
				margin: 0;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #333333;
			}
			span {
				display: inline-block;
				font-weight: normal;
				font-size: 13px;
				line-height: 146%;
				color: #76767A;
			}
		}
		&-author {

			padding-top: 40px;
			.author--info {
				display: flex;
				align-items: flex-start;
			}
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			p {
				margin: 10px 0 0 0;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #333333;
				max-width: 615px;
			}
			img {
				width: 150px;
				height: 150px;
				border-radius: 50%;
				object-fit: cover;
				flex-shrink: 0;
				margin-left: 36px;
			}
		}
		&-aim {
			max-width: 394px !important;
			width: 100%;
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			p {
				margin: 0;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #333333;
			}
		}
		&-result {
			max-width: 394px !important;
			width: 100%;
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			p {
				margin: 0;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #333333;
			}
		}
		&-value {
			display: inline-block;
			font-weight: normal;
			font-size: 13px;
			line-height: 146%;
			color: #76767A;
			margin-top: 5px;
			svg {
				fill: transparent;
				margin-right: 5px;
			}
		}
		&-alert {
			background: #F5F5F5;
			padding: 28px 36px;
			width: calc(100% + 72px);
			margin-left: -36px;
			margin-top: 30px;
			display: flex;
			justify-content: space-between;
			& > div {
				max-width: 191px;
				span {
					font-weight: normal;
					font-size: 12px;
					line-height: 140%;
					color: #76767A;
				}
				p {
					margin-top: 4px;
					margin-bottom: 0;
					font-weight: normal;
					font-size: 15px;
					line-height: 150%;
					color: #333333;
				}
			}
		}
		&-task {
			margin-top: 30px;
			h4 {
				margin: 0;
				font-weight: 600;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			p {
				margin-top: 6px;
				margin-bottom: 0;
				font-weight: normal;
				font-size: 16px;
				line-height: 130%;
				color: #000000;
			}
		}
		&-error {
			margin-top: 30px;
			h4 {
				margin: 0;
				font-weight: 600;
				font-size: 16px;
				line-height: 140%;
				color: #000000;
			}
		}
		&-point {
			margin-top: 20px;
			position: relative;
			h4 {
				margin: 0;
				font-weight: 600;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			input.can-input {
				display: none;
			}
			label.can-label {
				user-select: none;
				display: inline-flex;
				align-items: center;
				margin-top: 6px;

				font-weight: normal;
				font-size: 13px;
				color: #76767A;
				cursor: pointer;
				&::before {
					content: '';
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 16px;
					height: 16px;
					border: 1px solid #76767A;
					border-radius: 4px;
					margin-right: 7px;
					font-size: 15px;
					color: #000;
				}
			}
			input.can-input:checked + .can-label::before {
				content: '\2713';
			}
			input.l-time {
				display: block;
				width: 632px;
				height: 44px;
				background: #F5F5F7;
				border-radius: 4px;
				margin-top: 10px;
				border: none;
				padding: 0 20px;

				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: #333333;
			}
			.f-btn {
				display: flex;
				margin-top: 17px;
				padding: 16px 24px;
				background: #00AFCA;
				border: none;
				border-radius: 2px;

				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				text-transform: uppercase;
				color: #FFFFFF;
				&.disabled {
					opacity: .5;
				}
			}
		}
	}
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		h3 {
			margin: 0;
			font-size: 22px;
			line-height: 140%;
			color: #000000;
			font-weight: 600;
		}
	}
	&__alert {
		background: rgba(244, 237, 178, 0.35);
		padding: 12px 36px;
		width: calc(100% + 71px);
		margin-left: -36px;
		margin-top: 17px;
		display: flex;
		align-items: center;
		
		svg {
			fill: transparent;
			margin-right: 13px;
		}
		&-info {
			display: flex;
			flex-direction: column;
			span {
				display: block;
				font-weight: normal;
				font-size: 12px;
				line-height: 140%;
				color: #76767A;
				margin: 0;
			}
			p {
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #333333;
				margin: 0;
			}
		}
	}
	&__confirm {
		h4 {
			margin-bottom: 17px;
		}
		input {
			border: 1px solid #D9D9DE;
			border-radius: 4px;
			width: 100%;
			height: 48px;
			padding-left: 20px;
			font-weight: normal;
			font-size: 13px;
			color: #000;
			cursor: pointer;
			&.error {
				border: 1px solid red;
			}
		}
		.form-btns {
			display: flex;
			align-items: center;
			margin-top: 24px;
			button {
				padding: 16px 51px;
				background: #76767A;
				border-radius: 2px;
				border: none;
				outline: none;

				font-size: 13px;
				line-height: 100%;
				text-transform: uppercase;
				color: #FFFFFF;
				font-weight: normal;
			}
			.cancel {
				display: inline-block;
				font-size: 15px;
				line-height: 100%;
				color: #00AFCA;
				font-weight: normal;
				margin-left: 24px;
				position: relative;
				&::before {
					content: '';
					position: absolute;
					bottom: -3px;
					left: 0;
					width: 100%;
					height: 1px;
					background: #00AFCA;
				}
			}
		}
	} 
	&__img {
		text-align: center;
	}

	&__text {
		p {
			margin: 26px 0 0 0;
			font-size: 15px;
			line-height: 150%;
			color: #000000;
			font-weight: normal;
		}
		span {
			display: block;
			text-align: center;
			margin: 26px 0 0 0;
			font-size: 15px;
			line-height: 150%;
			color: #000000;
			font-weight: normal;
		}
	}

	&__close {
		margin-top: 32px;
		text-align: center;
		&-btn {
			display: inline-block;
			border: 1px solid #00AFCA;
			border-radius: 2px;
			padding: 16px 54px;

			font-size: 13px;
			text-transform: uppercase;
			color: #00AFCA;
			font-weight: normal;
		}
		&-x {
			font-size: 24px;
			color: #999999;
			cursor: pointer;
		}
		&-circle {
			position: absolute;
			top: 12px;
			right: 12px;
			width: 28px;
			height: 28px;
			background: #999999;
			border-radius: 50%;
			text-align: center;
			line-height: 28px;
			cursor: pointer;
			color: #FFFFFF;
			font-size: 24px;
		}
	}

	&__history {
		max-width: 912px;
		width: 100%;
		max-height: 90vh;
		background: #FFFFFF;
		border-radius: 4px;
		overflow: hidden;
		overflow-y: scroll;
		padding: 30px 35px;
		&::-webkit-scrollbar-button {
			width:0px;
			height:0px
		}
		&::-webkit-scrollbar{
			width: 0px;
		}
		&-please {
			margin: 0;
			font-weight: normal;
			font-size: 13px;
			line-height: 146%;
			color: #76767A;
		}
	}
	.history-popup {
		width: 100%;
		&-item {
			width: 100%;
			margin-top: 30px;
			position: relative;
			label {
				display: block;
				font-weight: 600;
				font-size: 18px;
				line-height: 140%;
				color: #000000; 
			}
			input.history-popup-input {
				width: 100%;
				height: 53px;
				border: 0.8px solid #D9D9DE;
				padding-left: 8px;

				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: #000000;
				margin-top: 6px;
			}
			textarea {
				width: 100%;
				border: 0.8px solid #D9D9DE;
				padding: 16px 8px;

				font-weight: normal;
				font-size: 16px;
				line-height: 130%;
				color: #76767A;
				margin-top: 6px;
				&::-webkit-scrollbar-button {
					width:0px;
					height:0px
				}
				&::-webkit-scrollbar{
					width: 0px;
				}
			}



			.history-counter {
				background: #fff;
				position: absolute;
				display: flex;
				flex-direction: row;
				align-items: center;
				bottom: -15px;
				right: 6px;
				font-size: 12px;
				line-height: 140%;
				color: #999999;
			}
		}
		&-files {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			margin-top: 40px;
		}
		&-file {
			p {
				margin: 0;
				font-weight: 600;
				font-size: 15px;
				line-height: 150%;
				color: #000000;
			}
			span {
				display: inline-block;
				margin: 6px 0 18px 0;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #999999;
			}
			label {
				display: block;
				width: 153px;
				height: 46px;
				position: relative;
				border: 1px solid #008DA3;
				border-radius: 2px;

				font-weight: 600;
				font-size: 13px;
				line-height: 46px;
				text-align: center;
				text-transform: uppercase;

				color: #008DA3;
			}
			#historyFile {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				visibility: hidden;
			}
		}
		.add-history {
			background: #00AFCA;
			border: none;
			border-radius: 2px;
			width: 316px;
			height: 46px;

			font-weight: 500;
			font-size: 13px;
			text-align: center;
			text-transform: uppercase;

			color: #FFFFFF;
		}
	}
}

.no-scroll {
	overflow: hidden;
}

.l-success-text {
	display: none;
	max-width: 443px;
	background: #29B58C;
	border-radius: 2px;
	padding: 15px 80px;
	font-weight: normal;
	font-size: 13px;
	line-height: 100%;
	text-align: center;
	text-transform: uppercase;

	color: #FFFFFF;

}


.select2-selection {
	width: 580px;
	height: 45px;
	line-height: 45px;
	background: #F5F5F7 !important;
	border: 0.8px solid #D9D9DE !important;
}
.select2-dropdown {
	width: 580px !important;
	padding: 25px;
	background: #FFFFFF;
	border: none;
	box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
	border-radius: 0px 0px 2px 2px;
}
.select2-results__options::-webkit-scrollbar-track {
	background-color:#ecedee
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	overflow: hidden;
	overflow-x: scroll;
	&::-webkit-scrollbar{
		height: 0;
	}
}
.select2-results__options::-webkit-scrollbar-thumb {
	background: #00AFCA;
}
.select2-results__options::-webkit-scrollbar{
	width: 4px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #F5F5F5;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin: 0 5px 0 0;
}
.select2-container--open .select2-dropdown--below {
	padding: 10px;
}
.option-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-weight: normal;
	font-size: 15px;
	line-height: 150%;
	color: #000000;
	cursor: pointer;
}
.option-label::before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #E4E4E4;
	border-radius: 2px;
	background: #fff;
}
.zxc {
	position: relative;
}
.option-check {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.select2-results__option[aria-selected=true] .option-label::before {
	content: '\2713';
	background: #EC324F;
	border: 1px solid #EC324F;
	color: #fff;
	text-align: center;
	line-height: 16px;
}
.select2-container--default .select2-results__option[aria-selected=true] {
	background: #00AFCA;
	color: #fff;
	.option-label {
		color: #fff;
	}
}

.select2-selection__choice {
	font-weight: 500;
	font-size: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #000000;
	background: #D9D9DE;
	border-radius: 4px;
	padding: 4px 8px;
	height: 31px;
	line-height: 31px;
	border: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
	font-size: 34px;
	font-weight: normal;
	height: 20px;
    line-height: 20px;
}

