<div class="overlay"></div>
<div class="popup popup__profile">
	<div class="popup__img">
		<img src="%=static=%img/general/info.png" alt="Инфо">
	</div>
	<div class="popup__text">
		<p>Пожалуйста, заполните анкету максимально подробно. Так, волонтеры и другие организации смогут лучше понять как вам помочь.</p>
		<p>Ваша организация проходит проверку администрацией сайта. Проекты будут опубликованы и доступны для просмотра другими пользователями после проверки.</p>
	</div>
	<div class="popup__close">
		<a href="#" class="popup__close-btn close-popup">Все ясно. скрыть уведомления</a>
	</div>
</div>

<div class="popup popup__saved">
	<div class="popup__img">
		<img src="%=static=%img/general/info.png" alt="Инфо">
	</div>
	<div class="popup__text">
		<span>Проект сохранен</span>
		<p>Пожалуйста, добавьте роли волонтеров и опишите их обязанности, даты и время занятости на проекте.</p>
	</div>
	<div class="popup__close">
		<a href="#" class="popup__close-btn close-popup">Все ясно. скрыть уведомления</a>
	</div>
</div>

<div class="popup popup__published">
	<div class="popup__img">
		<img src="%=static=%img/general/info.png" alt="Инфо">
	</div>
	<div class="popup__text">
		<span>Роли сохранены</span>
		<span>Ваш проект опубликован.</span>
	</div>
	<div class="popup__close">
		<a href="#" class="popup__close-btn close-popup">Все ясно. скрыть уведомления</a>
	</div>
</div>

<div class="popup popup__deleted">
	<div class="popup__title">
		<h3>Подтверждение удаления профиля</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__alert">
		{{Icon iconName="alert-circle"}}
		<div class="popup__alert-info">
			<span>Вы уверены?</span>
			<p>После подтверждения будут удалены все данные вашего профиля</p>
		</div>
	</div>
	<div class="popup__confirm">
		<form action="" id="deleted-form">
			<h4>Наберите УДАЛИТЬ для подтверждения</h4>
			<div class="error-text"></div>
			<input type="text" id="deleted-input" data-text="УДАЛИТЬ">
			<div class="form-btns">
				<button>Удалить профиль</button>
				<a href="#" class="cancel close-popup">Отменить</a>
			</div>
		</form>
	</div>
</div>

<div class="popup popup__request popup__assistant">
	<div class="close-popup popup__close-circle">
		&times;
	</div>
	<div class="popup__title">
		<h3>Ассистент мероприятия</h3>
	</div>
	<div class="popup__request-value">
		{{Icon iconName="popup-user"}}
		<span id="has__assistant">3</span>/<span id="all__assistant">5</span>
		<span>Занято</span>
	</div>
	<div class="popup__request-alert">
		<div>
			<span>Даты проведения</span>
			<p>21.12.19 — 21.12.19</p>
		</div>
		<div>
			<span>Время занятости</span>
			<p>с 10:00 по 15:00</p>
		</div>
		<div>
			<span>Место проведения</span>
			<p>г. Алматы</p>
		</div>
		<div>
			<span>Адрес</span>
			<p>ул. Розыбакиева 273, ТРЦ Mega Center Almaty</p>
		</div>
	</div>
	<div class="popup__request-task">
		<h4>Задача</h4>
		<p>Прием подарков, регистрация подарков, выдача сертификатов, значков.</p>
	</div>
	<div class="popup__request-point">
		<h4>Укажите возможное время занятости</h4>
		<form>
			<input type="checkbox" id="assist__can" class="can-input">
			<label for="assist__can" class="can-label">
				Могу прийти на все время занятости
			</label>
			<button id="assist__apply" class="apply f-btn">подать заявку</button>
		</form>
	</div>
</div>
<!-- Подать заявку на волонтерство -->


<div class="popup popup__request popup__coord">
	<div class="close-popup popup__close-circle">
		&times;
	</div>
	<div class="popup__title">
		<h3>Координатор волонтеров</h3>
	</div>
	<div class="popup__request-value">
		{{Icon iconName="popup-user"}}
		<span id="has__assistant">1</span>/<span id="all__assistant">3</span>
		<span>Занято</span>
	</div>
	<div class="popup__request-alert">
		<div>
			<span>Даты проведения</span>
			<p>21.12.19 — 21.12.19</p>
		</div>
		<div>
			<span>Время занятости</span>
			<p>с 10:00 по 19:00</p>
		</div>
		<div>
			<span>Место проведения</span>
			<p>г. Алматы</p>
		</div>
		<div>
			<span>Адрес</span>
			<p>ул. Розыбакиева 273, ТРЦ Mega Center Almaty</p>
		</div>
	</div>
	<div class="popup__request-task">
		<h4>Задача</h4>
		<p>Прием подарков, регистрация подарков, выдача сертификатов, значков.</p>
	</div>
	<div class="popup__request-task">
		<h4>Дополнительное требование</h4>
		<p>Нужно иметь опыт координирования волонтеров хотя бы на 1 проекте</p>
	</div>
	<div class="popup__request-point">
		<h4>Укажите возможное время занятости</h4>
		<form>
			<input type="checkbox" id="coord__can" class="can-input">
			<label for="coord__can" class="can-label">
				Могу прийти на все время занятости
			</label>
			<button id="coord__apply" class="apply f-btn">подать заявку</button>
		</form>
	</div>
</div>
<!-- Подать заявку на волонтерство_особые требования -->


<div class="popup popup__request popup__nonAuth">
	<div class="close-popup popup__close-circle">
		&times;
	</div>
	<div class="popup__title">
		<h3>Ассистент мероприятия</h3>
	</div>
	<div class="popup__request-value">
		{{Icon iconName="popup-user"}}
		<span id="has__assistant">3</span>/<span id="all__assistant">5</span>
		<span>Занято</span>
	</div>
	<div class="popup__request-alert">
		<div>
			<span>Даты проведения</span>
			<p>21.12.19 — 21.12.19</p>
		</div>
		<div>
			<span>Время занятости</span>
			<p>с 10:00 по 15:00</p>
		</div>
		<div>
			<span>Место проведения</span>
			<p>г. Алматы</p>
		</div>
		<div>
			<span>Адрес</span>
			<p>ул. Розыбакиева 273, ТРЦ Mega Center Almaty</p>
		</div>
	</div>
	<div class="popup__request-task">
		<h4>Задача</h4>
		<p>Прием подарков, регистрация подарков, выдача сертификатов, значков.</p>
	</div>
	<div class="popup__request-error">
		<h4>Чтобы подать заявку на эту роль, Вы должны быть авторизованы как волонтер</h4>
	</div>
	<div class="popup__request-point">
		<button class="f-btn">Стать волонтером</button>
	</div>
</div>
<!-- Форма заявки для неавторизованного пользователя -->


<div class="popup popup__request popup__time">
	<div class="close-popup popup__close-circle">
		&times;
	</div>
	<div class="popup__title">
		<h3>Ассистент мероприятия</h3>
	</div>
	<div class="popup__request-value">
		{{Icon iconName="popup-user"}}
		<span id="has__assistant">3</span>/<span id="all__assistant">5</span>
		<span>Занято</span>
	</div>
	<div class="popup__request-alert">
		<div>
			<span>Даты проведения</span>
			<p>21.12.19 — 21.12.19</p>
		</div>
		<div>
			<span>Время занятости</span>
			<p>с 10:00 по 15:00</p>
		</div>
		<div>
			<span>Место проведения</span>
			<p>г. Алматы</p>
		</div>
		<div>
			<span>Адрес</span>
			<p>ул. Розыбакиева 273, ТРЦ Mega Center Almaty</p>
		</div>
	</div>
	<div class="popup__request-task">
		<h4>Задача</h4>
		<p>Прием подарков, регистрация подарков, выдача сертификатов, значков.</p>
	</div>
	<div class="popup__request-point">
		<h4>Укажите возможное время занятости</h4>
		<form>
			<input type="checkbox" id="time__can" class="can-input">
			<label for="time__can" class="can-label">
				Могу прийти на все время занятости
			</label>
			<input type="text" class="l-time" id="l-time" placeholder="Пожалуйста, укажите время в которое вы можете быть заняты на роли">
			<button id="assist__apply" class="apply f-btn">подать заявку</button>
		</form>
	</div>
</div>
<!-- Подать заявку на волонтерство_указать время участия -->


<div class="l-success-text">Спасибо! ваша заявка отправлена</div>



<div class="popup popup__request popup__ambassador askerov">
	<div class="popup__title">
		<h3>Общенациональный проект «Birgemiz: Bilim»</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__request-alert">
		<div class="popup__request-aim">
			<h4>Цель:</h4>
			<p>оказание волонтерской помощи в подготовке к ЕНТ, обучению английскому языку, компьютерной и правовой грамотности страшеклассников средних школ в сельской местности</p>
		</div>
		<div class="popup__request-result">
			<h4>Ожидаемый результат:</h4>
			<p>участие в проекте более 1000 волонтеров из числа преподавателей, студентов и др. Охват обучением не менее 1000 учащихся средних школ сельской местности в каждом регионе</p>
		</div>
	</div>

	<div class="popup__request-place">
		<h4>Территориальный охват:</h4>
		<p>Акмолинская, Алматинская, Актюбинская, Атырауская, Восточно-Казахстанская, Жамбылская, Западно-Казахстанская, Карагандинская, Кызылординская, Костанайская, Мангистауская, Павлодарская, Северо-Казахстанская, Туркестанская области</p>
		<span>Примечание: в графе «территориальный охват» могут быть указаны только базовые центры реализации проектов, вмесет с тем проекты будут реализован во всех регионах республики.</span>
	</div>
	<div class="popup__request-author">
		<h4>Амбассадор: Эмин Аскаров</h4>
		<div class="author--info">
			<div class="author--text">
				<p>Руководитель социальной мастерской Green Tal и основатель школы социального предпринимательства. Пять лет Эмин активно занимается проектами социальной важности и успешно развивает этот тренд в масштабах всей страны.</p>
				<p>Эмин трудоустраивает абсолютно всех людей из социально уязвимых категорий: бывшие осужденные, матери-одиночки, многодетные матери, малообеспеченные, выпускники детских домов и инвалиды всех категорий. Последние три года проект трудоустраивает инвалидов с ментальными нарушениями здоровья (шизофрения, аутизм, умственная отсталость).</p>
			</div>
			<img src="%=static=%img/general/big-amb.png" alt="Амбассадор">
		</div>
	</div>
</div>

<div class="popup popup__request popup__ambassador kasymov">
	<div class="popup__title">
		<h3>Общенациональный проект «Birgemiz: Saýlyq»</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__request-alert">
		<div class="popup__request-aim">
			<h4>Цель:</h4>
			<p>привлечение волонтеров в сферу охраны здоровья, оказанию помощи в уходе за больными, в том числе в хосписах, онкологических диспансерах и др.</p>
		</div>
		<div class="popup__request-result">
			<h4>Ожидаемый результат:</h4>
			<p>открытие 3 центров поддержки волонтеров в сфере охраны здоровья в городах Алматы, Кызылорда, и Петропавловск.
			Участие в проекте не менее 1000 волонтеров. Выделение не менее 68 грантов для реализации волонтерских идей в сфере здравоохранения</p>
		</div>
	</div>

	<div class="popup__request-place">
		<h4>Территориальный охват:</h4>
		<p>г. Алматы, Кызылординская и Северо-Казахстанская области</p>
		<span>Примечание: в графе «территориальный охват» могут быть указаны только базовые центры реализации проектов, вмесет с тем проекты будут реализован во всех регионах республики.</span>
	</div>
	<div class="popup__request-author">
		<h4>Амбассадор: Арман Бахитович Касымов</h4>
		<div class="author--info">
			<div class="author--text">
				<p>Активный волонтер, GPD Technology LLP, специалист по конкурентной разведке. Атырауская областная станция скорой медицинской помощи, волонтёр.</p>
				<p>Участие в проектах:</p>
				<p>2017 - день открытых дверей на Атырауской областной станции скорой медицинской помощи;</p>
				<p>С 2018 года - бесплатные мастер-классы для жителей города по оказанию первой доврачебной помощи;</p>
				<p>С 2019 года - проект по улучшению имиджа работника ССМП;</p>
				<p>2008-2019 - самостоятельная деятельность на ССМП по оказанию помощи мед.работникам;</p>
				<p>С 2019 года - разъяснительные работы о принципах деятельности ССМП и реформах в системе здравоохранения, работа с жалобами от жителей города.</p>
			</div>
			<img src="%=static=%img/general/big-amb2.png" alt="Амбассадор">
		</div>
	</div>
</div>

<div class="popup popup__request popup__ambassador aimurzina">
	<div class="popup__title">
		<h3>Общенациональный проект «Birgemiz: Sabaqtastyq»</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__request-alert">
		<div class="popup__request-aim">
			<h4>Цель:</h4>
			<p>внедрение практики наставничества волонтерами в
				отношении детей, находящихся в детских домах, и молодежи, детей,
				оказавшихся в трудной жизненной ситуации в центрах социального
			обслуживания системы социальной защиты населения.</p>
		</div>
		<div class="popup__request-result">
			<h4>Ожидаемый результат:</h4>
			<p>создание 3 центров поддержки
				волонтеров в сфере наставничества в городах Нур-Султан, Шымкент,
				Атырау. Внедрение практики наставничества, подготовка не менее 50
				персональных наставников из числа авторитетных и уважаемых граждан
				(волонтеров). Привлечение 1000 обученных граждан и волонтеров.
			Выделение и реализация не менее 68 малых грантов</p>
		</div>
	</div>

	<div class="popup__request-place">
		<h4>Территориальный охват:</h4>
		<p>города Нур-Султан, Шымкент и Атырауская область.</p>
		<span>Примечание: в графе «территориальный охват» могут быть указаны только базовые центры реализации проектов, вмесет с тем проекты будут реализован во всех регионах республики.</span>
	</div>
	<div class="popup__request-author">
		<h4>Амбассадор: Аймурзина Айнур.</h4>
		<div class="author--info">
			<div class="author--text">
				<p>Директор проектов и программ благотворительного фонда «Дара». В Фонде с июня 2013 года. </p>
				<p>Успешно ведет координацию нескольких проектов, а также поддерживает контакты с партнерами и бенефициарами.</p>
				<p> Является руководителем проекта «Наставники» в Казахстане. Имеет диплом международных отношений КазГУ, также аттестат по специальности «Основы психологии».
				</p>
			</div>
			<img src="%=static=%img/general/big-amb3.png" alt="Амбассадор">
		</div>
	</div>
</div>

<div class="popup popup__request popup__ambassador abakanov">
	<div class="popup__title">
		<h3>Общенациональный проект «Birgemiz: Taza Álem»</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__request-alert">
		<div class="popup__request-aim">
			<h4>Цель:</h4>
			<p>защита окружающей среды, очистке рек и лесов, посадке
			деревьев, обучению сортировке мусора.</p>
		</div>
		<div class="popup__request-result">
			<h4>Ожидаемый результат:</h4>
			<p>создание 3 центров поддержки
				волонтеров в сфере защиты окружающей среды, очистке рек и лесов,
				посадке деревьев, обучению сортировке мусора в городах.Талдыкурган, Уральск, Костанай. Вовлечение граждан в волонтерскую деятельность в сфере защиты окружающей среды и экологической безопасности, очистке рек и лесов, посадке деревьев, обучению сортировке мусора. 1000 привлеченных волонтеров. Выделение не менее 68 малых грантов.
			</p>
		</div>
	</div>

	<div class="popup__request-place">
		<h4>Территориальный охват:</h4>
		<p>Алматинская, Западно-Казахстанская, Костанайская области.</p>
		<span>Примечание: в графе «территориальный охват» могут быть указаны только базовые центры реализации проектов, вмесет с тем проекты будут реализован во всех регионах республики.</span>
	</div>
	<div class="popup__request-author">
		<h4>Амбассадор: Абаканов Елдос Нурболулы.</h4>
		<div class="author--info">
			<div class="author--text">
				<p>С декабря 2017 года является заместителем председателя правления ОЮЛ «Ассоциация экологических организаций Казахстана».</p>
				<p>Окончил Евразийский национальный университет им. Л.Н.Гумилева. Свою трудовую деятельность начал в РГП «Казгидромет» работая ведущим инженером производственно-технического управления, работал главным менеджером в АО «Казахстанский центр модернизации и развития ЖКХ».</p>
				<p>Руководил и реализовал проекты в области перехода к зеленой экономике. Член рабочей группы Совета при Президенте РК по переходу к зеленой экономике и разработке нового экологического кодекса. С 2014 года работает в общественных организациях. Проходил стажировки в странах Европы, Азии, СНГ и США по вопросам энергосбережения, зеленой экономики и охраны окружающей среды.
				</p>
			</div>
			<img src="%=static=%img/general/big-amb4.png" alt="Амбассадор">
		</div>
	</div>
</div>

<div class="popup popup__request popup__ambassador ahmetov">
	<div class="popup__title">
		<h3>Общенациональный проект «Birgemiz: Asyl mura»</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__request-alert">
		<div class="popup__request-aim">
			<h4>Цель:</h4>
			<p>привлечение волонтеров по сохранению объектов историко-культурного наследия.</p>
		</div>
		<div class="popup__request-result">
			<h4>Ожидаемый результат:</h4>
			<p>создание 3 центров поддержки
				волонтеров для привлечения волонтеров к проектам по сохранению
				объектов историко-культурного наследия в городах Тараз, Караганда,
				Туркестан.
				Расширение участия граждан в реализации проектов по сохранению
				и развитию культурно-исторического наследия, восстановления и
				сохранения памятников истории, культуры и мемориальных комплексов.
				Привлечение 1000 граждан и волонтеров к реализации проекта.
				Выделение не менее 68 малых грантов.
			</p>
		</div>
	</div>

	<div class="popup__request-place">
		<h4>Территориальный охват:</h4>
		<p>Жамбылская, Карагандинская, Туркестанская области.</p>
		<span>Примечание: в графе «территориальный охват» могут быть указаны только базовые центры реализации проектов, вмесет с тем проекты будут реализован во всех регионах республики.</span>
	</div>
	<div class="popup__request-author">
		<h4>Амбассадор: Адиль Ералиевич Ахметов</h4>
		<div class="author--info">
			<div class="author--text">
				<p>Казахстанский актёр кино и театра, телеведущий, ведущий мероприятий Государственного и Международного уровней. Заслуженный деятель Казахстана (2017). Лауреат Государственной премии Республики Казахстан (2018).
				</p>
			</div>
			<img src="%=static=%img/general/big-amb5.png" alt="Амбассадор">
		</div>
	</div>
</div>

<div class="popup popup__request popup__ambassador abdrasheva">
	<div class="popup__title">
		<h3>Общенациональный проект «Birgemiz: Qamqor»</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__request-alert">
		<div class="popup__request-aim">
			<h4>Цель:</h4>
			<p>привлечение волонтеров в дома престарелых, центры социального обслуживания системы социальной защиты населения.</p>
		</div>
		<div class="popup__request-result">
			<h4>Ожидаемый результат:</h4>
			<p>создание 3 центров поддержки
				волонтеров в городах Алматы, Актау, Павлодар. 1000 волонтеров окажут
				помощь организациям социального обслуживания системы социальной
				защиты населения. Выделение не менее 68 грантов для реализации
				волонтерских идей в социальной сфере. Выпуск сборника лучших практик
				волонтерской деятельности в сфере социальной защиты населения.
			</p>
		</div>
	</div>

	<div class="popup__request-place">
		<h4>Территориальный охват:</h4>
		<p>г. Алматы, Мангистауская и Павлодарская области.</p>
		<span>Примечание: в графе «территориальный охват» могут быть указаны только базовые центры реализации проектов, вмесет с тем проекты будут реализован во всех регионах республики.</span>
	</div>
	<div class="popup__request-author">
		<h4>Амбассадор: Абдрашева Гульмира.</h4>
		<div class="author--info">
			<div class="author--text">
				<p>Основатель волонтерского движения «Клуб добряков», филантроп.</p>
				<p>Родилась 25 декабря 1981г.</p>
				<p>Достижения, труды и награды:</p>
				<p>2015 год - основала волонтерское движение «Клуб добряков»;</p>
				<p>2015 год - обладательница Республиканской Премии «Жақсылық Жаса»;</p>
				<p>2016 год - обладательница Десятой Национальной Премии «Алтын Жүрек»;</p>
				<p>2017 - победитель проекта «100 новых лиц Казахстана».</p>
			</div>
			<img src="%=static=%img/general/big-amb6.png" alt="Амбассадор">
		</div>
	</div>
</div>

<div class="popup popup__request popup__ambassador ilyasova">
	<div class="popup__title">
		<h3>Общенациональный проект «Birgemiz: Úmit»</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<div class="popup__request-alert">
		<div class="popup__request-aim">
			<h4>Цель:</h4>
			<p>привлечение волонтеров к проектам по поиску пропавших людей, снижению рисков бедствий и ликвидации последствий чрезвычайных ситуаций природного и техногенного характера, в том числе по поиску документов, повествующих о подвигах наших соотечественников в Великой Отечественной войне.
			</p>
		</div>
		<div class="popup__request-result">
			<h4>Ожидаемый результат:</h4>
			<p>создание 3 центров поддержки волонтеров
				в сферах ЧС, работы по поиску пропавших людей, в городах Кокшетау,
				Актобе, Усть-Каменогорск. Расширение участия граждан и волонтерских
				организаций в поисковых мероприятиях, в том числе документов,
				повествующих о подвигах наших соотечественников в Великой
				Отечественной войне, защите населения от чрезвычайных ситуаций.
				Привлечение 1000 привлеченных волонтеров к реализации проекта.
				Выделение не менее 68 малых грантов.
			</p>
		</div>
	</div>

	<div class="popup__request-place">
		<h4>Территориальный охват:</h4>
		<p>Акмолинская, Актюбинская, Восточно-Казахстанской области.</p>
		<span>Примечание: в графе «территориальный охват» могут быть указаны только базовые центры реализации проектов, вмесет с тем проекты будут реализован во всех регионах республики.</span>
	</div>
	<div class="popup__request-author">
		<h4>Амбассадор: Айнур Ильясова</h4>
		<div class="author--info">
			<div class="author--text">
				<p>Айнур Ильясова - актриса и телеведущая.
					2008-2009 гг. – передача
					«Двое» (телеканал «Казахстан-Оскемен»,
					съемки в телевизионных версиях
					спектаклей, театрализаций и т.д.);
				</p>
				<p>2010 год - юмористическая передача «Азіл-Мазір» (телеканал «Южная столица»);
				</p>
				<p>
					2011-2012 гг. - проект «Дудар-ай», съемки
					в новогоднем шоу, программа «Азiл-
					кеш» (Телеканал «Хабар»);
				</p>
				<p>2012 год - юмористическое скетч-шоу «KZ-ландия» («7 канал»);</p>
				<p>2013 год - программа «Сол жылдар» (канал «Мәдениет»);</p>
				<p>2014 год – фильм Келинка Сабина.</p>
			</div>
			<img src="%=static=%img/general/big-amb7.png" alt="Амбассадор">
		</div>
	</div>
</div>


<div class="popup popup__history">
	<div class="popup__title">
		<h3>Поделитесь вашей историей волонтерства</h3>
		<div class="popup__close-x close-popup">&times;</div>
	</div>
	<p class="popup__history-please">Пожалуйста, ответьте на вопросы ниже и нажмите на кнопку отправить</p>

	<form class="history-popup">
		<div class="history-popup-item">
			<label for="history-name">Ваше имя, возраст, населенный пункт:</label>
			<input type="text" id="history-name" class="history-popup-input">
		</div>

		<div class="history-popup-item">
			<label>Выберите ваше направление в волонтерстве:</label>
			<select class="js-example-basic-multiple" id="history-select" multiple="multiple">
				<option value="1">Социальная помощь</option>
				<option value="2">Помощь детям</option>
				<option value="3">Помощь пожилым</option>
				<option value="4">Помощь животным</option>
				<option value="5">Помощь на событиях</option>
				<option value="6">Интеллект. волонтерство</option>
				<option value="7">Корпоратив. волонтерство</option>
				<option value="8">Здравоохранение</option>
				<option value="9">Образование</option>
				<option value="10">Культура и искусство</option>
				<option value="11">Этно-волонтерство</option>
				<option value="12">Срочная помощь (ЧС)</option>
				<option value="13">Экология</option>
				<option value="14">Донорство</option>
				<option value="15">Спорт</option>
			</select>
		</div>

		<div class="history-popup-item">
			<label for="">Расскажите, почему и как вы стали волонтером?</label>
			<textarea maxlength="420" placeholder="поделитесь вашей мотивацией, почему вы решили заниматься волонтерством"></textarea>
			<div class="history-counter">
				<div class="curent">0</div>
				/
				<div class="max"></div>
			</div>
		</div>

		<div class="history-popup-item">
			<label for="">Что вы делаете будучи волонтером?</label>
			<textarea maxlength="420" placeholder="опишите какие именно задачи вы решаете, чем и как помогаете обществу"></textarea>
			<div class="history-counter">
				<div class="curent">0</div>
				/
				<div class="max"></div>
			</div>
		</div>

		<div class="history-popup-item">
			<label for="">Что дает вам волонтерская деятельность, как она развивает вашу личность?</label>
			<textarea maxlength="420" placeholder="поделитесь как волонтерство изменило вас, какие выводы вы сделали для себя"></textarea>
			<div class="history-counter">
				<div class="curent">0</div>
				/
				<div class="max"></div>
			</div>
		</div>

		<div class="history-popup-item">
			<label for="">Что вы посоветуете другим? Как выбрать свое направление в волонтерстве?</label>
			<textarea maxlength="420" placeholder="как выбрать направление, где начинающие волонтеры могут быть максимально полезны"></textarea>
			<div class="history-counter">
				<div class="curent">0</div>
				/
				<div class="max"></div>
			</div>
		</div>

		<div class="history-popup-files">
			<div>
				<div class="img-inputs">
		 			<div class="img-input hide">
		 				<input type="file" accept=".png, .jpg">
		 				<div class="img-input__img set-bg-img">
		 					<img src="" class="get-bg-img" alt="">
		 				</div>
		 				<span class="img-input__filename">
		 					... помощь2.jpg
		 				</span>
		 				<span class="img-input__reelect">
		 					Заменить фото
		 				</span>
		 				<div class="img-input__delete">
		 					{{Icon iconName="basket"}}
		 				</div>
		 			</div>
		 			<div class="img-input hide">
		 				<input type="file" accept=".png, .jpg">
		 				<div class="img-input__img set-bg-img">
		 					<img src="" class="get-bg-img" alt="">
		 				</div>
		 				<span class="img-input__filename">
		 					... помощь2.jpg
		 				</span>
		 				<span class="img-input__reelect">
		 					Заменить фото
		 				</span>
		 				<div class="img-input__delete">
		 					{{Icon iconName="basket"}}
		 				</div>
		 			</div>
		 			<div class="img-input hide">
		 				<input type="file" accept=".png, .jpg">
		 				<div class="img-input__img set-bg-img">
		 					<img src="" class="get-bg-img" alt="">
		 				</div>
		 				<span class="img-input__filename">
		 					... помощь2.jpg
		 				</span>
		 				<span class="img-input__reelect">
		 					Заменить фото
		 				</span>
		 				<div class="img-input__delete">
		 					{{Icon iconName="basket"}}
		 				</div>
		 			</div>
		 		</div>
		 		<div class="d-file-download">
		 			<span>Загрузите до 3-х фото</span>
		 			<p>Файл в формате .jpg или .pdf</p>
		 			<div class="btn-file">
		 				Выберите файл
		 			</div>
		 		</div>
			</div>
			<button class="add-history" type="submit">Отправить историю</button>
		</div>

	</form>
</div>
<!-- Общенациональный проекты отраслевого волонтерства -->
