@media (max-width: 1400px) and (min-width: 1200px) {
	.news__sidebar-subscribe{
		.m-button{
			padding: 0px 16px;
		}
		input{
			width: 215px;
		}
	}
	.news__item{
	    width: calc(50% - 30px);
	}
	.target__item {
		width: 170px;
	}
	.news__sidebar {
		width: 350px;
	}
	.news__sidebar-title {
		height: auto;
	}
	.addrole{
		width: 100%;
	}
	.infoproject{
		width: 100%;
	}
	.lk-proj{
		width: 100%;
	}
	.thanksfiles{
		width: 100%;
	}
	body .lk__aside {
		margin-right: 30px;
	}
	body .infoorg{
		width: 760px;
	}
	body .d-report__container{
		height: 443px;
	}
	body .d-report__item {
		height: 208px;
	}
	body .d-report__item:first-child{
		width: 554px;
	}
	body .d-report__item{
		width: 261px;
	}
	.lastevent .wrapper{
		flex-wrap: wrap;
	}
	body .lastevent__head{
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		padding-right: 0px;
		align-items: center;
	}
	body .lastevent__head .d-title{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	body .d-lastnews__item{
		width: calc(50% - 32px);
	}
	body .d-best__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(33.333333% - 20px);
	}
	body .d-lastnews__link{
		margin-top: auto;
		align-self: flex-start;
	}
	.d-lastnews__item{
		display: flex;
		flex-direction: column;
	}
	body .choise .wrapper{
		flex-direction: column;
	}
	body .choise__container{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
		max-width: 100%;
		justify-content: space-between;
		padding-bottom: 40px;
		padding-right: 0;
	}
	body .choise__img{
		width: 100%;
		position: relative;
		padding-bottom: 114.28%;
		height: 0;
		.set-bg-img{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
		}
	}
	body .choise__item{
		width: 100%;
		position: relative;
	}
	body .choise__slider{
		width: 100%;
	}
	body .choise__title{
		padding-top: 0;
	}
	body .choise__paggination{
		margin-bottom: 0;
		margin-top: 0;
	}
	body .d-slider {
		height: 352px;
	}
	.logo__text{
		width: 128px;
	}
	body .d-slider__title {
		font-size: 34px;
	}
	body .d-slider__content{
		top: 0px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	body .d-slider__content{
		margin-bottom: 30px;
	}
	body .d-slider-pagination{
		left: -135px;
	}
	body .newssmall__links a span{
		max-width: 245px;
	}
	.newssmall__item{
		width: calc(30% - 32px);
	}
	.newssmall__item-half{
		width: calc(40% - 32px);
	}
	.logo {
		margin-right: 40px;
	}
	nav .nav__link{
		margin-right: 30px;
	}
	html body nav .search {
		width: 200px;
	}
	.search input {
		width: 400px;
	}
	.nav__link {
		margin-right: 40px;
	}
	.l-action-main-info p {
		max-width: 100%;
	}
	.l-action-role .l-role__title {
		max-width: 825px;
	}
	.l-action-role .l-role__items {
		max-width: 825px;
	}
	.l-action-volont-info {
		max-width: 825px;
	}
	.l-action-reviews-wrap {
		max-width: 825px;
	}
	.l-action-similar-wrap {
		max-width: 825px;
	}
	.l-action-similar__items {
		max-width: 825px;
	}
	.l-action-similar {
		padding: 37px 0 75px 0;
	}
	.l-about__content-wrapper {
		max-width: 650px;
	}
	.l-about__content-news {
		max-width: 400px;
	}
	.l-mail {
		height: auto;
	}
	.s-public-profile {
		max-width: 300px;
	}
	.s-public-about {
		margin-left: 60px;
	}
	.s-public-about-tabs .s-about__content-item .s-content-item-title .s-item-title {
		max-width: 450px;
	}

	.smap {
		height: 700px;
	}

	.ambassador .t-wrapper {
		width: 100%;
	}
	.l-zarubezh__item:not(:nth-child(4n)) {
		margin-right: 0;
	}
	.l-zarubezh__item:not(:nth-child(3n)) {
		margin-right: 96px;
	}
	.l-who__info {
		max-width: 745px;
	}
	.l-partners-item:not(:nth-child(5n)) {
		margin-right: 47px;
	}
	.l-team__item:not(:nth-child(4n)) {
		margin-right: 46px;
	}
	.d-rdy .wrapper{
		padding-left: 0;
	}
}

@media (min-width: 800px) and (max-width: 1199px) {
	#mapa {
		width: 100% !important;
		svg {
			height: 100% !important;
		}
	}
	.l-about__content {
		flex-direction: column;
	}
	.l-wrapper {
		display: flex;
		flex-direction: column;
		.d-block__aside {
			width: 100%;
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			justify-content: space-between;
			.f-select {
				width: 49%;
			}
			.f-checkboxs {
				width: 49%;
			}
			.f-range {
				width: 47%;
			}
			.f-input {
				width: 49%;
			}
			
			.f-buttons {
				width: 49%;
			}
		}
		.d-block__main {
			margin-top: 20px;
		}
	}
	.target__item{
		width: calc(25% - 30px);
		&:nth-child(4n){
			margin-right: 0;
		}
	}
	.news__sidebar{
		margin-bottom: 20px;
	}
	.target__content{
		margin-right: 0;
	}
	.target__items{
		margin-right: 0;
	}
	.news__item{
		width: calc(50% - 30px);
	}
	.news .pag{
		margin-bottom: 30px;
	}
	.news__container{
		overflow-x: hidden;
	}
	
	.bread{
		margin-top: 15px;
	}
	.news__sidebar{
		margin-top: 10px;
		margin-left: 0;
	}
	.best__sidebar-container, .news__sidebar{
		width: 100%;
	}
	.news__sidebar-new{
		width: calc(50% - 10px);
	}
	.news__sidebar-news{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.news__new {
		margin-top: 0;
	}
	.news__new .news__sidebar{
		margin-top: 15px;
	}
	.best__top {
		margin-bottom: 20px;
	}
	.html h2 {
		font-size: 26px;
		margin-bottom: 30px;
	}
	.best__container, .news__container,.target__container{
		flex-direction: column;
	}
	.regvip{
		width: 100%;
	}
	header .search{
		display: none;
	}
	.lk-proj{
		width: 100%;
	}
	.thanksfiles{
		width: 100%;
	}
	body .lk__aside {
		margin-right: 30px;
	}
	body .infoorg{
		width: calc(100% - 380px);
	}
	body .lk .wrapper{
		flex-direction: column;
	}
	body .lk__aside{
		margin-right: 0;
		width: 100%;
	}
	body .infoorg{
		width: 100%;
	}
	.lk__bar{
		width: 100%;
	}
	.d-rdy .wrapper{
		padding-left: 0;
	}
	body .d-report__container{
		flex-direction: row;
		height: auto;
	}
	body .d-report__item:first-child{
		margin-right: 0;
		margin-bottom: 32px;
		width: 100%;
		height: 600px;
	}
	body .d-report__item{
		margin-right: 0px;
		margin-bottom: 32px;
		width: calc(50% - 16px);
		height: 290px;
	}
	body .d-best__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(33.333333% - 20px);
	}
	.lastevent .wrapper{
		flex-wrap: wrap;
	}
	body .lastevent__head{
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		padding-right: 0px;
		align-items: center;
	}
	body .lastevent__head .d-title{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	body .lastevent__container{
		flex-wrap: wrap;
	}
	body .lastevent__item{
		width: calc(50% - 40px);
		margin-left: 20px;
		margin-right: 20px;
	}
	body .lastevent__container{
		margin-left: -20px;
		margin-right: -20px;
		justify-content: center;
	}
	body .d-lastnews__item{
		width: calc(50% - 32px);		
	}
	body .choise .wrapper{
		flex-direction: column;
	}
	body .choise__container{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
		max-width: 100%;
		justify-content: space-between;
		padding-bottom: 40px;
		padding-right: 0;
	}
	body .choise__img {
		margin-bottom: 20px;
	}
	body .d-volon__item{
		width: calc(100% - 32px);
		margin-bottom: 20px;
	}
	body .choise__img{
		width: 100%;
		position: relative;
		padding-bottom: 114.28%;
		height: 0;
		.set-bg-img{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
		}
	}
	body .choise__item{
		width: 100%;
		position: relative;
	}
	body .choise__slider{
		width: 100%;
	}
	body .choise__title{
		padding-top: 0;
	}
	body .choise__paggination{
		margin-bottom: 0;
		margin-top: 0;
	}
	body .newssmall__item{
		width: calc(50% - 32px);
	}
	body .newssmall__item-half{
		width: calc(100% - 32px);
	}
	body .d-slider img{
		display: block;
		width: auto;
		height: auto;
		max-width: none;
		max-height: 385px;
		margin-left: 75px;
	}
	body .d-slider .swiper-slide{
		background-color: #F5F5F7;
	}
	body .d-slider__content{
		position: static;
	}
	body .d-slider{
		height: auto;
	}
	body .d-slider-pagination{
		left: auto;
		right: 15px;
		top: 15px;
		bottom: auto;
	}
	body .d-slider__content{
		padding: 30px 100px 30px 90px;
	}
	.d-slider .wrapper{
		position: relative;
		&::before{
			position: absolute;
			z-index: 20;
			left: 0px;
			top: 0px;
			height: 100%;
			width: 75px;
			content: '';
			background-color: #00AFCA;
			background-image: url('../img/content/slider-img1.png');
			background-size: contain;
			background-repeat: repeat-y;
		}
	}
	.d-slider__text{
		padding-left: 0;
	}
	.d-slider .trs-button {
		margin-left: 0;
	}
	body .d-slider__title{
		max-width: 100%;
	}
	
	footer .wrapper{
		flex-wrap: wrap;
		.footer__links,.footer__info,.copyright{
			width: 33.3333%;
		}
		.footer__logo{
			padding-bottom: 20px;
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
		}
	}
	.smap {
		height: 700px;
	}
	.logo {
		margin-right: 20px;
	}
	.search input {
		width: 150px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.lang {
		width: 30px;
	}
	.lang__container a{
		width: 30px;
	}
	.header__noutificate {
		margin-left: 10px;
	}
	.header__profile-container {
		margin-left: 20px;
	}
	.header__link {
		margin-left: 40px;
	}
	.nav__link a, .nav__link span {
		font-size: 14px;
	}
	.nav__link {
		margin-right: 10px;
	}
	.l-about__content-wrapper {
		max-width: 100%;
	}
	.l-about__content-news {
		max-width: 100%;
	}
	.l-about__content-news .l-last__news-item p {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		max-height: 230px;
		-webkit-box-orient: vertical;
	}
	.l-about__name h4 {
		font-size: 24px;
	}
	.l-about__name p {
		font-size: 14px;
	}
	.l-about__name .danger {
		padding: 30px;
	}
	.l-about__name .danger svg {
		top: 5px;
		left: 5px;
	}
	.l-about__content-news form input {
		padding-left: 10px;
		padding-right: 130px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.l-about__content-news form button {
		width: 125px;
	}
	.l-action {
		margin-top: 30px;
	}
	.l-action-main-info {
		margin-left: 20px;
	}
	.l-action-main-info .action__items {
		margin-top: 15px;
	}
	.l-action-main-info .action-title {
		br {
			display: none;
		}
	}
	.l-action-role .l-role__items {
		max-width: 100%;
	}
	.l-action-role .l-role__item {
		padding: 15px;
	}
	.l-action-role .l-role__item:not(:last-child) {
		margin-right: 10px;
	}
	.l-action-similar {
		padding: 35px 0;
	}
	.footer__links:nth-child(3) {
		width: 225px;
	}
	.hot-line-link {
		font-size: 20px;
	}

	.l-table {
		overflow: hidden;
		overflow-x: scroll;
	}
	.l-table form {
		width: max-content;
	}
	.l-thanks .volont-mail .l-blocks-item span {
		max-width: 290px;
	}
	.l-thanks .volont-mail .l-blocks-item .l-together-item {
		width: 200px;
		font-size: 13px;
	}
	.l-thanks .volont-mail .l-blocks-item textarea {
		width: 290px;
		min-height: 88px;
	}
	.l-mail {
		height: auto;
	}
	.s-public-profile {
		max-width: 250px;
	}
	.s-public-profile-img {
		padding: 20px 20px 18px 20px;
	}
	.s-public-profile-content {
		padding: 0 20px 20px 20px;
	}
	.s-public-about {
		margin-left: 30px;
	}
	.s-public-about-main .public-about-main-item {
		margin-right: 10px;
	}
	.s-public-about-tabs .s-about__tabs li {
		font-size: 14px;
		margin-right: 0;
		&:not(:last-child) {
			margin-right: 20px;
		}
	}
	.s-public-about-tabs .s-about__tabs li.active {
		font-size: 14px;
	}
	.s-public-about-tabs .s-about__content-item .s-content-item-title .s-item-title {
		max-width: 250px;
		font-size: 14px;
	}
	.s-public-about-tabs .s-about__content-item .s-content-item-title p {
		font-size: 14px;
	}
	.popup__profile {
		padding: 15px;
	}
	.popup__saved {
		padding: 15px;
	}
	.popup__published {
		padding: 15px;
	}
	.popup__deleted {
		padding: 15px;
	}
	.popup__alert {
		width: calc(100% + 30px);
		margin-left: -15px;
		padding: 12px 15px;
	}
	.popup__assistant {
		max-width: 675px;
	}
	.popup__coord {
		max-width: 675px;
	}
	.popup__request-alert {
		margin-top: 10px;
		padding: 10px 36px;
	}
	.popup__request-task {
		margin-top: 10px;
	}
	.popup__nonAuth {
		max-width: 675px;
	}
	.popup__request-error {
		margin-top: 10px;
	}
	.popup__time {
		max-width: 675px;
	}
	.contacts__list li {
		font-size: 14px;
		&.active {
			font-size: 14px;
		}
	}
	.contacts__map {
		height: 500px;
	}
	.contacts__content {
		max-width: 300px;
	}
	.contacts__city p {
		width: 300px;
		font-size: 14px;
		line-height: 20px;
	}
	.contacts__list .city-check span {
		font-size: 14px;
	}
	.contacts__list .city-check label.contacts-label {
		height: 25px;
	}
	.contacts__list .city-check label.contacts-label::before {
		width: 20px;
		height: 20px;
	}
	.ambassador {
		padding: 0 0 50px 0;
	}
	.ambassador .t-wrapper {
		width: 768px;
	}
	.ambassador .a-wrapper {
		width: 768px;
	}
	.ambassador__item {
		padding: 15px;
		max-width: 49%;
		margin-bottom: 30px;
	}
	.popup__ambassador {
		max-width: 90%;
		max-height: 90%;
		width: 100%;
		height: 100%;
		padding: 25px 36px;
		overflow: hidden;
		overflow-y: scroll;
	}
	.popup__request-aim {
		max-width: 49% !important;
	}
	.popup__request-result {
		max-width: 49% !important;
	}
	.popup__request-place {
		padding: 20px 0;
	}
	.popup__request-author {
		padding-top: 20px;
	}
	.infoproject{
		width: 100%;
	}
	.addrole{
		width: 100%;
	}

	.big-banner-container {
		width: 50%;
	}
	.big-banner-title {
		font-size: 28px;
	}
	.big-banner-text {
		font-size: 14px;
	}

	.s-faq-content {
		flex-wrap: wrap;
	}
}

@media (max-width: 799px) and (min-width: 319px) {
	.result-search-item.type1 .photo-img, .result-search-item.type2 .photo-img{
		margin-right: 25px;	
	}
	.d-system__container{
		margin-left: 0;
		margin-right: 0;
	}
	.d-system__item{
		margin-left: 0;
	}
	#mapa {
		width: 100% !important;
		svg {
			height: 100% !important;
		}
	}
	#mapa::before {
		display: none;
	}
	.l-wrapper {
		display: flex;
		flex-direction: column;
		.d-block__aside {
			width: 100%;
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			justify-content: space-between;
			.f-select {
				width: 49%;
			}
			.f-checkboxs {
				width: 49%;
			}
			.f-range {
				width: 47%;
			}
			.f-input {
				width: 49%;
			}
			
			.f-buttons {
				width: 100%;
			}
			.f-title-line {
				width: 100%;
			}
		}
		.d-block__main {
			margin-top: 20px;
		}
		.d-block__main .search {
			width: 100%;
		}
		.d-block__main .search input {
			width: 100%;
		}
	}
	.regvip__bg {
		height: 100%;
		padding: 20px 40px 20px 0;
	}
	.pag-button{
		width: 50%;
		margin-bottom: 5px;
	}
	.target__item{
		width: calc(33.3333333% - 27px);
		&:nth-child(3n){
			margin-right: 0;
		}
	}
	.big-banner{
		margin-top: 10px;
	}
	.big-banner-content {
		background-position: right;
		padding: 30px 75px 30px 75px;
		position: relative;
		&::before{
			position: absolute;
			z-index: 20;
			left: 0px;
			top: 0px;
			height: 100%;
			width: 75px;
			content: '';
			background-color: #00AFCA;
			background-image: url('../img/content/slider-img1.png');
			background-size: contain;
			background-repeat: repeat-y;
		}
	}
	.big-banner .wrapper {
		justify-content: center;
		text-align: center;
	}
	.big-banner-title {
		font-size: 24px;
	}
	.big-banner-text {
		font-size: 14px;
		padding-left: 0;
	}
	.big-banner-container {
		width: 50%;
	}
	.news__sidebar{
		margin-bottom: 20px;
	}
	.target__content{
		margin-right: 0;
	}
	.target__items{
		margin-right: 0;
	}
	.news .pag .pag__content{
		width: 50%;
		order: 2;
		margin-bottom: 5px;
	}
	.pag-next{
		text-align: right;
	}
	.pag .pag__item{
		padding: 0px 8px;
	}
	.news .pag{
		justify-content: center;
		display: flex;
		flex-wrap: wrap;
	}
	.news__item{
		width: calc(100% - 30px);
	}
	.news .pag{
		margin-bottom: 30px;
	}
	.news__container{
		overflow-x: hidden;
	}
	.bread{
		margin-top: 15px;
	}
	.news__sidebar{
		margin-top: 10px;
		margin-left: 0;
	}
	.best__sidebar-container, .news__sidebar{
		width: 100%;
	}
	.news__sidebar-title{
		margin-bottom: 10px;
	}
	.main-title {
		font-size: 30px;
	}
	.html h2 {
		font-size: 21px;
	}
	.concurs__list li {
		margin-bottom: 15px;
	}
	.concurs__bottom{
		flex-direction: column;
	}
	.concurs__text{
		margin-bottom: 15px;
	}
	.concurs {
	    padding: 25px 50px;
	}
	.news__sidebar-new{
		width: 100%;
	}
	.news__new{
		margin-top: 0;
	}
	.html h1 {
		font-size: 32px;
	}
	.news__new .news__sidebar{
		margin-top: 15px;
	}
	.news__sidebar-news, .news__container, .target__container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.best__top {
		margin-bottom: 20px;
	}
	.html h2 {
		font-size: 26px;
		margin-bottom: 30px;
	}
	.best__container{
		flex-direction: column;
	}
	.merror__right{
		width: 100%;
	}
	.merror__404 {
		font-size: 120px;
	}
	.merror .wrapper{
		padding: 100px 15px 100px 15px;
	}
	.merror__left{
		display: none;
	}
	.cookie-block .wrapper{
		flex-direction: column;
	}
	.cookie-btn{
		margin-left: 0;
		margin-top: 20px;
	}
	header .search{
		display: none;
	}
	.regvip__button{
		max-width: 404px;
		width: calc(100% - 15px);
	}
	.regvip__title{
		font-size: 30px;
	}
	.regvip{
		width: 100%;
	}
	.d-rdy .wrapper{
		display: flex;
		flex-direction: column;
	}
	.d-rdy-img{
		margin-left: 0;
		margin-bottom: 20px;
	}
	.d-rdy__content{
		padding: 40px 10px;
	}
	.lastevent .wrapper{
		overflow-x: hidden;
	}
	.addrole__time{
		order: -1;
	}
	.addrole__container{
		flex-direction: column;
	}
	.addrole .half{
		width: calc(100%);
	}
	.addrole__inputs{
		width: 100%;
		margin-right: 0;
	}
	.addrole{
		width: 100%;
	}
	.infoproject__inputs > div{
		width: 100%;
	}
	.infoproject__inputs{
		flex-direction: column;
	}
	.lk__tabs-container .d-item-c p{
		order: -1;
		width: 100%;
	}
	.infoproject{
		width: 100%;
	}
	.lk__tabs-container .d-item-c{
		flex-direction: column;
	}
	.lk__tabs-container .d-item-c a{
		width: 100%;
		max-width: 100%;
	}
	.lk-proj{
		width: 100%;
	}
	.lk-tabs{
		overflow-x: auto;
	}
	.lk-tab {
		flex-shrink: 0;
	}
	.lk__container{
		overflow-x: hidden;
	}
	.thanksfiles{
		width: 100%;
	}
	body .lk-b-link{
		padding-top: 40px;
	}
	body .personal{
		width: 100%;
	}
	body .personal__elem{
		flex-direction: column;
	}
	.d-textarea{
		width: 100%;
	}
	body .lk__aside {
		margin-right: 30px;
	}
	body .infoorg{
		width: calc(100% - 380px);
	}
	body .lk .wrapper{
		flex-direction: column;
	}
	body .lk__aside{
		margin-right: 0;
		width: 100%;
	}
	body .infoorg{
		width: 100%;
	}
	.lk__bar{
		width: 100%;
	}
	body .lk__container .d-inputs .reg__input{
		width: calc(100% - 32px);
	}
	.d-rdy .wrapper{
		padding-left: 0;
	}
	.d-report .d-title{
		flex-wrap: wrap;
		span{
			margin-top: 7px;
			margin-bottom: 7px;
		}
	}

	body .d-report__container{
		flex-direction: row;
		height: auto;
	}
	body .d-report__item:first-child{
		margin-right: 0;
		margin-bottom: 32px;
		width: 100%;
		height: 415px;
	}
	body .d-report__item{
		margin-right: 0px;
		margin-bottom: 32px;
		width: calc(50% - 16px);
		height: 195px;
	}
	body .d-report__title {
    	font-size: 15px;
    	line-height: 20px;
	}
	body .d-system__container{
		flex-direction: column;
		align-items: center;
	}
	body .d-system__item{
		margin-right: 0;
		p{
			text-align: center;
		}
	}
	.d-target .d-title{
		flex-wrap: wrap;
	}
	.d-target .swiper-slide{
		display: flex;
		justify-content: center;
		align-items: center;	
	}
	.lastevent .wrapper{
		flex-wrap: wrap;
	}
	body .lastevent__head{
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;
		padding-right: 0px;
		align-items: center;
	}
	body .lastevent__head .d-title{
		margin-bottom: 10px;
		margin-top: 10px;
	}
	body .lastevent__container{
		flex-wrap: wrap;
		padding-top: 20px;
	}
	body .lastevent__item{
		width: calc(100% - 40px);
		margin-left: 20px;
		margin-right: 20px;
	}
	body .lastevent__icon{
		top: -24px;
		left: 32px;
	}
	body .lastevent__container{
		margin-left: -20px;
		margin-right: -20px;
		justify-content: center;
	}
	body .d-lastnews__item{
		width: calc(50% - 32px);		
	}
	body .d-best__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(50% - 20px);
	}
	body .d-best .d-title{
		flex-wrap: wrap;
	}
	body .d-lastnews__item{
		width: calc(100% - 32px);		
	}
	body .choise__container{
		flex-wrap: wrap;
	}
	body .choise__title{
		margin-bottom: 15px;
	}
	body .choise__container {
		padding-bottom: 25px;
	}
	body .choise .wrapper{
		flex-direction: column;
	}
	body .choise__container{
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: row;
		max-width: 100%;
		justify-content: space-between;
		padding-bottom: 40px;
		padding-right: 0;
	}
	body .choise__img {
		margin-bottom: 20px;
	}
	body .d-volon__item{
		width: calc(100% - 32px);
		margin-bottom: 20px;
	}
	body .choise__img{
		width: 100%;
		position: relative;
		padding-bottom: 114.28%;
		height: 0;
		.set-bg-img{
			position: absolute;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
		}
	}
	body .choise__item{
		width: 100%;
		position: relative;
	}
	body .choise__slider{
		width: 100%;
	}
	body .choise__title{
		padding-top: 0;
	}
	body .choise__paggination{
		margin-bottom: 0;
		margin-top: 0;
	}
	body .newssmall__item{
		width: calc(100% - 32px);
	}
	body .d-slider img{
		display: block;
		width: auto;
		height: auto;
		max-width: none;
		max-height: 100%;
		margin-left: 50px;
		max-height: 261px;
	}
	body .d-slider .swiper-slide{
		background-color: #F5F5F7;
	}
	body .d-slider__content{
		position: static;
	}
	body .d-slider{
		height: auto;
	}
	body .d-slider-pagination{
		left: auto;
		right: 15px;
		top: 15px;
		bottom: auto;
	}
	.newssmall__links a span{
		width: calc(100% - 120px);
	}
	body .d-slider__content{
		padding: 30px 50px 30px 60px;
	}
	body .newssmall__title {
		flex-wrap: wrap;
		span{
			display: inline-block;
			margin-bottom: 5px;
		}
	}
	body .newssmall__links a{
		margin-bottom: 10px;
		display: flex;
		flex-wrap: wrap;
		span{
			width: 100%;
			max-width: 100%;
		}
	}
	body .newssmall__links a p {
		font-size: 12px;
	}
	.d-slider .wrapper{
		position: relative;
		&::before{
			position: absolute;
			z-index: 20;
			left: 15px;
			top: 0px;
			height: 100%;
			width: 50px;
			content: '';
			background-position: left center; 
			background-color: #00AFCA;
			background-image: url('../img/content/slider-img1.png');
			background-size: contain;
			background-repeat: repeat-y;
		}
	}
	body .d-slider__title{
		font-size: 25px;
	}
	body .d-slider__title{
		margin-bottom: 20px;
	}
	body .d-slider__text{
		margin-bottom: 20px;
	}
	body .d-volon{
		margin-bottom: 40px;
	}
	body .d-volon__text{
		margin-bottom: 25px;
	}
	.d-slider__text{
		padding-left: 0;
	}
	.d-slider .trs-button {
		margin-left: 0;
	}
	body .d-slider__title{
		max-width: 100%;
	}
	.reg__head{
		font-size: 28px;
	}
	.s-public .wrapper {
		flex-direction: column;
	}
	.s-public-about {
		margin-left: 0;
	}
	.s-public-profile {
		max-width: 100%;
	}
	.s-public-about-tabs .s-about__tabs {
		overflow: hidden;
		overflow-x: scroll;
	}
	.s-public-about-tabs .s-about__tabs li {
		margin-right: 15px;
		font-size: 14px;
		display: flex;
		span {
			margin-left: 3px;
		}
		&.active {
			font-size: 14px;
		}
	}
	.s-public-about-tabs .s-about__content-item .s-content-item-title {
		flex-direction: column;
		align-items: flex-start;
		p {
			font-weight: 500;
		}
	}
	.s-public-profile-img {
		padding: 20px 20px 18px 20px;
	}
	.s-public-profile-content {
		padding: 0 20px 20px 20px;
	}
	.s-public-about-main .public-about-main-item {
		margin: 0 5px 20px 5px;
		width: 100%;
	}
	.l-about__content-wrapper {
		max-width: 100%;
	}
	.l-about__content {
		flex-direction: column;
	}
	.l-about__name h4 {
		font-size: 22px;
		margin: 20px 0 0 0;
	}
	.l-about__name .danger {
		padding: 20px 15px;
	}
	.l-about__name .danger svg {
		top: -5px;
		left: 5px;
	}
	.l-about__content-news {
		max-width: 100%;
		margin-top: 20px;
	}
	.l-about__content-news .l-last__news-item {
		padding: 15px 15px 0 15px;
	}
	.l-about__content-news form button {
		width: 140px;
	}
	.l-about__content-news form input {
		padding-left: 10px;
		padding-right: 150px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.l-action-main {
		max-width: 100%;
		flex-direction: column;
	}
	.l-action-main-info {
		margin-left: 0;
		margin-top: 20px;
	}
	.l-action-main-profile {
		max-width: 100%;
		text-align: center;
	}
	.l-action-main-info .action-title br {
		display: none;
	}
	.l-action-main-info .action__item svg {
		flex-shrink: 0;
	}
	.l-action-role .l-role__items {
		flex-direction: column;
	}
	.l-action-role .l-role__item {
		max-width: 100%;
	}
	.l-action-role .l-role__item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.l-action-role .l-role__item h4 {
		max-width: 80%;
	}
	.l-action-volont-photos img {
		margin: 10px;
	}
	.l-action-reviews-wrap form.visible-form input {
		overflow: hidden;
		text-overflow: ellipsis;
		height: 60px;
	}
	.l-action-reviews-wrap .l-review-head {
		padding: 15px 0;
	}
	.l-action-similar__item .l-similar__item-flex {
		flex-wrap: wrap;
	}
	.l-action-similar__item .l-similar__item-content .action-date {
		margin-top: 5px;
	}
	.l-action-similar__item .l-similar__item-flex .tag {
		margin-bottom: 15px;
	}
	.l-action-similar {
		padding: 30px 0;
	}
	.l-action {
		margin-top: 0;
	}
	.l-table {
		overflow: hidden;
		overflow-x: scroll;
	}
	.l-table form {
		width: max-content;
	}
	.form-success {
		padding: 15px;
		font-size: 11px;
	}
	.l-thanks .volont-mail .l-radios {
		flex-wrap: wrap;
	}
	.l-thanks .volont-mail .l-radios-inp {
		margin-bottom: 10px;
	}
	.l-thanks .volont-mail .l-radios label::before {
		flex-shrink: 0;
	}
	.l-thanks .volont-mail .l-blocks {
		flex-direction: column;
		margin-top: 20px;
	}
	.l-thanks .volont-mail .l-blocks-item {
		max-width: 100%;
		margin-bottom: 20px;
	}
	.l-thanks .volont-mail .l-blocks-item span {
		max-width: 90%;
	}
	.l-thanks .volont-mail .l-blocks-item .l-together {
		flex-direction: column;
		align-items: flex-start;
	}
	.l-thanks .volont-mail .l-blocks-item .l-together-item {
		width: 90%;
		font-size: 12px;
	}
	.l-thanks .volont-mail .l-blocks-item textarea {
		width: 90%;
	}
	.l-thanks .volont-mail .l-blocks-item .l-together a {
		margin-left: auto;
		margin-right: 15px;
		margin-top: 10px;
	}

	.l-thanks form button {
		margin-top: 15px;
	}
	.l-mail {
		height: auto;
	}
	.l-mail-msg {
		max-width: 95%;
		margin: 19px auto 0 auto;
	}
	.l-mail-msg .become-volont {
		width: 100%;
		margin-left: 0;
		transform: translateY(0);
	}
	.l-mail-info {
		flex-direction: column;
		align-items: center;
	}
	.contacts__list li {
		font-size: 14px;
		margin-right: 10px;
		&.active {
			font-size: 14px;
		}
	}
	footer{
		.wrapper{
			flex-direction: column;
		}
		.footer__logo{
			margin-bottom: 10px;
		}
		.logo{
			margin-bottom: 5px;
		}
		.footer__links{
			margin-bottom: 20px;
		}
	}
	.contacts__list {
		margin: 0 0 20px 0;
	}
	.contacts__list .city-check {
		display: none;
	}
	.contacts__list .city-check.city-check-active {
		display: none;
	}
	.reg .wrapper{
		width: 100%;
	}
	.reg__container form {
		padding: 20px;
	}
	.reg__tabs {
		padding: 20px;
	}
	.reg__checkbox{
		display: flex;
	}
	.reg__options{
		flex-direction: column;
		align-items: flex-start;
	}
	.reg__checkbox{
		margin-bottom: 4px;
	}
	.login-social-title span{
		text-align: center;
	}
	.contacts__map {
		height: 500px;
	}
	.contacts__content {
		max-width: 99%;
		margin: 0 auto;
	}
	.contacts__city-text {
		flex-direction: column;
	}
	.contacts__city p {
		width: 100%;
		margin: 0;
	}
	.contacts__city a {
		width: 100%;
		margin: 0;
	}
	.more-city-btn svg {
		flex-shrink: 0;
	}
	.popup__profile {
		max-width: 90%;
		width: 100%;
		padding: 15px;
	}
	.popup__close-btn {
		padding: 15px;
	}
	.popup__text p {
		margin: 10px 0 0 0;
	}
	.popup__saved {
		max-width: 90%;
		width: 100%;
		padding: 15px;
	}
	.popup__published {
		max-width: 90%;
		width: 100%;
		padding: 15px;
	}
	.popup__deleted {
		max-width: 90%;
		width: 100%;
		padding: 15px;
	}
	.popup__alert {
		width: calc(100% + 30px);
		margin-left: -15px;
		padding: 12px 15px;
	}
	.popup__alert svg {
		flex-shrink: 0;
	}
	.popup__alert-info p {
		font-size: 13px;
		line-height: 120%;
	}
	.popup__confirm .form-btns button {
		padding: 15px;
	}
	.popup__assistant {
		max-width: 90%;
		max-height: 500px;
		overflow-y: scroll;
		width: 100%;
		padding: 15px;
	}
	.popup__request-alert {
		width: calc(100% + 30px);
		margin-left: -15px;
		padding: 10px 15px;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.popup__request-alert > div {
		max-width: 100%;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	.popup__close-circle {
		top: 5px;
		right: 5px;
		width: 22px;
		height: 22px;
		line-height: 22px;
	}
	.popup__coord {
		max-width: 90%;
		max-height: 500px;
		overflow-y: scroll;
		width: 100%;
		padding: 15px;
	}
	.popup__nonAuth {
		max-width: 90%;
		max-height: 500px;
		overflow-y: scroll;
		width: 100%;
		padding: 15px;
	}
	.popup__time {
		max-width: 90%;
		max-height: 500px;
		overflow-y: scroll;
		width: 100%;
		padding: 15px;
	}
	.popup__request-point input.l-time {
		width: 100%;
	}
	.l-about {
		padding-bottom: 50px;
	}
	.ambassador {
		padding: 0 0 50px 0;
	}
	.ambassador .t-wrapper {
		width: 100%;
		padding: 0 15px;
	}
	.ambassador .a-wrapper {
		width: 100%;
		padding: 0 15px;
	}
	.ambassador__vip {
		padding: 15px;
		margin-bottom: 30px;
	}
	.ambassador__item {
		padding: 15px;
		max-width: 100%;
		width: 100%;
		margin-bottom: 30px;
		text-align: center;
	}
	.popup__ambassador {
		max-width: 90%;
		max-height: 90%;
		width: 100%;
		height: 100%;
		padding: 15px 15px;
		overflow: hidden;
		overflow-y: scroll;
	}
	.popup__request-aim {
		max-width: 100% !important;
	}
	.popup__request-result {
		max-width: 100% !important;
	}
	.popup__request-place {
		padding: 20px 0;
	}
	.popup__request-author {
		padding-top: 20px;
	}
	.popup__request-author .author--info {
		flex-direction: column-reverse;
	}
	.popup__request-author img {
		margin-left: 0;
		margin-top: 20px;
	}

	.mobile-menu-btn {
		display: block;
		cursor: pointer;
	}
	body header .social-links,
	body header .lang,
	body header .red-button,
	body header .header__profile,
	{
		display: none;
	}

	.news__sidebar {
		width: 100%;
	}
	.news__sidebar-title {
		height: auto;
	}
	.news__sidebar-field {
		width: 60%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding-right: 5px;
	}
	.news__sidebar-button {
		padding: 5px;
		width: 40%;
	}
	.popup__history {
		max-width: 90%;
		padding: 15px;
		.select2-container {
			width: 100% !important;
		}
		.select2-selection {
			width: 100%;
		}
		.popup__title h3 {
			font-size: 18px;
		}
	}
	.popup .history-popup-item {
		margin-top: 15px;
	}
	.popup .history-popup-item label {
		font-size: 16px;
	}
	.popup .history-popup-item textarea {
		overflow: hidden;
		padding: 5px;
		min-height: 150px;
	}
	.popup .history-popup-files {
		flex-wrap: wrap;
	}
	.popup .history-popup .add-history {
		margin-top: 15px;
	}
	.img-input {
		flex-wrap: wrap;
	}
	.img-input__img {
		width: 52px;
		margin-right: 5px;
	}
	.img-input__filename {
		width: auto;
		margin-right: 5px;
	}
	.img-input__reelect {
		margin-right: 6px;
	}
	.s-faq-content {
		flex-wrap: wrap;
	}
	.l-partners__content {
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.l-partners-item {
		margin: 0 0 15px 0;
	}
	.l-partners-item:not(:nth-child(5n)) {
		margin-right: 0;
	}
	.l-team__item:not(:nth-child(4n)) {
		margin-right: 0;
	}
	.l-team__content {
		justify-content: center;
	}
	.l-who__content {
		flex-wrap: wrap;
	}
	.l-who__info-alert {
		padding: 15px;
	}
	.l-who__info-alert .l-who__item .who__text {
		margin-left: 15px;
	}
	.l-who__info-alert .l-who__item h5 {
		font-size: 15px;
	}
	.l-who__info-alert .l-who__item span {
		font-size: 14px;
	}
	.l-zarubezh__title h3 {
		font-size: 36px;
	}
	.l-zarubezh__items {
		justify-content: center;
	}
	.l-zarubezh__item:not(:nth-child(4n)) {
		margin-right: 0;
	}
	.l-zarubezh__item-info {
		padding: 15px;
	}
	.l-zarubezh {
		padding-bottom: 50px;
	}
	.history__content {
		flex-direction: column;
	}
	.history__item {
		flex-direction: column;
	}
	.history__item-info {
		margin-left: 0;
		margin-top: 15px;
	}
	.big-banner-button {
		width: 100%;
		margin-left: 0;
		a {
			width: 100%;
		}
	}

	.news__content {
		max-width: 100%;
	}
	.bread .wrapper {
		flex-wrap: wrap;
	}
}
@media only screen and (max-width: 550px){
	.info-user-head{
		.us-title{
			width: 85%;
			order: 1;
			margin-bottom: 20px;
		}
		.us-info{
			width: 100%;
			order: 3;
			margin-bottom: 20px;
		}
		.us-button{
			margin-bottom: 20px;
			width: 15%;
			order: 2;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	.d-paggination{
		flex-wrap: wrap;
	}
	.d-paggination a{
		margin-bottom: 10px;
	}
	.d-block__aside, .d-block__aside-2{
		margin-right: 0;
	}
	.result-search-item.type3{
		flex-direction: column;
	}
	.result-search-item.type3{
		margin-bottom: 20px;
	}
	body .result-search-item.type3 .type3-link{
		margin-left: 0;
		margin-top: 20px;
	}
	.result-search-item.type3{
		align-items: flex-start;
	}
	.result-search-item.type1{
		flex-direction: column;
	}
	.l-wrapper .d-block__aside .f-select, .l-wrapper .d-block__aside .f-checkboxs, .l-wrapper .d-block__aside .f-range, .l-wrapper .d-block__aside .f-input{
		width: 100%;
	}
	.result-search-item.type1 .photo-img, .result-search-item.type2 .photo-img{
		margin-bottom: 25px;
	}
	.info-block{
		flex-direction: column;
	}
	.data-status-block{
		align-items: center;
		flex-direction: row;
		padding-top: 20px;
	}
	.result-search-item.type2{
		flex-direction: column;
	}
	body .d-slider img{
		display: none;
	}
	.big-banner-content{
		background-image: none !important;
		background-color: #F5F5F7;
		padding: 0px;
	}
	.big-banner-container{
		width: 80%;
	}
}
@media only screen and (max-width: 500px){
	.header-block{
		display: none;
	}
	body .target__item{
		width: calc(50% - 20px);
		img{
			width: 100%;
		}
		&:nth-child(2n){
			margin-right: 0px;
		}
		&:nth-child(3n){
			margin-right: 0px;
		}
		&:nth-child(odd){
			margin-right: 40px;
		}
	}
	.cite svg{
		left: 15px;
		top: 15px;
	}
	.cite {
    	padding: 38px 20px 20px 20px;
	}
	.cite p {
		font-size: 16px;
	}
	.thanksfiles__container{
		justify-content: center;
	}
	body .repass{
		width: 100%;
	}
	body .selects__date{
		flex-direction: column;
	}
	body .selects__date .nice-select{
		margin-bottom: 15px;
		width: 100%;
	}
	.with-buttons > input{
		padding-right: 20px;
		order: 3;
	}
	body .with-buttons{
		width: 100%;
	}
	.personal-radios{
		position: static;
		order: 1;
	}
	.personal__inputs input{
		width: calc(100% - 8px);
	}
	.d-report__item:first-child {
		padding: 20px;
		height: 375px;
	}
	body .d-volon__item {
		padding: 25px;
		flex-wrap: wrap;
	}
	body .d-volon__icon{
		order: -1;
		margin-bottom: 20px;
	}
	body .d-best__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: calc(100% - 20px);
	}
	body .d-report__item{
		width: calc(100%);
		height: 375px;
	}
	.d-report__item:first-child .d-report__title{
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 12px;
	}
	.d-report__item:first-child .d-report__date{
		font-size: 15px;
	}
}
@media only screen and (max-width: 430px){
	.f-buttons .reset{
		width: 100%;
		margin-bottom: 20px;
	}
	.f-buttons button{
		width: 100%;
		margin-bottom: 20px;
	}
	.l-wrapper .d-block__aside .f-buttons{
		flex-wrap: wrap;
	}
	html body .d-report__item,
	html body .d-report__item:first-child {
		height: 317px;
	}
}
@media only screen and (max-width: 360px){
	html body .d-report__item,
	html body .d-report__item:first-child {
		height: 240px;
	}
}

@media only screen and (max-width: 550px) {
	.big-banner-content::before {
		display: none;
		
	}
}