.new-banner-container {
	width: 50%;
}

.s-public {
	padding: 25px 0 50px 0;
	.wrapper {
		display: flex;
		align-items: flex-start;
	}
	&-profile {
		border: 1px solid #D9D9DE;
		border-radius: 2px;
		max-width: 350px;
		width: 100%;
		flex-shrink: 0;
		&-img {
			padding: 33px 33px 18px 33px;
			border-bottom: 1px solid #D9D9DE;
			img {
				width: 80px;
				height: 80px;
				object-fit: cover;
				flex-shrink: 0;
			}
		}
		&-name {
			display: flex;
			align-items: center;
			margin-top: 16px;
			h4 {
				font-weight: 600;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
				margin: 0;
			}
			& > div {
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #00AFCA;
				margin-left: 14px;
			}
			& > svg {
				margin-left: 3px;
				margin-top: -4px;
			}

		}
		&-id {

		}
		&-text {
			font-weight: normal;
			font-size: 15px;
			line-height: 150%;
			color: #999999;
			span {
				margin: 0;
			}
		}
		&-content {
			padding: 0 33px 33px 33px;
		}
		&-item {
			span {
				display: inline-block;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #999999;
				margin-top: 19px;
			}
			p {
				margin: 0;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #000000;
			}
			.contacts-link {
				display: block;
				margin: 0;
				font-weight: normal;
				font-size: 15px;
				line-height: 150%;
				color: #000000;
			}
		}
		&-tags {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			margin-top: 9px;
			& > div {
				background: #F5F5F5;
				border-radius: 4px;
				padding: 4px 8px;
				margin-right: 12px;
				margin-bottom: 12px;

				font-weight: normal;
				font-size: 13px;
				line-height: 146%;
				color: #000000;
			}
		}
		&-social {
			margin-top: 5px;
			a {
				display: inline-block;
				svg {
					fill: #D9D9DE;
				}
			}
		}
	}

	&-about {
		margin-left: 83px;
		margin-top: 20px;
		width: 100%;
		&-text {
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			p {
				margin-top: 29px;
				margin-bottom: 0;
				max-width: 730px;

				font-weight: normal;
				font-size: 16px;
				line-height: 130%;
				color: #333333;
			}
		}
		&-main {
			padding: 50px 0 36px 0;
			border-bottom: 1px solid #D9D9DE;
			display: flex;
			flex-wrap: wrap;
			.public-about-main-item {
				width: 45%;
				text-align: left;
				margin-bottom: 20px;
				h4 {
					margin: 0;
					font-weight: 500;
					font-size: 18px;
					line-height: 140%;
					color: #000000;
				}
				p {
					margin-bottom: 0;
					margin-top: 10px;
					font-weight: normal;
					font-size: 16px;
					line-height: 130%;
					color: #000000;
				}
			}
		}
		&-tabs {
			margin-top: 45px;
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			.s-about__tabs {
				display: flex;
				list-style: none;
				margin: 22px 0 0 0;
				padding: 0;
				border-bottom: 1px solid #D9D9DE;
				li {
					margin-right: 27px;
					padding: 8px 0;
					cursor: pointer;

					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: #000000;
					&.active {
						font-weight: 500;
						font-size: 16px;
						line-height: 120%;
						color: #00AFCA;
						position: relative;
						&::before {
							content: '';
							position: absolute;
							bottom: -1px;
							left: 0;
							width: 100%;
							height: 1px;
							background: #00AFCA;	
						}
					}
				}
			}
			.s-about__content {
				display: none;
				&.active {
					display: block;
				}
				&-item {
					padding: 33px 0;
					&:not(:last-child) {
						border-bottom: 1px solid #D9D9DE;
					}
					.s-content-item-title {
						display: flex;
						align-items: center;
						justify-content: space-between;
						.s-item-title {
							margin: 0;
							font-weight: normal;
							font-size: 15px;
							line-height: 150%;
							color: #000000;
							&:hover {
								color: #00AFCA;
							}
						}
						p {
							margin: 0;
							font-style: normal;
							font-weight: normal;
							font-size: 15px;
							line-height: 150%;
							color: #000000;
						}
					}
					.role {
						font-weight: normal;
						font-size: 15px;
						line-height: 150%;
						color: #999999;
						margin-top: 4px;
					}
				}
			}
		}
	}
}

.l-about {
	padding-bottom: 100px;
	&__content {
		display: flex;
		&-wrapper {
			max-width: 791px;
		}
		&-news {
			margin-left: auto;
			max-width: 430px;
			.news__sidebar {
				margin-top: 0;
				margin-left: 0;
			}
			h4 {
				font-weight: 500;
				font-size: 22px;
				line-height: 140%;
				color: #333333;
				margin: 0;
				&.mt {
					margin-top: 49px;
				}
			}
			form {
				margin-top: 19px;
				width: 100%;
				position: relative;
				input {
					height: 53px;
					padding-left: 21px;
					padding-right: 200px;
					width: 100%;
					border: 1px solid #D9D9DE;
					border-radius: 4px;

					font-weight: normal;
					font-size: 16px;
					line-height: 24px;
					color: #7C8793;
				}
				button {
					position: absolute;
					right: 0;
					top: 0;
					background: #00AFCA;
					border-radius: 4px;
					width: 164px;
					height: 53px;
					border: none;

					font-weight: 500;
					font-size: 13px;
					line-height: 100%;
					text-align: center;
					text-transform: uppercase;

					color: #FFFFFF;
				}
			}
			.l-last__news-item {
				border: 1px solid #D9D9DE;
				border-radius: 4px;
				padding: 21px 24px 0 24px;
				margin-top: 25px;
				p {
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 140%;
					color: #333333;
					margin: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					max-height: 230px;
					-webkit-box-orient: vertical;
				}
				.read-more {
					display: inline-block;
					opacity: 0;
					font-weight: 500;
					font-size: 13px;
					line-height: 100%;
					text-transform: uppercase;

					color: #00AFCA;
					transition: .5s;
					svg {
						margin-left: 5px;
					}
				}
				&:hover {
					padding: 21px 24px 18px 24px;
					transition: .5s;
				}
				&:hover .read-more {
					opacity: 1;
					margin-top: 10px;
					transition: .5s;
				}
			}
			.l-last__news-social {
				margin-top: 19px;
				a {
					display: inline-block;
					margin-right: 15px;
				}
				svg {
					fill: #00AFCA;
				}
			}
			.l-last__news-bar {
				display: flex;
				margin-bottom: 9px;
				.l-flex {
					display: flex;
					align-items: center;
					margin-right: 20px;

					font-weight: normal;
					font-size: 12px;
					line-height: 120%;
					color: #76767A;
					svg {
						fill: transparent;
						margin-right: 5px;
					}
				}
			}
		}
	}

	&__title {
		h3 {
			font-weight: 600;
			font-size: 40px;
			line-height: 120%;
			color: #333333;
			margin: 0;
		}
	}
	&__name {
		h4 {
			font-weight: 500;
			font-size: 30px;
			line-height: 140%;
			color: #333333;
			margin: 40px 0 0 0;
			max-width: 652px;
		}
		p {
			margin: 25px 0;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			color: #333333;
		}
		h5 {
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 140%;
			color: #333333;
			margin: 0;
			&.mw {
				max-width: 758px;
			}
		}
		img {
			max-width: 100%;
			object-fit: cover;
		}
		.become-volont {
			display: inline-block;
			margin-top: 23px;
			background: #ED2D23;
			border-radius: 2px;

			font-style: normal;
			font-weight: normal;
			font-size: 13px;
			line-height: 100%;
			text-align: center;
			text-transform: uppercase;

			color: #FFFFFF;
			padding: 16px 24px;
			border: none;
		}
		.danger {
			background: #F6F7F8;
			border-radius: 4px;
			position: relative;
			padding: 50px 72px;
			margin-top: 20px;
			svg {
				position: absolute;
				top: 55px;
				left: 16px;
			}
			p {
				margin: 0;
				margin-top: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #333333;
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}
	}
}


.l-mail {
	background: #F5F5F5;
	padding: 46px 0 34px 0;
	height: 100%;
	&-wrapper {
		max-width: 600px;
		margin: 0 auto;
	}
	&-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		p {
			font-weight: normal;
			font-size: 12px;
			line-height: 140%;
			color: #76767A;
			max-width: 119px;
			margin: 0;
			margin-left: 31px;
		}
	}
	&-msg {
		background: #FFFFFF;
		border-radius: 2px;
		padding: 44px 24px;
		margin-top: 19px;
		p {
			font-weight: normal;
			font-size: 15px;
			line-height: 150%;
			color: #333333;
			margin: 0;
			b {
				font-weight: 600;
			}
			&:nth-child(2) {
				margin-top: 25px;
			}
		}
		.become-volont {
			display: inline-block;
			margin-top: 28px;
			margin-left: 50%;
			transform: translateX(-50%);
			padding: 16px 34px;
			background: #EC324F;
			border-radius: 2px;

			font-weight: normal;
			font-size: 13px;
			line-height: 100%;
			text-align: center;
			text-transform: uppercase;

			color: #FFFFFF;
		}
	}
	&-social {
		text-align: center;
		margin-top: 28px;
		a {
			margin: 0 12px;
		}
		svg {
			fill: #00AFCA;
		}
	}
	&-info {
		display: flex;
		justify-content: space-between;
		margin-top: 47px;
		&-item {
			span {
				display: inline-block;
				font-weight: normal;
				font-size: 15px;
				line-height: 146%;
				color: #76767A;
			}
			a {
				display: inline-block;
				font-weight: normal;
				font-size: 15px;
				line-height: 146%;
				color: #76767A;
			}
		}
		.third-item {
			text-align: right;
			a {
				font-weight: 500;
				font-size: 16px;
				line-height: 120%;
				color: #000000;
			}
		}
	}
	&-reminder {
		margin-top: 60px;
		text-align: center;
		font-weight: normal;
		font-size: 13px;
		line-height: 146%;
		color: #999999;
	}
}

.l-action {
	margin-top: 60px;
	padding-bottom: 40px;
	&-main {
		max-width: 1204px;
		margin-left: auto;
		display: flex;
		align-items: flex-start;
		&-profile {
			max-width: 252px;
			width: 100%;
			flex-shrink: 0;
		}
		&-social {
			margin-top: 30px;
			a {
				display: inline-block;
				margin-right: 6px;
			}
			svg {
				fill: #D9D9DE;
			}
		}
		&-contacts {
			margin-top: 25px;
			h4 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
			}
			a {
				display: block;
				margin-top: 5px;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: #333333;
			}
		}
		&-quit {
			margin-top: 27px;
			.l-quit {
				display: inline-block;
				background: #00AFCA;
				border-radius: 2px;
				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				text-align: center;
				text-transform: uppercase;

				color: #FFFFFF;
				padding: 12px;
			}
		}

		&-info {
			margin-left: 63px;
			.action-title {
				margin: 0;
				font-weight: 500;
				font-size: 22px;
				line-height: 140%;
				color: #000000;
			}
			.action__items {
				margin-top: 33px;
			}
			.action__item {
				display: flex;
				align-items: center;
				&:not(:last-child) {
					margin-bottom: 16px;
				}
				svg {
					fill: transparent;
					margin-right: 7px;
				}
				p {
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: #76767A;
					margin: 0;
				}
			}
			.action-about {
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
				margin: 26px 0 0 0;
			}
			.action-contacts {
				margin: 26px 0 0 0;
				h4 {
					font-weight: 500;
					font-size: 18px;
					line-height: 140%;
					color: #000000;
					margin: 24px 0;
				}
				a {
					display: inline-block;
					margin-top: 5px;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 120%;
					color: #333333;
				}
			}
			p {
				font-weight: normal;
				font-size: 16px;
				line-height: 130%;
				color: #333333;
				max-width: 730px;
				margin: 20px 0 0 0;
			}
			.action-tell {
				display: inline-block;
				border: 1px solid #D9D9DE;
				border-radius: 2px;
				width: 220px;
				height: 46px;
				text-align: center;
				line-height: 46px;

				font-weight: normal;
				font-size: 13px;
				text-transform: uppercase;

				color: #333333;
				margin-top: 30px;
			}
			.action-share {
				display: inline-block;
				border: 1px solid #D9D9DE;
				border-radius: 2px;
				width: 153px;
				height: 46px;
				text-align: center;
				line-height: 46px;

				font-weight: normal;
				font-size: 13px;
				text-transform: uppercase;

				color: #333333;
				margin-top: 30px;
			}
		}
	}
}

.l-action-role {
	background: #F5F5F5;
	padding: 35px 0 40px 0;
	.l-role__title {
		max-width: 896px;
		margin-left: auto;
		h4 {
			font-weight: 500;
			font-size: 18px;
			line-height: 140%;
			color: #000000;
			margin: 0;
		}
	}
	.l-role__items {
		margin-top: 20px;
		max-width: 896px;
		margin-left: auto;
		display: flex;
	}
	.l-role__item {
		background: #FFFFFF;
		border: 1px solid #E5E5EB;
		border-radius: 2px;
		padding: 25px 26px;
		max-width: 200px;
		width: 100%;
		&:not(:last-child) {
			margin-right: 32px;
		}
		&-title {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			svg {
				fill: transparent;
				flex-shrink: 0;
				margin-top: 5px;
				cursor: pointer;
			}
		}
		h4 {
			margin: 0;
			font-weight: 600;
			font-size: 16px;
			line-height: 120%;
			color: #000000;
			max-width: 150px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		p {
			margin: 4px 0 0 0;
			font-weight: normal;
			font-size: 15px;
			line-height: 150%;
			color: #76767A;
		}
		&-closed {
			display: flex;
			align-items: center;
			margin-top: 10px;
			svg {
				fill: transparent;
				margin-right: 5px;
			}
		}
		&-buttons {
			margin-top: 8px;
			.send-app {
				display: inline-block;
				background: #00AFCA;
				border-radius: 2px;
				font-weight: normal;
				font-size: 13px;
				text-align: center;
				text-transform: uppercase;
				color: #FFFFFF;
				width: 100%;
				height: 36px;
				line-height: 36px;
			}
			.l-role-more {
				display: inline-block;
				margin-top: 6px;
				font-weight: normal;
				font-size: 13px;
				line-height: 146%;
				color: #76767A;
			}
		}
		&:hover {
			border: 1px solid #00AFCA;
		}
	}
}

.l-action-volont {
	padding: 40px 0;
	&-info {
		max-width: 896px;
		margin-left: auto;
	}
	h4 {
		margin: 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: #000000;
	}
	&-photos {
		margin-top: 17px;
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			object-fit: cover;
			margin-right: 20px;
		}
	}
}

.l-action-reviews {
	padding: 40px 0;
	background: #F5F5F5;
	&-wrap {
		max-width: 896px;
		margin-left: auto;
		h4 {
			margin: 0;
			font-weight: 600;
			font-size: 18px;
			line-height: 140%;
			color: #000000;
		}
		form.visible-form {
			margin-top: 18px;
			label {
				position: relative;
				svg {
					position: absolute;
					top: 50%;
					left: 17px;
					width: 40px;
					height: 40px;
					flex-shrink: 0;
					transform: translateY(-50%);
					max-height: none;
				}
			}
			input {
				width: 100%;
				height: 85px;
				padding-left: 70px;
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: #76767A;
				background: #FFFFFF;
				border: 1px solid #E5E5EB;
				border-radius: 2px;
			}
		}
		
		.l-review-block {
			padding: 0 17px;
			background: #FFFFFF;
			border: 1px solid #E5E5EB;
			border-radius: 2px;
			margin-top: 18px;
			display: none;
		}
		.l-review-after {
			padding: 0 17px;
			background: #FFFFFF;
			border: 1px solid #E5E5EB;
			border-radius: 2px;
			margin-top: 18px;
		} 
		.l-review-head {
			padding: 23px 0;
			display: flex;
			align-items: center;
			border-bottom: 1px solid #E5E5EB;
			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				object-fit: cover;
			}
			p {
				margin: 0 0 0 12px;
			}
		}
		.l-review-body {
			padding: 20px 0;
			form.l-hidden-form {
				textarea {
					width: 100%;
					min-height: 80px;
					border: none;
					resize: none;
					margin-bottom: 10px;
				}
				.l-rewiev-btn {
					width: 146px;
					height: 46px;
					border: 1px solid #76767A;
					border-radius: 2px;
					background: #fff;

					font-weight: 500;
					font-size: 13px;
					line-height: 100%;
					text-align: center;
					text-transform: uppercase;

					color: #333333;
				}
				a {
					display: inline-block;
					margin-left: 23px;
					font-weight: normal;
					font-size: 15px;
					line-height: 100%;
					color: #333333;
				}
			}
		}
		.l-review-comment {
			font-weight: normal;
			font-size: 15px;
			line-height: 150%;
			color: #333333;
			span {
				margin: 0;
				transition: all .5s;
				&.full {
					height: auto;
					transition: all .5s;
				}
			}
			.l-show-full {
				color: #00AFCA;
				margin-left: 5px;
			}
		}
	}
}

.l-action-gallery {
	max-width: 896px;
	margin-left: auto;
	padding: 0 0 56px 0;
	position: relative;
	h4 {
		margin: 0;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: #000000;
	}
	&-container {
		margin-top: 27px;
		position: relative;
		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				width: 260px;
				height: 260px;
				object-fit: cover;
			}
		}
	}
	&-next {
		position: absolute;
		top: 50%;
		right: -30px;
		transform: translateY(-50%);
		&::after {
			content: 'next';
			font-family: swiper-icons;
			font-size: var(--swiper-navigation-size);
			text-transform: none !important;
			letter-spacing: 0;
			text-transform: none;
			font-variant: initial;
			font-size: 16px;
			font-weight: 900;
			color: #999999;
			cursor: pointer;
		}
		&:hover {
			&::after {
				color: #00AFCA;
			}
		}
	}
	&-prev {
		position: absolute;
		top: 50%;
		left: -30px;
		transform: translateY(-50%);
		&::after {
			content: 'prev';
			font-family: swiper-icons;
			font-size: var(--swiper-navigation-size);
			text-transform: none !important;
			letter-spacing: 0;
			text-transform: none;
			font-variant: initial;
			font-size: 16px;
			font-weight: 900;
			color: #999999;
			cursor: pointer;
		}
		&:hover {
			&::after {
				color: #00AFCA;
			}
		}
	}
}

.l-action-similar {
	padding: 37px 0 127px 0;
	&-wrap {
		max-width: 896px;
		margin-left: auto;
		h4 {
			margin: 0;
			font-weight: 600;
			font-size: 18px;
			line-height: 140%;
			color: #000000;
		}
	}
	&__items {
		max-width: 896px;
		margin-left: auto;
	}
	&__item {
		display: flex;
		padding: 18px 0;
		width: 100%;
		&:not(:last-child) {
			border-bottom: 1px solid #E5E5EB;
		}
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			object-fit: cover;
		}
		.l-similar__item-flex {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			.tag {
				padding: 4px 8px;
				background: #F5F5F5;
				border-radius: 4px;
				font-weight: normal;
				font-size: 13px;
				color: #000000;
			}
			.need-volont {
				display: inline-flex;
				align-items: center;
				margin: 0;
				font-weight: normal;
				font-size: 14px;
				line-height: 120%;
				color: #00AFCA;
				svg {
					fill: transparent;
					margin-left: 5px;
				}
			}
		}
		.l-similar__item-tag {
			margin-top: 25px;
		}
		.l-similar__item-text {
			margin-top: 13px;
			span {
				display: block;
			}
		}
		.l-similar__item-content {
			margin-left: 20px;
			width: 100%;
			.action-fullpage {
				display: inline-block;
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 120%;
				color: #333333;
				max-width: 514px;
				&:hover {
					color: #00AFCA;
				}
			}
			.action-date {
				margin: 0;
				font-weight: normal;
				font-size: 13px;
				line-height: 140%;
				color: #76767A;
			}
		}
	}
	.l-download-img {
		p {
			margin: 16px 0 0 0;
			font-weight: normal;
			font-size: 15px;
			line-height: 150%;
			color: #000000;
		}
		span {
			display: inline-block;
			font-weight: normal;
			font-size: 15px;
			line-height: 150%;
			color: #999999;
		}
		label.l-download-file {
			display: block;
			margin-top: 18px;
			border: 1px solid #00AFCA;
			border-radius: 2px;
			width: 153px;
			height: 46px;
			text-align: center;
			line-height: 46px;
			font-weight: 500;
			font-size: 13px;
			text-align: center;
			text-transform: uppercase;
			color: #00AFCA;
			cursor: pointer;
		}
		input.l-file {
			display: none;
		}
		&__items {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			margin-top: 30px;
		}
		&__item {
			width: 260px;
			height: 260px;
			background: #F5F5F5;
			display: flex;
			align-items: center;
			justify-content: center;
			svg {
				fill: transparent;
			}
		}
	}
}

.s-faq {
	padding-bottom: 120px;
	&-content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&-items {
		h3 {
			font-weight: 600;
			font-size: 40px;
			line-height: 120%;
			color: #333333;
			margin: 0;
		}
	}

	&-item {
		margin-top: 45px;
		max-width: 685px;
		h4 {
			font-weight: 600;
			font-size: 22px;
			line-height: 140%;
			color: #333333;
			margin: 0 0 16px 0;
		}
		p {
			margin: 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 156%;
			color: #333333;
		}
	}


	.news__sidebar {
		margin-top: 0;
		margin-left: 0;
	}
}

.form-success {
	background: #29B58C;
	display: inline-block;
	border-radius: 2px;
	padding: 15px 80px;
	font-weight: 500;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	position: absolute;
	right: 0;
}

#calendar--input {
	width: 102px;
	height: 35px;
	margin: 10px;
}
.datepicker {
	width: 310px;
	box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
	border-radius: 2px;
}
.datepicker--day-name {
	font-weight: normal;
	font-size: 13px;
	line-height: 146%;
	align-items: center;

	color: #C4C4C4;
}
.datepicker--nav-title {
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	color: #333333;
}
.datepicker--nav-title i {
	font-weight: normal;
	font-size: 16px;
	line-height: 120%;
	color: #333333;
	margin-left: 10px;
}
.datepicker--cell {
	font-weight: normal;
	font-size: 13px;
	color: #333333;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	background: transparent;
	margin: 0 1.5px;
	&:hover {
		background: #E5E5EB;
	}
}
.-weekend- {
	color: #ED2D23;
}

.contacts__list {
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0 0 60px 0;
	padding: 0;
	.city-check {
		display: none;
		margin-left: auto;
		align-items: center;
		&.city-check-active {
			display: flex;
		}
		span {
			display: inline-block;
			font-weight: normal;
			font-size: 18px;
			line-height: 140%;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			margin: 0 10px;
			color: #333333;
			user-select: none;
		}
		label.contacts-label {
			position: relative;
			width: 59px;
			height: 32px;
			border: 1px solid #333333;
			border-radius: 99px;
			cursor: pointer;
			transition: .5s;
			&::before {
				content: '';
				display: inline-block;
				width: 28px;
				height: 28px;
				background: #008DA3;
				border-radius: 50%;
				position: absolute;
				right: 2px;
				top: 50%;
				transform: translateY(-50%);
				transition: right .5s;
			}
		}
		input.contacts-check {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			&:checked + .contacts-label::before {
				left: 2px;
				right: unset;
				transition: .5s;
			}
		}
	}
	li {
		margin-right: 27px;
		padding: 8px 0;
		cursor: pointer;

		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: #000000;
		user-select: none;
		&.active {
			font-weight: 500;
			font-size: 18px;
			line-height: 140%;
			color: #00AFCA;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				bottom: -1px;
				left: 0;
				width: 100%;
				height: 3px;
				background: #00AFCA;	
			}
		}
	}

}

.contacts__item {
	display: none;
	&.active {
		display: block;
	}
	.second-map {
	}
}
.hint-street {
	padding: 5px 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 120%;
	letter-spacing: 0.05em;
	color: #333333;
}
.smap {
	display: none;
	width: 100%;
	flex-shrink: 0;
	height: 1000px;
	position: relative;
}
.ymaps-2-1-75-balloon__content {
	& > ymaps {
		width: 450px !important;
		height: auto !important; 
	}
}
.balloon-city {
	background: #fff;
	h4 {
		font-weight: normal;
		font-size: 18px;
		line-height: 140%;
		color: #008DA3;
		margin: 0;
	}
	p {
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		margin: 0;
	}
	& > div {
		display: flex;
		align-items: center;
		& > div {
			display: inline-block;
			max-width: 175px;
		}
	}
	a {
		display: inline-block;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
		margin-right: 12px;
	}
}
.contacts__cities {
	padding-bottom: 50px;
}
.contacts__city {
	padding: 27px 0; 
	border-bottom: 1px solid #D9D9DE;
	&-text {
		display: flex;
		align-items: center;
	}
	h4 {
		margin: 0 0 7px 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: #008DA3;
	}
	p {
		margin: 0 55px 0 0;
		width: 450px;
		font-size: 16px;
		line-height: 24px;
		color: #333333;
		&.coord-name {
			margin: 0 auto 0 0;
		}	
	}
	a {
		display: inline-block;
		margin: 0 55px 0 0;
		font-weight: 500;
		font-size: 18px;
		line-height: 140%;
		color: #333333;
		width: 200px;
	}
}


.ambassador {
	padding: 0 0 90px 0;
	.a-wrapper {
		width: 1148px;
		margin: 0 auto;
	}
	.t-wrapper {
		width: 1235px;
		margin: 0 auto;
		font-weight: normal;
		font-size: 13px;
		line-height: 146%;
		text-align: center;
		color: #76767A;
	}
	&__items {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__vip {
		width: 100%;
		background: #FFFFFF;
		border: 0.5px solid rgba(209, 205, 199, 0.4);
		box-sizing: border-box;
		box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.15);
		border-radius: 2px;
		padding: 42px 48px;
		margin-bottom: 60px;
		transition: .5s;
		text-align: center;
		&:hover {
			box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
			transition: .5s;
		}
		.ambassador__desc {
			min-height: auto;
			max-height: auto;
		}
		.ambassador__img {
			width: 160px;
			height: 160px;
			border-radius: 50%;
			object-fit: cover;
		}
	}
	&__item {
		background: #FFFFFF;
		border: 0.5px solid rgba(209, 205, 199, 0.4);
		box-sizing: border-box;
		box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.15);
		border-radius: 2px;
		max-width: 542px;
		padding: 42px 48px;
		margin-bottom: 60px;
		transition: .5s;
		&:hover {
			box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
			transition: .5s;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 22px;
		line-height: 140%;
		color: #000000;
		margin: 0 0 12px 0;
	}
	&__img {
		width: 60px;
		height: 60px;
		border-radius: 50%;
		object-fit: cover;
	}
	&__name {
		font-weight: 500;
		font-size: 16px;
		line-height: 120%;
		color: #000000;
		margin: 12px 0;
	}
	&__desc {
		font-weight: normal;
		font-size: 13px;
		line-height: 146%;
		color: #000000;
		margin: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		min-height: 57px;
		max-height: 57px;
		-webkit-box-orient: vertical;
	}
	&__more {
		display: inline-block;
		margin-top: 15px;
		font-weight: normal;
		font-size: 13px;
		line-height: 146%;
		color: #008DA3;
	}
}


.more-city-btn {
	margin-top: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #333333;
	cursor: pointer;
	user-select: none;
	svg {
		fill: transparent;
		margin-left: 20px;
	}
}


.map {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


.l-partners {
	&__title {
		text-align: center;
		padding: 50px 0;
		h3 {
			font-weight: 600;
			font-size: 40px;
			line-height: 120%;
			color: #000000;
			margin: 0;
		}
	}
	&__content {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&-item {
		cursor: pointer;
		position: relative;
		margin-bottom: 50px;
		&:not(:nth-child(5n)) {
			margin-right: 100px;
		}
		img {
			flex-shrink: 0;
		}
		.l-tooltip {
			background: rgba(255, 255, 255, 0.9);
			box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
			border-radius: 2px;
			padding: 4px;
			max-width: 285px;
			opacity: 0;
			visibility: hidden;
			transition: .5s;
			position: absolute;
			top: 30px;
			left: -120px;
			h4 {
				margin: 0;
				font-weight: 600;
				font-size: 12px;
				line-height: 140%;
				color: #333333;
			}
			p {
				font-weight: normal;
				font-size: 12px;
				line-height: 140%;
				color: #333333;
				margin: 0;
			}
		}

		&:hover {
			.l-tooltip {
				opacity: 1;
				visibility: visible;
				transition: .5s;
			}
		}
	}
}

.l-team {
	&__title {
		text-align: center;
		padding: 50px 0;
		h3 {
			font-weight: 600;
			font-size: 40px;
			line-height: 120%;
			color: #000000;
			margin: 0;
		}
	}
	&__content {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		max-width: 1172px;
		margin: 0 auto;
	}
	&__item {
		width: 250px;
		text-align: center;
		margin-bottom: 90px;
		&:not(:nth-child(4n)) {
			margin-right: 52px;
		}
		&-image {
			img {
				width: 120px;
				height: 120px;
				border-radius: 50%;
				box-shadow: 6px 6px 16px rgba(209, 205, 199, 0.5);
			}
		}
		h4 {
			margin: 14px 0 8px 0;
			font-weight: 600;
			font-size: 18px;
			line-height: 140%;
			color: #000000;
		}
		p {
			margin: 0;
			font-weight: normal;
			font-size: 13px;
			line-height: 146%;
			color: #999999;
		}
	}
}

.l-who {
	padding-bottom: 100px;
	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.pro-links {
		margin-top: 70px;
	}
	.pro-link {
		max-width: 650px;
		margin-bottom: 17px;
		span {
			font-weight: 600;
			font-size: 22px;
			line-height: 140%;
			color: #000000;
		}
		a {
			display: inline-block;
			margin-left: 30px;
			font-weight: 600;
			font-size: 13px;
			line-height: 100%;
			text-transform: uppercase;
			color: #008DA3;
		}
	}
	.pro-content {
		max-width: 100%;
		width: 100%;
		&-alert {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			&-items {
				max-width: 590px;
			}
		}
	}
	.pro-typical {
		margin-left: 75px;
		max-width: 512px;
		p {
			margin: 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: #333333;
		}
		ol {
			margin: 35px 0 0 0;
			padding: 0;
			list-style-position: inside;
			li {
				font-weight: normal;
				font-size: 16px;
				line-height: 120%;
				color: #333333;
				margin-bottom: 20px;
			}
		}
	}
	&__info {
		max-width: 780px;
		width: 100%;
		&-title {
			font-weight: 600;
			font-size: 40px;
			line-height: 120%;
			color: #333333;
			margin: 0;
		}
		&-name {
			font-weight: 500;
			font-size: 30px;
			line-height: 140%;
			color: #333333;
			margin: 42px 0 0 0;
		}
		&-desc {
			margin: 35px 0 0 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: #333333;
		}

		&-alert {
			margin-top: 40px;
			padding: 70px 55px;
			background: #F6F7F8;
			border-radius: 4px;
			.pro-item {
				margin-left: 20px;
			}
			.l-who__item {
				display: flex;
				align-items: flex-start;
				&:not(:last-child) {
					margin-bottom: 30px;
				}
				.who__number {
					font-weight: 500;
					font-size: 40px;
					line-height: 120%;
					color: #C4C4C4;
				}
				svg {
					flex-shrink: 0;
				}
				.who__text {
					margin-left: 40px;
				}
				h5 {
					margin: 0;
					font-weight: 600;
					font-size: 18px;
					line-height: 140%;
					color: #333333;
				}
				span {
					display: inline-block;
					margin: 4px 0 0 0;
					font-weight: normal;
					font-size: 16px;
					line-height: 156%;
					color: #333333;
				}
			}
		}

	}
	.news__sidebar {
		margin-top: 0;
		margin-left: 0;
	}

	.pro-example {
		margin-top: 70px;
		max-width: 1000px;
		&-title {
			font-weight: 600;
			font-size: 30px;
			line-height: 140%;
			color: #333333;
			margin: 0;
		}
		&-desc {
			margin: 16px 0 0 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: #333333;
		}
		h5 {
			margin: 46px 0 0 0;
			font-weight: 600;
			font-size: 18px;
			line-height: 140%;
			color: #333333;
		}
		span {
			display: block;
			margin-top: 4px;
			font-weight: normal;
			font-size: 16px;
			line-height: 120%;
			color: #333333;
		}
	}
}


.l-zarubezh {
	padding-bottom: 100px;
	&__title {
		h3 {
			font-weight: 600;
			font-size: 40px;
			line-height: 120%;
			color: #000000;
			margin: 0;
		}
	}
	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__items {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 50px;
	}
	&__item {
		max-width: 316px;
		margin-bottom: 30px;
		&:not(:nth-child(4n)) {
			margin-right: 32px;
		}
		&-image {
			width: 100%;
			max-height: 149px;
		}
		&-info {
			border: 1px solid #D9D9DE;
			border-top: 0;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			padding: 24px;
			h5 {
				margin: 0;
				font-weight: 500;
				font-size: 18px;
				line-height: 140%;
				color: #333333;
			}
			.l-more {
				display: inline-block;
				margin-top: 40px;
				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				text-transform: uppercase;
				color: #009BB3;
				svg {
					fill: #EC324F;
					margin-left: 10px;
					transition: .3s;
				}
				&:hover svg {
					margin-left: 20px;
					transition: .3s;
				}
			}
		}
	}
	.news__sidebar {
		margin-top: 0;
		margin-left: 0;
	}
}

.history {
	&__content {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__slider {
		margin-top: 25px;
	}
	&__full {
		max-width: 810px;
		.vol-photo {
			margin: 0;
			font-weight: normal;
			font-size: 13px;
			line-height: 146%;
			color: #76767A;
		}
	}
	&__quest {
		margin-top: 24px;
		&-item {
			margin-bottom: 50px;
			h4 {
				font-weight: 600;
				font-size: 18px;
				line-height: 140%;
				color: #000000;
				margin: 0;
			}
			p {
				font-weight: normal;
				font-size: 16px;
				line-height: 130%;
				color: #333333;
				margin: 22px 0 0 0;
			}
		}
	}
	&__items {
		padding-bottom: 50px;
	}
	&__item {
		display: flex;
		align-items: center;
		max-width: 810px;
		padding-bottom: 40px;
		border-bottom: 1px solid #E5E5EB;
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		img {
			width: 200px;
			height: 200px;
			object-fit: cover;
		}
		&-info {
			margin-left: 32px;
		}
		&-date {
			font-weight: normal;
			font-size: 13px;
			line-height: 146%;
			color: #76767A;
		}
		&-name {
			font-weight: 600;
			font-size: 22px;
			line-height: 140%;
			color: #000000;
			margin: 0;
		}
		&-nap {
			font-weight: normal;
			font-size: 13px;
			line-height: 146%;
			color: #76767A;
			margin: 0;
		}
		&-desc {
			margin: 20px 0 0 0;
			font-weight: normal;
			font-size: 16px;
			line-height: 130%;
			color: #333333;
		}
	}
	.news__sidebar {
		margin-top: 0;
		margin-left: 0;
	}
}