<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>

<!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
<script src="https://api-maps.yandex.ru/2.1/?apikey=daf92b8c-a35e-4b9f-9b6b-7b571bee58e1&lang=ru_RU" type="text/javascript"></script>
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
<script src="navigation.js"></script>