<header>
	<div class="wrapper">
		<a href="/">
			<div class="logo">
				<div class="logo__icon">
					<img src="static/img/content/logo.svg" alt="">
				</div>
				<div class="logo__text">
					Единая платформа волонтёров
				</div>
			</div>
		</a>
		<div class="header-block">
			<img src="static/img/content/birgemiz.png" alt="">
			<span>Год волонтера 2020</span>
		</div>
		<!-- первая версия хедера -->
		<!-- <div class="social-links">
			<a href="" class="social-link">
				{{Icon iconName="news-fb"}}
			</a>
			<a href="" class="social-link">
				{{Icon iconName="news-vk"}}
			</a>
			<a href="" class="social-link">
				{{Icon iconName="news-inst"}}
			</a>
		</div>
		 <div class="lang">
			<div class="lang__current">
				QZ
			</div>
			<div class="lang__container">
				<a href="#">РУ</a>
				<a href="#">EN</a>
			</div>
		</div>
		<div class="red-button" data-popup-open="popup__time">
			Стать волонтером
		</div> -->
		<!-- первая версия хедера -->

		<!-- вторая версия хедера -->
		<div class="header__profile">
			<div class="social-links">
				<a href="" class="social-link">
					{{Icon iconName="news-fb"}}
				</a>
				<a href="" class="social-link">
					{{Icon iconName="news-vk"}}
				</a>
				<a href="" class="social-link">
					{{Icon iconName="news-inst"}}
				</a>
			</div>
			<div class="lang">
				<div class="lang__current">
					QZ
				</div>
				<div class="lang__container">
					<a href="#">РУ</a>
					<a href="#">EN</a>
				</div>
			</div>
			<div class="header__noutificate">
				<div class="header__noutificate-icon active">
					{{Icon iconName="bell"}}
					<div></div>
				</div>
				<div class="header__alert-container"> <!-- .not-item -->
					<div class="title">
						<span>Уведомление</span>
						<p>12</p>
					</div>
					<div class="a-container">
						<div class="not-alert">
							<div class="not-alert-img">
								<svg width="96" height="96" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M54.9191 84C54.2159 85.2123 53.2065 86.2186 51.992 86.9181C50.7775 87.6176 49.4006 87.9858 47.9991 87.9858C46.5976 87.9858 45.2207 87.6176 44.0062 86.9181C42.7917 86.2186 41.7823 85.2123 41.0791 84" stroke="#DEE4EB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M74.5203 52C72.7409 45.4856 71.8924 38.7522 72.0003 32" stroke="#DEE4EB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M25.04 25.04C24.3451 27.2945 23.9944 29.6409 24 32C24 60 12 68 12 68H68" stroke="#DEE4EB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M71.9997 32.0005C72.0061 27.6527 70.8314 23.3849 68.601 19.6528C66.3706 15.9208 63.1683 12.8647 59.3362 10.811C55.504 8.75735 51.186 7.78323 46.8433 7.99273C42.5006 8.20222 38.2964 9.58745 34.6797 12.0005" stroke="#DEE4EB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M4 4L92 92" stroke="#DEE4EB" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
								</svg>
							</div>
							<div class="not-alert-text">
								Нет новых уведомлений
							</div>
						</div>
						<div class="a-item">
							<div class="a-img set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="a-text">
								<div class="a-name">
									<span>Дмитрий Дантевский</span>
									<p>вчера</p>
								</div>
								<div class="a-info">
									Прислал запрос на рекомендацию
								</div>
								<div class="a-buttons">
									<a href="" class="blue">Добавить</a>
									<a href="" class="red open-accept-block">Отклонить</a>
									<a href="" class="gray">Скрыть</a>
								</div>
							</div>
							<form action="" class="accept-block">
								<input type="hidden">
								<span>Отклонить заявку?</span>
								<button class="accept-block-button">OK</button>
							</form>
							<div class="d-overlay"></div>
						</div>
						<div class="a-item aborted">
							<div class="a-img set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="a-text">
								<div class="a-name">
									<span>Дмитрий Дантевский</span>
									<p>вчера</p>
								</div>
								<div class="a-info">
									Прислал запрос на рекомендацию
								</div>
								<div class="a-buttons">
									<a href="" class="blue">Добавить</a>
									<a href="" class="red open-accept-block">Отклонить</a>
									<a href="" class="gray">Скрыть</a>
								</div>
							</div>
							<form action="" class="accept-block">
								<input type="hidden">
								<span>Отклонить заявку?</span>
								<button class="accept-block-button">OK</button>
							</form>
							<div class="d-overlay"></div>
						</div>
						<div class="a-item accepted">
							<div class="a-img set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="a-text">
								<div class="a-name">
									<span>Дмитрий Дантевский</span>
									<p>вчера</p>
								</div>
								<div class="a-info">
									Прислал запрос на рекомендацию
								</div>
								<div class="a-buttons">
									<a href="" class="blue">Добавить</a>
									<a href="" class="red open-accept-block">Отклонить</a>
									<a href="" class="gray">Скрыть</a>
								</div>
							</div>
							<form action="" class="accept-block">
								<input type="hidden">
								<span>Отклонить заявку?</span>
								<button class="accept-block-button">OK</button>
							</form>
							<div class="d-overlay"></div>
						</div>
						<div class="a-item">
							<div class="a-img set-bg-img">
								<img src="static/img/content/photo.jpg" class="get-bg-img" alt="">
							</div>
							<div class="a-text">
								<div class="a-name">
									<span>Дмитрий Дантевский</span>
									<p>вчера</p>
								</div>
								<div class="a-info">
									Прислал запрос на рекомендацию
								</div>
							</div>
							<form action="" class="accept-block">
								<input type="hidden">
								<span>Отклонить заявку?</span>
								<button class="accept-block-button">OK</button>
							</form>
							<div class="d-overlay"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="header__profile-container">
				<div class="profile-img-photo set-bg-img">
					<img src="static/img/content/photo.jpg" alt="" class="get-bg-img">
				</div>
				<div class="profile-text">
					<p>ОФ Новый дом</p>
					<span>ID Организации: 177</span>
				</div>
			</div>
		</div>
		<!-- вторая версия хедера -->
		<div class="mobile-menu-btn">
			{{Icon iconName="menu"}}
		</div>
	</div>
</header>
<nav>
	<div class="wrapper">
		<div class="block-link-nav">
			<div class="nav__link">
				<a href="">
					<span>Волонтеры</span>
					{{Icon iconName="arrow-down"}}
				</a>
				<div class="nav__container">
					<a href="#">Волонтеры</a>
					<a href="#">Амбассадоры</a>
					<a href="#">Волонтерство за рубежом</a>
					<a href="#">Лучший волонтер 2020</a>
				</div>
			</div>
			<div class="nav__link">
				<a href="">
					<span>Новости</span>
					{{Icon iconName="arrow-down"}}
				</a>
				<div class="nav__container">
					<a href="#">Новости Казахстана</a>
					<a href="#">Новости за рубежом</a>
				</div>
			</div>
			<div class="nav__link">
				<a href="">
					<span>Организации</span>
				</a>
			</div>
			<div class="nav__link">
				<a href="">
					<span>Проекты</span>
				</a>
				<div class="nav__container">
					<a href="#">Реализуемые</a>
					<a href="#">Планируемые</a>
					<a href="#">Завершенные</a>
				</div>	
			</div>
			<div class="nav__link">
				<a href="">
					<span>Отчеты</span>
				</a>
			</div>
			<div class="nav__link">
				<a href="">
					<span>О нас</span>
				</a>
				<div class="nav__container">
					<a href="#">Кто мы</a>
					<a href="#">Партнеры</a>
					<a href="#">Про волонтерство</a>
					<a href="#">Команда в лицах</a>
					<a href="#">Вопросы и ответы</a>
				</div>	
			</div>
			<div class="nav__link">
				<a href="">
					<span>Контакты</span>
				</a>
			</div>
		</div>
		<form class="search">
			<input type="text" placeholder="Поиск">
			<button>
				{{Icon iconName="search"}}
			</button>
		</form>
		<div class="nav__link nav__link-last">
			<a href="">
				{{Icon iconName="link"}}
				<span>Войти</span>
			</a>
		</div>
	</div>
</nav>


<progress value="0">
	<div class="progress-container">
		<span class="progress-bar"></span>
	</div>
</progress>