.bread {
    margin-bottom: 35px;
    .wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    a{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        color: #999999;
    }
    span {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        color: #999999;
    }
    svg {
        margin: 0 15px;
    }
}
.main-title {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 120%;
    display: flex;
    align-items: flex-end;
    color: #333333;
    font-weight: 500;
}
.news {
    font-family: Gotham Pro;
    &__top {
        margin-bottom: 52px;
    }
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 100px;
    }
    &__content {
        flex-grow: 1;
    }
    &__items {
        display: flex;
        margin-right: -30px;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    &__item {
        width: calc(33.333% - 30px);
        margin-right: 30px;
        border: 1px solid #D9D9DE;
        box-sizing: border-box;
        border-radius: 4px;
        margin-bottom: 30px;
        a {
            display: block;
            height: 100%;
        }
        &-img {
            height: 150px;
            width: 100%;
        }
        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            color: #333333;
            margin-top: 8px;
            margin-bottom: 15px;
            font-weight: 500;
        }
        &-source {
            font-weight: normal;
            font-size: 13px;
            line-height: 146%;
            color: #76767A;
            margin: 8px 0 0 0;
        }
        &-content {
            padding: 15px 25px;
        }
        &-top {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 140%;
            color: #76767A;
            display: flex;
            align-items: center;
            span {
                margin-right: 20px;
                display: flex;
                align-items: center;
                margin-bottom: 8px;
                svg {
                    margin-right: 6px;
                }
            }
        }
        &-link {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 100%;
            display: flex;
            align-items: flex-end;
            text-transform: uppercase;
            color: #00AFCA;
            font-weight: 500;
            svg {
                margin-left: 10px;
                transition: 0.3s;
            }
            &:hover {
                svg {
                    transform: translateX(5px);
                }
            }
        }

    }
    &__sidebar {
        width: 430px;
        margin-top: -50px;
        margin-left: 30px;
        &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 140%;
            display: flex;
            font-weight: 500;
            align-items: flex-start;
            color: #333333;
            height: 50px;
        }
        &-news {
            width: 100%;
        }
        &-new {
            width: 100%;
            padding: 20px 24px;
            border: 1px solid #D9D9DE;
            box-sizing: border-box;
            border-radius: 4px;
            margin-bottom: 30px;
            &-title {
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 140%;
                color: #333333;
            }
            &:hover {
                a {
                    height: 25px !important;
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
        .news__item-link {
            height: 25px;
            display: flex;
            align-items: flex-end;
            height: 0;
            transition: 0.2s;
            opacity: 0;
            visibility: hidden;
            @media screen and (max-width: 1099px) {
                opacity: 1;
                visibility: visible;
                height: 25px !important;
            }
        }
    }
    &__sidebar {
        &-social {
            margin-top: 5px;
            display: flex;
            margin-bottom: 50px;
            a {
                margin-right: 12px;
                display: flex;
            }
        }
        &-subscribe {
            input{
                margin-right: -5px;
            }
        }
        &-field {

        }
    }
    &__sidebar-subscribe {
        display: flex;
        align-items: center;
    }
    &__new {
        margin-top: 30px;
        .news__sidebar {
            margin-top: 0;
        }
    }
}
.pag {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 10px;
    .wrapper {
        margin-right: -30px;
    }
    .pag__item {
        padding: 0 18px;
    }
    &-button {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        color: #00AFCA;
        font-weight: 500;
        font-weight: 500;
    }
    &__item {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        color: #000000;
        transition: 0.2s;
        &:hover {
            color: #00AFCA;
        }
    }
    
}

.m-field {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7C8793;
    padding-left: 23px;
    border: 1px solid #D9D9DE;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
}
.m-button {
    background: #00AFCA;
    border-radius: 4px;
    height: 50px;
    padding: 0 28px;
    border: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 100%;
    text-transform: uppercase;
}
.m-bg-cont {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    img {
        display: none;
    }
}

.best {
    &__top {
        margin-bottom: 52px;
    }
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 100px;
    }
    &__content {
        flex-grow: 1;   
    }
}

.concurs {
    padding: 45px 72px;
    background: #F6F7F8;
    border-radius: 4px;
    max-width: 780px;
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        color: #333333;
        margin-bottom: 30px;
        font-weight: 500;
    }
    &__list {
        list-style: none;
        li {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            margin-bottom: 25px;
            position: relative;
            &:before {
                background: #00AFCA;
                width: 8px;
                height: 8px;
                border-radius: 10px;
                content: '';
                position: absolute;
                left: -28px;
                top: 8px;
            }
        }
    }
    &__bottom {
        width: 100%;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    &__text {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
    }
    &__button {
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        text-transform: uppercase;
        color: #00AFCA;
        border: 1px solid #00AFCA;
        box-sizing: border-box;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 25px;
        height: 45px;
        font-weight: 500;
        transition: 0.2s;
        &:hover {
            background-color: #00AFCA;
            color: white;
        }
    }
    margin-bottom: 50px;

}
.html {
    h2 {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 140%;
        margin-bottom: 44px;
        color: #333333;
        font-weight: 500;
        margin-top: 0;
    }
    h1 {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 120%;
        display: flex;
        align-items: flex-end;
        color: #333333;
        margin-top: 0;
        font-weight: 500;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 156%;
        color: #333333;
        margin-bottom: 20px;
    }
    counter-reset: section;
    ol {
        list-style: none;
        padding: 0;
        li {
            margin-bottom: 18px;
            &:before {
                margin-right: 10px;
                counter-increment: section;
                content: counter(section) "."; 
            }
        }
    }
}


.cite, cite, blockquote {
    padding: 44px 72px;
    background: #F6F7F8;
    border-radius: 4px;
    position: relative;
    max-width: 780px;
    svg {
        top: 35px;
        left: 19px;
        position: absolute;   
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        font-weight: 500;
    }
}

.target {
    &__top {
        margin-bottom: 52px;
    }
    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &__content {
        flex-grow: 1;   
        margin-right: 45px;
    }
    &__items {
        width: 100%;
    }
    .news__sidebar {
        margin-top: 0;
    }
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 120%;
        display: flex;
        align-items: flex-end;
        color: #333333;
        font-weight: 500;   
        margin-bottom: 50px;
        &-s{
            display: flex;
            font-size: 22px;
            line-height: 140%;
            color: #333333;
            align-items: center;
            img{
                max-width: 80px;
                max-height: 80px;
                flex-shrink: 0;
                margin-right: 36px;
            }
        }
    }
    &__items {
        margin-right: -40px;
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        width: 172px;
        display: flex;
        margin-right: 40px;
        margin-bottom: 40px;
        transition: 0.2s;
        &:hover {
            .target__button-cont {
                opacity: 1;
                visibility: visible;

            }
        }
        position: relative;
    }
    &__button-cont {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: hidden;
        opacity: 0;
        transition: 0.2s;
    }
    &__button {
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
        height: 30px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: flex-end;
        text-align: center;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        color: #FFFFFF;

    }
    
}

.tabs__block {
    display: none;
    &.active {
        display: flex;
    }
}

.m-tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__tabs {
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #D9D9DE;
        margin-top: 20px;
        a {
            height: 35px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 120%;
            display: flex;
            align-items: center;
            margin-right: 25px;
            border-bottom: 2px solid transparent;
            transition: 0.2s;
            font-weight: 500;
            color: #000000;
            &.active {
                border-bottom: 2px solid #00AFCA;
                color: #00AFCA;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    max-width: 100vw;
}
.merror {

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 177px 0 150px 0;
    }
    &__content {
        max-width: 992px;
        width: 100%;
        display: flex;
        align-items: center;
        
    }
    position: relative;
    &__back {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: -1;
    }
    &__left {
        max-width: 360px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 70px;
    }
    &__title {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        margin-bottom: 10px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        color: #333333;
        font-weight: 500;
        
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__404 {
        font-style: normal;
        font-weight: normal;
        font-size: 240px;
        line-height: 100%;
        color: #00AFCA;
        font-weight: 500;
        display: flex;
        span {
            color: #ED2D23;
        }

    }
    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 150%;
        color: #333333;
        margin-bottom: 20px;
    }
    &__button {
        border: 1px solid #00AFCA;
        box-sizing: border-box;
        border-radius: 2px;
        height: 45px;
        padding: 0 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 100%;
        display: flex;
        align-items: center;
        font-weight: 500;
        text-transform: uppercase;
        color: #00AFCA;
        transition: 0.2s;
        &:hover {
            background-color: #00AFCA;
            color: white;
        }
    }


}
.contacts {
    &__map {
        width: 100%;
        flex-shrink: 0;
        height: 772px;
        position: relative;
    }
    .wrapper {
        height: 0;
    }
    &__content {
        position: relative;
        top: 50px;
        z-index: 2;
        padding: 25px 17px 25px 35px;
        background: #FFFFFF;
        max-width: 500px;
        width: 100%;
        border-radius: 4px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        margin-bottom: 15px;
    }
    &__rout {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        display: flex;
        line-height: 24px;
        color: #00AFCA;
        margin-bottom: 15px;
    }
    &__phone {
        font-weight: 500;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        color: #333333;
        font-weight: 500;
        margin-bottom: 10px;
    }
    &__mail {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        color: #333333;
        margin-bottom: 20px;
    }
    &__soc {
        display: flex;
        a {
            display: flex;
            width: 32px;
            height: 32px;
            margin-right: 25px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 120%;
        display: flex;
        align-items: flex-end;
        color: #333333;
        margin-bottom: 50px;
    }
    &__title-2 {
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 140%;
        display: flex;
        align-items: flex-end;
        color: #00AFCA;
        font-weight: 500;
        margin-bottom: 20px;
    }

}