<div class="pag">
    <a href="#" class="pag-button pag-prev">
        НАЗАД
    </a>
    <div class="pag__content">
        <a href="#" class="pag__item">1</a> 
        <a href="#" class="pag__item">2</a> 
        <a href="#" class="pag__item">3</a> 
        <a href="#" class="pag__item">4</a> 
    </div>
    <a href="#" class="pag-button pag-next">
            ВПЕРЕД
    </a>
</div>