<div class="news__sidebar">
    <div class="news__sidebar-title">
            Последние новости
    </div>

    <div class="news__sidebar-news">
        
        <div class="news__sidebar-new">
            <div class="news__item-top">
                <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                <span>{{Icon iconName="news-eye"}}1050</span>
                <span>{{Icon iconName="news-com"}} 12</span>
            </div>
            <div class="news__sidebar-new-title">
                    Студентам-волонтерам повысят стипению на 30% в Казахстане…
            </div>
            <a href="#" class="news__item-link">
                    Читать далее {{Icon iconName="arrow-right-orange"}}
            </a>
        </div>

        <div class="news__sidebar-new">
            <div class="news__item-top">
                <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                <span>{{Icon iconName="news-eye"}}1050</span>
                <span>{{Icon iconName="news-com"}} 12</span>
            </div>
            <div class="news__sidebar-new-title">
                    Студентам-волонтерам повысят стипению на 30% в Казахстане…
            </div>
            <a href="#" class="news__item-link">
                    Читать далее {{Icon iconName="arrow-right-orange"}}
            </a>
        </div>

        <div class="news__sidebar-new">
            <div class="news__item-top">
                <span>{{Icon iconName="news-cal"}} 28 ноября</span>
                <span>{{Icon iconName="news-eye"}}1050</span>
                <span>{{Icon iconName="news-com"}} 12</span>
            </div>
            <div class="news__sidebar-new-title">
                    Студентам-волонтерам повысят стипению на 30% в Казахстане…
            </div>
            <a href="#" class="news__item-link">
                    Читать далее {{Icon iconName="arrow-right-orange"}}
            </a>
        </div>

    </div>

    <div class="news__sidebar-title">
            Читайте нас в социальных сетях
    </div>
    <div class="news__sidebar-social">
        <a href="#">{{Icon iconName="news-fb"}}</a>
        <a href="#">{{Icon iconName="news-vk"}}</a>
        <a href="#">{{Icon iconName="news-inst"}}</a>
    </div>

    <div class="news__sidebar-title">
            Будьте в курсе всех событий
    </div>
    <div class="news__sidebar-subscribe">
        <input type="text" class="news__sidebar-field m-field" placeholder="Электронная почта">
        <button class="news__sidebar-button m-button">подписаться</button>
    </div>
</div>